@import "@/utils/fn.scss";
.page-wrapper {
  width: 100%;
  background-color: #fff;
  height: 92rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 38rpx;
  box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(243, 243, 243, 0.5);
  .time-zone {
    @include textfclaw(27rpx, #333);
    font-weight: 400;
    display: flex;
    text {
      font-weight: bold;
    }
    .sandglass {
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/zhichong/index/sandglass-tag.png"
      );
      height: 40rpx;
      width: 40rpx;
    }
    .time {
      font-weight: bold;
    }
  }
  .button {
    width: 165rpx;
    height: 62rpx;
    line-height: 62rpx;
    font-weight: bold;
    background-color: rgba(255, 238, 165, 1);
    border-radius: 31rpx;
    @include textfclaw(27rpx, #333);
  }
}
.tip-card {
  box-sizing: border-box;
  width: 577rpx;
  background: #ffffff;
  border-radius: 38rpx;
  backdrop-filter: blur(10px);
  padding: 0 38rpx;
  position: relative;
  .pet-icon {
    @include absNormal($w: 346rpx, $h: 192rpx, $top: -115rpx, $left: 50%);
    transform: translateX(-50%);
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/popovercutePet.png"
    );
  }
  .content {
    padding: 77rpx 0;
    font-size: 27rpx;
    color: #666666;
    line-height: 38rpx;
    text-align: center;
  }
  .line {
    width: 500rpx;
    height: 2rpx;
    background-color: #e6e6e6;
  }
  .footer {
    display: flex;
    align-items: center;
    .cancel {
      flex: 1;
      font-size: 31rpx;
      color: #25252a;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 94rpx;
    }
    .line2 {
      width: 2rpx;
      height: 38rpx;
      background-color: #e6e6e6;
    }
    .confirm {
      flex: 1;
      height: 94rpx;
      font-weight: bold;
      font-size: 31rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #25252a;
    }
  }
}
