.empty-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  margin-bottom: 95rpx;
  &-ico {
    height: 346rpx;
    width: 346rpx;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/mall/empty_my_collection.png);
  }
  &-text {
    font-size: 29rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 40rpx;
  }
  .empty-view-btn {
    display: flex;
    margin-top: 12rpx;
    justify-content: space-between;
    width: 60%;
  }
  .empty-view-btn-text {
    background-color: #ff5f0b;
    border-radius: 50rpx;
  }
}
