.index-warp {
    background-color: #FFFFFF;
    padding-top: 31rpx;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 29rpx 23rpx;
    position: relative;
}


.bg {
    width: 750rpx;
    height: 1445rpx;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
}

.ewm {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: 280rpx;
    height: 280rpx;
    padding-top: 653rpx;
}

// .qName {
//     position: absolute;
//     left: 50%;
//     top: 0%;
//     transform: translate(-50%, 0%);
//     width: 280rpx;
//     height: 280rpx;
//     padding-top: 484rpx;


//     width: 100%;
//     height: 71rpx;
//     font-size: 50rpx;
//     font-weight: bold;
//     color: #000000;
//     line-height: 71rpx;
//     margin: 0 auto;
//     text-align: center;
// }

.frame1 {
    position: absolute;
    left: 50%;
    top: 484rpx;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 458rpx;
    height: 96rpx;

    .qName1 {
        width: 458rpx;
        height: 96rpx;
        font-size: 50rpx;
        font-weight: bold;
        color: #000000;
        line-height: 72rpx;
        margin: 0 auto;
        text-align: center;
    }

}


.frame2 {
    position: absolute;
    left: 50%;
    top: 476rpx;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 458rpx;
    height: 96rpx;
}

.qName2 {
    width: 458rpx;
    font-size: 40rpx;
    font-weight: bold;
    color: #000000;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}