.noData-box {
  // width: 440rpx;
  // height: 430rpx;
  // position: absolute;
  // // top: 30%;
  // left: 50%;
  // transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .noData-text {
    margin-top: 19rpx;
    color: #999999;
    font-size: 26rpx;
    line-height: 35rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .noData-img {
    width: 346rpx;
    height: 346rpx;
  }

  text {
    margin-top: 19rpx;
    display: inline-block;
    color: #999999;
    font-size: 26rpx;
  }

  .noData-buttonBox {
    margin-top: 40rpx;
    // width: 629rpx;
    width: 100vw;

    .btnBox {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .btn {
        width: 269rpx;
        height: 85rpx;
        border-radius: 42rpx;
        border: 2rpx solid #e6e6e6;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 31rpx;
        color: #1f1f1f;
        line-height: 85rpx;
        text-align: center;
        font-style: normal;
      }
    }

    .shopList {
      margin: 0 auto;
      margin-top: 60rpx;
      width: 719rpx;
    }
  }
}
