.page-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.bg {
  // position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_bg.png);

  display: flex;
  flex-direction: column;
  padding: 142rpx 54rpx;

  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.petImg {
  width: 750rpx;
  height: 1208rpx;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_img.png);
  position: absolute;
  left: 0rpx;
  bottom: 0rpx;
  z-index: 1;
}

.countbg {
  width: 130rpx;
  height: 83rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_count.png);
  position: absolute;
  left: 0rpx;
  top: 17rpx;
  z-index: 3;

  .num {
    // width: 60rpx;
    height: 48rpx;
    font-size: 35rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    color: #000000;
    line-height: 48rpx;
    margin-left: 35rpx;
    margin-top: 17rpx;

    .num_right {
      height: 48rpx;
      font-size: 26rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      color: #000000;
      line-height: 48rpx;
      margin-top: 17rpx;
    }
  }
}

.buttomImg {
  width: 750rpx;
  height: 38rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_buttom.png);
  position: absolute;
  left: 0rpx;
  bottom: 0rpx;
  z-index: 2;
}

.question {
  width: 642rpx;
  // height: 158rpx;

  // padding: 4rpx;
  z-index: 2;
}

.qText {
  width: 658rpx;
  // height: 63rpx;
  font-size: 46rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 63rpx;
  padding: 23rpx 31rpx;

  background: linear-gradient(270deg, #f8f7f1 0%, #fde3cd 100%);
  border: 2rpx solid #000000;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 2;
  margin-left: -5rpx;
}

.pot1 {
  width: 15rpx;
  height: 15rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn.png);
  position: absolute;
  left: -8rpx;
  top: -8rpx;
}

.pot2 {
  width: 15rpx;
  height: 15rpx;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn.png);
  position: absolute;
  right: -8rpx;
  top: -8rpx;
}

.pot3 {
  width: 15rpx;
  height: 15rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn.png);
  position: absolute;
  left: -8rpx;
  bottom: -8rpx;
}

.pot4 {
  width: 15rpx;
  height: 15rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn.png);
  position: absolute;
  right: -8rpx;
  bottom: -8rpx;
}

.answer1 {
  width: 630rpx;
  height: 128rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn_2.png);
  margin-top: 55rpx;

  &.check {
    background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn_1.png);
  }

  display: flex;
  align-items: center;
  z-index: 10;
}

.answer2 {
  width: 630rpx;
  height: 128rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn_2.png);
  margin-top: 30rpx;

  &.check {
    background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/qa_btn_1.png);
  }

  display: flex;
  align-items: center;

  z-index: 10;
}

.aText {
  // height: 54rpx;
  font-size: 38rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 54rpx;
  margin-left: 107rpx;
  width: 500rpx;
  margin-top: -8rpx;
  // margin-top: 34rpx;
}

.myPetName {
  position: absolute;
  left: 0rpx;
  top: 36rpx;
  // bottom: 0rpx;

  width: 100%;
  height: 42rpx;
  font-size: 31rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 42rpx;
  text-align: center;
}

.anim {
  width: 235rpx;
  height: 235rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/mbtiTestAnim.png);
  position: absolute;
  top: 487rpx;
  left: 258rpx;

  .animText {
    width: 300rpx;
    height: 42rpx;
    font-size: 31rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 42rpx;
    margin-left: -5rpx;
    margin-top: 260rpx;
  }
}
