@import "../../../utils/fn.scss";
.cell {
  border-bottom: 1px solid #ffffff;
  padding: 23rpx 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 25rpx;
  color: #666666;
  line-height: 42rpx;
  &-title {
    color: #1f1f1f;
    font-size: 29rpx;
  }
  &-desc01 {
    color: #666666;
    font-size: 29rpx;
  }
  &-desc {
    height: 50rpx;
    border-radius: 25rpx;
    border: 2rpx solid #fe2442;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 25rpx;

    .tag-item {
      background-color: #fff;
      color: #fe2442;
      padding: 8rpx 19rpx;
      &-actived {
        background-color: #fe2442;
        color: #fff;
      }
    }
  }
}
.delivery-policy {
  border-radius: 4rpx;
  font-weight: 400;
  font-size: 23rpx;
  color: #8a4c35;
  line-height: 33rpx;
  margin-top: -12rpx;
  display: flex;
  justify-content: flex-end;
  .deliveryPolicy {
    background-color: #fff5dd;
    padding: 2rpx 8rpx;
    border-radius: 4rpx;
  }
}
.pickup-panel {
  // height: 340rpx;
  width: 673rpx;
  border-radius: 23rpx;
  background: #f7f8fc;
  position: relative;
  padding: 31rpx 23rpx;
  &::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15rpx solid transparent;
    border-bottom: 15rpx solid #f7f8fc;
    border-left: 15rpx solid transparent;
    border-right: 15rpx solid transparent;
    right: 54rpx;
    top: -25rpx;
  }
  .pp-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 29rpx;
    color: #1f1f1f; // #666666;
  }
  .pp-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 470rpx;
    text-align: right;
    color: #1f1f1f;
  }
  .pp-desc-phone {
    display: flex;
    align-items: center;
    .iconfont {
      color: #666;
      width: 16px;
      height: 16px;
    }
  }
  .pp-desc-time {
    display: flex;
    align-items: center;
    color: #1f1f1f;
    .iconfont {
      color: #666;
      width: 16px;
      height: 16px;
    }
  }
  .add-detail {
    margin-bottom: 38rpx;
    .nav {
      width: 78rpx;
      height: 78rpx;
      text-align: center;
      @include flex();
      flex-direction: column;
      img {
        width: 23rpx;
        height: 23rpx;
      }
      .nav-title {
        color: #666666;
        font-size: 19rpx;
        line-height: 27rpx;
      }
    }
  }
  .add-detail {
    width: 100%;
    display: flex;
    justify-content: space-between; // flex-end;
    .content {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      font-size: 400;
      font-size: 27rpx; // 25rpx;
      color: #666;
      line-height: 38rpx; // 33rpx;
      text-align: left; // right;
      width: 480rpx;
      @include textOverflow($lamp: 2);
    }

    .nav {
      .nav-icon {
        width: 46rpx;
        height: 46rpx;
        background: #ffffff;
        border-radius: 50%;
        margin-bottom: 4rpx;
        @include flex();
        .icon {
          width: 23rpx;
          height: 23rpx;
          display: inline-block;
        }
      }
      .nav-text {
        display: block;
        font-family: PingFangSC, PingFang SC;
        @include textfclaw(19rpx, #666666, $align: center, $lineH: 27rpx);
      }
    }
  }
}
