@import "@/utils/fn.scss";
.wrapper {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 38rpx;
  border-top-right-radius: 38rpx;
  .input-wrapper {
    // min-height: 108rpx;
    min-height: 88rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15rpx 23rpx 0rpx 23rpx;
    .send-button {
      @include textfclaw(27rpx, #fff);
      font-weight: bold;
      height: 54rpx;
      width: 54rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/ai-send.png"
      );
    }
    .text-card {
      box-sizing: border-box;
      padding: 10rpx 20rpx;
      min-width: 626rpx;
      background: #f5f6f7;
      border-radius: 38rpx;
    }
    .andCard {
      padding: 20rpx 20rpx !important;
    }
    .input {
      width: 100%;
      // min-height: 78rpx;
      border: none;
      outline: none;
      font-size: 32rpx;
      max-height: 120rpx;
      background-color: #f5f6f7;
    }
    image {
      height: 54rpx;
      width: 54rpx;
    }
  }
  .input-wrapper ::v-deep .u-textarea {
    height: 77rpx !important; //不生效
  }
  .extra-wrapper {
    height: 450rpx;
    background-color: #f5f6f8;
    overflow-y: scroll;
    position: relative;

    .content {
      padding: 31rpx 5rpx;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      .emoji-item {
        flex: 0 106rpx;
        text-align: center;
        margin-bottom: 40rpx;
      }
      .button {
        color: #fff;
        background-color: $themeColor;
        height: 62rpx;
        width: 115rpx;
        line-height: 62rpx;
        position: fixed;
        bottom: 94rpx;
        // top: 285rpx;
        right: 31rpx;
        text-align: center;
        border-radius: 31rpx;
        @include textfclaw(31rpx, #fff);
        font-weight: bold;
        box-shadow: 0px 0px 31rpx 0px rgba(0, 0, 0, 0.04);
      }
      .delete {
        height: 123rpx;
        width: 177rpx;
        position: fixed;
        bottom: 63rpx;
        // top: 285rpx;
        right: 138rpx;
        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/delete-emoji-tag.png"
        );
      }
    }
    .upload {
      padding: 42rpx 58rpx;
      display: flex;
      @include textfclaw(19rpx, #666);
      font-weight: 400;
      .item {
        margin-right: 73rpx;
        display: flex;
        justify-content: center;
        flex-direction: column;
        image {
          height: 104rpx;
          width: 104rpx;
          margin-bottom: 15rpx;
        }
      }
    }
  }
}
