// @import "utils/fn.scss";

.title {
  width: 100%;
  height: 115rpx;
  font-size: 35rpx;
  font-weight: 500;
  color: #000000;
  line-height: 115rpx;
  text-align: center;
  border-bottom: 1rpx solid #e6e6e6;
}

.wrapper {
  height: 808rpx;
  width: 100%;
  display: flex;
  .date-choose {
    width: 288rpx;
    .date-item {
      height: 115rpx;
      background: #f7f8fc;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 58rpx;
      &-activated {
        background: #fff;
      }
    }
  }
  .time-choose {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    .time-item {
      padding-left: 29rpx;
      padding-right: 29rpx;
      height: 115rpx;
      color: #1f1f1f;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 29rpx;
      border-bottom: 1rpx solid #e6e6e6;
      &-activated {
        color: rgba(254, 36, 66, 1);
      }
      .iconfont {
        color: rgba(254, 36, 66, 1);
        font-size: 38rpx;
      }
    }
  }
}

.button {
  height: 92rpx;
  border-radius: 46rpx;
  line-height: 92rpx;
  text-align: center;
  font-size: 31rpx;
  font-weight: bold;
  width: 673rpx;
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
  background: rgba(254, 36, 66, 1);
}
