@import "../../../utils/fn.scss";
@import "../../../utils/membertheme.scss";
.main_content {
  width: 100%;
  height: 300rpx;
  margin-bottom: 23rpx;
  position: relative;

  .swiper-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    .growthwrap {
      .toppart {
        position: relative;
        width: 100%;
        height: 300rpx;
        margin-bottom: 38rpx;
        margin: 0 10rpx;
        .backbg {
          width: 684rpx;
          height: 300rpx;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        .leveltip {
          font-size: 25rpx;
          line-height: 35rpx;
          @include absNormal(auto, auto, $bottom: 152rpx, $left: 41rpx);
        }
        .nexttips {
          @include absNormal(auto, auto, $bottom: 38rpx, $left: 41rpx);
          font-size: 25rpx;
          line-height: 35rpx;
          @include flex();
          .iconfont {
            margin-left: 8rpx;
            font-size: 23rpx;
            line-height: 1;
          }
        }
        .growth {
          @include absNormal(313rpx, auto, $bottom: 38rpx, $left: 40rpx);

          .growthtext {
            font-size: 25rpx;
            line-height: 35rpx;
            .avalibelscore {
              margin-left: 15rpx;
              font-weight: bold;
            }
            .iconfont {
              // vertical-align: middle;
              font-size: 24rpx;
              margin-left: 6rpx;
              line-height: 1;
            }
          }

          .progress {
            width: 313rpx;
            height: 6rpx;
            background: rgba(48, 14, 0, 0.1);
            border-radius: 4rpx;
            backdrop-filter: blur(10px);
            position: relative;
            margin-top: 12rpx;
            .subbar {
              width: 40%;
              height: 6rpx;
              border-radius: 4rpx;
            }
          }
        }
        .upgradeBtn {
          .slide-down {
            width: 60rpx;
            height: 85rpx;
            position: absolute;
            position: absolute;
            top: 0;
          }
          width: 604rpx;
          height: 85rpx;
          border-radius: 42rpx;
          position: absolute;
          bottom: 0rpx;
          text-align: center;
          line-height: 85rpx;
          font-weight: 500;
          font-size: 31rpx;
          color: #FFFFFF;
          font-style: normal;
          display: flex;
          justify-content: center;
          position: relative;
          overflow: hidden;
        }
        .btn1{
          background: #4589C1;
        }
        .btn2{
          background: getNormalColor(2);
        }
        .btn3{
          background: getNormalColor(3);
        }
        .btn4{
          background: getNormalColor(4);
        }
      }
    }
    .swiperitem1 {
      .upgradeBtn {
        background: linear-gradient(
          90deg,
          getNormalColor(1) 0%,
          getDeepColor(1) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(1) 0%,
          getDeepColor(1) 100%
        );
      }
    }
    .swiperitem2 {
      .upgradeBtn {
        background: linear-gradient(
          90deg,
          getNormalColor(2) 0%,
          getDeepColor(2) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(2) 0%,
          getDeepColor(2) 100%
        );
      }
    }
    .swiperitem3 {
      .upgradeBtn {
        background: linear-gradient(
          90deg,
          getNormalColor(3) 0%,
          getDeepColor(3) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(3) 0%,
          getDeepColor(3) 100%
        );
      }
    }
    .swiperitem4 {
      .upgradeBtn {
        background: linear-gradient(
          90deg,
          getNormalColor(4) 0%,
          getDeepColor(4) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(4) 0%,
          getDeepColor(4) 100%
        );
      }
    }
    .swiperitem5 {
      .upgradeBtn {
        background: linear-gradient(
          90deg,
          getNormalColor(5) 0%,
          getDeepColor(5) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(5) 0%,
          getDeepColor(5) 100%
        );
      }
    }
    .swiperitem6 {
      .upgradeBtn {
        color: #202020 !important;
        background: linear-gradient(
          90deg,
          getNormalColor(6) 0%,
          getDeepColor(6) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(6) 0%,
          getDeepColor(6) 100%
        );
      }
    }
    .swiperitem7 {
      .upgradeBtn {
        background: linear-gradient(
          90deg,
          getNormalColor(7) 0%,
          getDeepColor(7) 100%
        );
      }
      .subbar {
        background: linear-gradient(
          90deg,
          getNormalColor(7) 0%,
          getDeepColor(7) 100%
        );
      }
    }
    &.level_6_box {
      .progress {
        background: rgba(255, 255, 255, 0.1) !important;
      }
    }
  }
}

.marginTop40 {
  margin-top: -15rpx;
}
