@import "../../utils/fn.scss";
.sheet-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #f5f6f7;
  padding-bottom: 38rpx;
  padding-top: 20rpx;
  .diagnose {
    width: 719rpx;
    margin: 0 auto;
    position: relative;
    margin-bottom: 19rpx;
    .head-bg {
      @include absNormal(719rpx, 167rpx, $top: 0, $left: 0);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/firstcase/first-head-tag.png"
      );
    }
    .title {
      // height: 42rpx;
      display: flex;
      width: 100%;
      // border-bottom: 1rpx solid #e6e6e6;
      margin-bottom: 31rpx;
      justify-content: space-between;
      align-items: center;
      .left {
        @include textfclaw(31rpx, #333);
        font-weight: bold;
        position: relative;
        &::before {
          content: "";
          @include absNormal(8rpx, 27rpx, $top: 8rpx, $left: -23rpx);
          display: block;
          background-color: $themeColor;
          border-radius: 0 4rpx 4rpx 0;
        }
      }
      &.first-title {
        padding-top: 96rpx;
      }
    }
    .color-tag {
      height: 42rpx;
      padding: 4rpx 15rpx;
      border-radius: 21rpx;
      // line-height: 42rpx;
      font-size: 25rpx;
      font-weight: bold;
      width: fit-content;
      display: flex;
      align-items: center;
      // margin-top: 31rpx;
      margin-bottom: 23rpx;
      &.suspect {
        background: rgba(255, 180, 0, 0.1);
        color: #ffb400;
        border: 1px solid #ffb400;
        padding: 0 30rpx;
      }
      &.advice {
        background: rgba(45, 206, 128, 0.1);
        color: #2dce80;
        border: 1px solid #2dce80;
      }
    }
    .content {
      @include textfclaw(27rpx, #333);
      font-weight: 400;
      text-align: left;
      // margin-top: 31rpx;
      padding-bottom: 31rpx;
      line-height: 38rpx;
      &.bold {
        font-weight: bold;
      }
      &:last-child {
      }
    }
    .top-wrapper {
      height: 167rpx;
      width: 719rpx;
      margin: 0 auto;
      padding: 0 23rpx;
    }
    .bot-wrapper {
      background-color: #fff;
      width: 719rpx;
      margin: 0 auto;
      padding: 0 23rpx;
    }
    .skirt {
      height: 16rpx;
      width: 719rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/firstcase/first-bottom-tag.png"
      );
    }
  }
  .panel {
    width: 719rpx;
    border-radius: 15rpx;
    padding: 10rpx 23rpx 10rpx;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 19rpx;
    .title {
      height: 81rpx;
      display: flex;
      width: 100%;
      // border-bottom: 1rpx solid #e6e6e6;
      margin-bottom: 27rpx;
      justify-content: space-between;
      align-items: center;
      .left {
        @include textfclaw(31rpx, #333);
        font-weight: bold;
        position: relative;
        &::before {
          content: "";
          @include absNormal(8rpx, 27rpx, $top: 8rpx, $left: -23rpx);
          display: block;
          // background-color: $themeColor;
          border-radius: 0 4rpx 4rpx 0;
        }
      }
      .right {
        height: 38rpx;
        display: flex;
        align-items: center;
        @include textfclaw(27rpx, #999);
        line-height: 38rpx;
        image {
          height: 31rpx;
          width: 31rpx;
        }
      }
    }
    .prescription {
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .prescription-original {
        width: 138rpx;
        height: 46rpx;
        background: #ffffff;
        border-radius: 31rpx;
        border: 1px solid #e6e6e6;
        text-align: center;
        font-size: 23rpx;
        font-weight: 400;
        color: #000000;
        line-height: 46rpx;
        margin-left: 31rpx;
        @include flex()
      }
      .prescription-official {
        width: 130rpx;
        height: 81rpx;
        position: absolute;
        right: -20rpx;
        top: 0;
        image {
          width: 130rpx;
          height: 81rpx;
        }
      }
    }
    .detail {
      .info1 {
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        margin-bottom: 19rpx;
        .name {
          @include textfclaw(27rpx, #1f1f1f);
          width: 180rpx;
          display: flex;
          &.letter {
            letter-spacing: 5rpx;
          }
        }
        .content {
          @include textfclaw(27rpx, #666666);
        }
      }
      .info2 {
        display: flex;
        // line-height: 38rpx;
        justify-content: space-between;
        margin-bottom: 23rpx;
        .key {
          @include textfclaw(27rpx, #1f1f1f);
          font-weight: 400;
        }
        .value {
          @include textfclaw(27rpx, #666666, $align: right);
          font-weight: 400;
          max-width: 490rpx;
          &.img-wrapper {
            display: flex;
            max-width: 511rpx;
            justify-content: flex-end;
            word-break: break-all;
            flex-wrap: wrap;
          }
          &.taglist {
            max-width: 488rpx;
            text-align: right;
            word-break: break-all;
          }
          image {
            height: 88rpx;
            width: 88rpx;
            border-radius: 10rpx;
            margin-left: 15rpx;
          }
        }
      }
      .info3 {
        margin-top: 15rpx;
        width: 100%;
        word-break: break-all;
        margin-bottom: 19rpx;
        font-weight: 400;
        .title-info3 {
          @include textfclaw(27rpx, #999);
          text-align: left;
        }
        .content {
          background: #f5f6f7;
          border-radius: 15rpx;
          padding: 19rpx;
          width: 673rpx;
          margin: 0 auto;
          margin-top: 23rpx;
          @include textfclaw(27rpx, #333);
          font-weight: 400;
          line-height: 38rpx;
          text-align: left;
        }
      }
      .info4 {
        padding-bottom: 19rpx;
        .title-info4 {
          @include textfclaw(27rpx, #666);
          text-align: left;
        }
        .con-info4 {
          margin-top: 15rpx;
          @include textfclaw(27rpx, #333);
          text-align: left;
        }
      }
      .detail-btn {
        width: 673rpx;
        height: 92rpx;
        background: #ffffff;
        border-radius: 46rpx;
        border: 1px solid #e6e6e6;
        text-align: center;
        line-height: 92rpx;
        font-size: 31rpx;
        font-weight: bold;
        color: #333333;
        margin-top: 31rpx;
        margin-bottom: 31rpx;
      }
    }
    .list-item {
      display: flex;
      .avatar {
        height: 88rpx;
        width: 88rpx;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
      }
      .info {
        margin-left: 19rpx;
        padding-bottom: 29rpx;
        .first-row {
          height: 48rpx;
          line-height: 48rpx;
          display: flex;
          align-items: center;
          &.no-doc {
            height: 88rpx;
            line-height: 88rpx;
          }
          .name {
            @include textfclaw(35rpx, #000);
            font-weight: bold;
            margin-right: 8rpx;
          }
          .depart {
            @include textfclaw(23rpx, #333);
            font-weight: 400;
          }
        }
        .aiDepartment {
          width: 570rpx;
          color: #1f1f1f;
          font-size: 26rpx;
          margin-top: 5rpx;
        }
        .aiDirection {
          width: 570rpx;
          color: #666666;
          font-size: 24rpx;
        }
        .second-row {
          margin: 10rpx 0 10rpx 0;
          height: 38rpx;
          line-height: 38rpx;
          @include textfclaw(27rpx, #666, left);
          .name {
            color: #666;
          }
          .num {
            color: #ff5b05;
            font-weight: bold;
          }
          .margin29 {
            margin-right: 29rpx;
          }
        }
        .third-row {
          height: 31rpx;
          line-height: 31rpx;
          margin-top: 15rpx;

          @include textfclaw(23rpx, #666, left);
        }
        .forth-row {
          height: 31rpx;
          line-height: 31rpx;
          margin-top: 15rpx;
          @include textfclaw(23rpx, #666, left);
          @include ellipsis(565rpx);
        }
      }
    }
    .prescription-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 31rpx;
      .prescription-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 27rpx;
        font-weight: 400;
        color: #000000;
        .prescription-name {
          max-width: 460rpx;
          @include ellipsis(510rpx);
        }
        // .prescription-num {
        //    width: 100rpx;
        // }
      }
      .prescription-bottom {
        margin-top: 23rpx;
        font-size: 23rpx;
        color: #999999;
        font-weight: 400;
        width: 673rpx;
      }
    }
  }
  .foot {
    width: 100vw;
    height: 180rpx;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 0;
    padding-top: 18rpx;
    border-top: 1rpx solid #f5f5f5;
    .foot-btn {
      text-align: center;
      width: 690rpx;
      height: 78rpx;
      margin: 0 auto;
      line-height: 78rpx;
      font-size: 31rpx;
      border-radius: 35rpx;
      color: #000;
      font-weight: 700;
      background-color: #f8d64e;
    }
  }
  .brick {
    height: 170rpx;
    width: 750rpx;
  }
}
.navbar-right{
  height: 40rpx;
  @include textfclaw(27rpx, #000);
  position: absolute;
  top: 50%;
  right: 25rpx;
  transform: translateY(-50%);
}