.address-card {
  box-sizing: border-box;
  padding: 20rpx 20rpx 200rpx;
  min-height: 100vh;
  background: #f7f8fc;

  .address-bg-container {
    background-color: #fff;
    padding-bottom: 10rpx;
    padding-top: 20rpx;
    margin-top: -20rpx;
    margin-left: -20rpx;
    margin-right: -20rpx;
    padding-left: 20rpx;
    padding-right: 20rpx;
  }

  .open-search-address-view {
    width: calc(100% - 26.16rpx);
    margin-left: 13.08rpx;
    height: 65rpx;
    background: #ffffff;
    box-shadow: 0rpx 0rpx 8rpx 0rpx rgba(0, 0, 0, 0.01);
    border-radius: 33rpx;
    border: 2rpx solid #1f1f1f;
    margin-bottom: 20rpx;

    .search-address-text {
      height: 65rpx;
      font-size: 27rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      color: #999999;
      line-height: 65rpx;
      text-indent: 40rpx;
    }
  }

  .cur-search {
    width: calc(100% - 25rpx);
    overflow: hidden;
    text-overflow: ellipsis;
    height: 38rpx;
    font-size: 27rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    color: #1f1f1f;
    line-height: 38rpx;
    margin-bottom: 20rpx;
    white-space: nowrap;
    text-indent: 10rpx;
    margin-left: 13.08rpx;
  }

  .list-header-tips {
    height: 38rpx;
    font-size: 27rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 38rpx;
    text-indent: 10rpx;
    margin-top: 40rpx;
  }

  .list {
    border-radius: 8rpx;
    max-height: 70vh;
    overflow: scroll;
  }

  .list-scroll {
    // overflow-y: scroll;
    height: 100%;
  }

  .add-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;

    .adds-text {
      margin: 19rpx 38rpx 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85rpx;
      background-color: #fe2442;
      color: white;
      border-radius: 42.5rpx;
      font-size: 31rpx;
      font-weight: bold;
      margin-bottom: 25rpx;
    }
  }

  .address-item {
    margin-bottom: 20rpx;
    background: #fff;
    position: relative;
    border-radius: 10rpx;

    .info {
      padding: 20rpx 20rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20rpx;

      .left {
        width: calc(100% - 80rpx);
      }

      .ads {
        width: calc(100% - 80rpx);
        font-size: 25rpx;
        color: #2a2c33;
        font-weight: 300;
        height: 30rpx;
        display: inline-flex;
        align-items: center;

        .phone {
          padding-left: 19rpx;
          padding-right: 12rpx;
        }
      }

      .clicked-class {
      }

      .base {
        display: flex;
        align-items: center;
        margin-bottom: 17rpx;

        .add-province {
          width: calc(100% - 60rpx);
          height: 38rpx;
          font-size: 27rpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          color: #666666;
          line-height: 38rpx;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .name {
          font-size: 31rpx;
          color: #2a2c33;
          font-weight: bold;
        }
      }
    }

    .right {
      width: 42rpx;
      height: 42rpx;
      // background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/order/edit-address.png");
      background-size: 100%;
      // background: #FF5B05;
      border-radius: 50%;
      position: absolute;
      right: 40rpx;
      margin-top: -110rpx;

      .iconfont {
        width: 42rpx;
        height: 42rpx;
        font-size: 30rpx;
      }
    }

    .line {
      height: 1rpx;
      background-color: #e6e6e6;
    }

    .isDefault {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 54rpx;
      height: 28rpx;
      background: #fe2442;
      border-radius: 18rpx;
      font-size: 19rpx;
      font-weight: bold;
      color: white;
      margin-left: 10rpx;
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40rpx;

    .empty-icon {
      width: 346rpx;
      height: 346rpx;
      background: url("https://frontend-cdn.chongpangpang.com/image/newQyk/address-empty.png");
      background-size: 100%;
      margin-bottom: 19rpx;
      margin-right: 20rpx;
    }

    .empty-text {
      font-size: 25rpx;
      color: #999999;
      margin-bottom: 30rpx;
    }

    .empty-add {
      width: 242rpx;
      height: 92rpx;
      line-height: 92rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      width: 100%;
      margin-top: -8rpx;
      border-radius: 31rpx;
      font-size: 25rpx;
      // font-weight: bold;
      color: #ff5b05;
    }
  }
}

.naddress {
  background: #fff;
  min-height: 104rpx;
  border-radius: 23rpx;
  margin-top: 19.23rpx;

  &-address {
    padding: 0 23.08rpx 32.69rpx 23.08rpx;
  }

  &-title {
    padding: 32.69rpx 23.08rpx;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-item {
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #666666;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
    }

    &-icon {
      display: flex;
      align-items: center;

      img {
        width: 42.31rpx;
        height: 42.31rpx;
      }

      &-text {
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 28rpx;
        color: #238cff;
        margin-left: 7.69rpx;
        font-style: normal;
      }
    }
  }
}
