.view {
  .box {
    height: 100vh;

    .header {
      margin-top: 40rpx;
      margin-bottom: 28rpx;
      padding: 0 28rpx;
      font-size: 27rpx;
      color: #1F1F1F;
      &-logitics-num {
        //margin-top: 21rpx;
        margin-bottom: 38rpx;
      }
    }
    .line {
      height: 2rpx;
      background-color: #efefef;
    }

    //.content {
    //height: 2rpx;
    //width: 100vw;
    //background-color: red;
    //margin-bottom: 10rpx;
    //}

    .line-container {
      margin-top: 10rpx;
      margin-bottom: 10rpx;
      padding: 0 28rpx;
    }

    .footer {
      padding: 10rpx 19rpx 10rpx 19rpx;
      font-size: 27rpx;
      color: #1F1F1F;

      &-logitics-info {
        margin-top: 21rpx;
        margin-bottom: 21rpx;
        display: flex;
        flex-direction: row;
        align-items: center;


        .icon {
          margin-right: 17rpx;
          width: 37rpx;
          height: 37rpx;
          display: flex;
          align-items: center; /* 垂直居中对齐 */
          justify-content: center; /* 水平居中对齐 */
          &-bg {
            width: 37rpx;
            height: 37rpx;
            background-color: #FF5B0518;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &-text {
            font-size: 19rpx;
            font-weight: bold;
            color: #FF5B05;
          }
        }
      }
    }
  }
  .empty {
    height: 100vh;
  }
}
