@import "@/utils/fn.scss";
.page-wrapper {
  width: 100%;
  background-color: #f5f6f7;
  position: relative;
  .top-bg {
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/top-bg.png"
    );
    height: 577rpx;
    width: 100%;
    .header {
      height: 110rpx;
      padding: 0 31rpx;
      text-align: center;
      .return {
        height: 88rpx;
        display: flex;
        align-items: center;
        position: relative;
        .icon {
          height: 42rpx;
          width: 46rpx;
          @include bg(
            "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/return.png"
          );
        }
        text {
          display: inline-block;
          font-size: 35rpx;
          font-weight: bold;
          color: #000;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .chat-window-wrapper {
    overflow-y: scroll;
    padding-bottom: 24rpx;
    position: relative;
    .cover {
      position: fixed;
      height: 100vh;
      width: 100%;
      z-index: 100;
    }
    .tag {
      position: absolute;
      left: 23rpx;
      bottom: 15rpx;
      height: 54rpx;
      width: 177rpx;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: #fff;
      border-radius: 27rpx;
      opacity: 0.8;
      @include textfclaw(23rpx, #333, $align: center);
      font-weight: bold;
      image {
        height: 31rpx;
        width: 31rpx;
      }
    }
    .arti-avatar {
      height: 154rpx;
      width: 154rpx;
      position: absolute;
      bottom: 107rpx;
      right: 0;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/arti-avatar.png"
      );
    }
  }
  .toast-body {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    border-radius: 20rpx;
    padding: 20rpx;
    font-size: 28rpx;
    font-weight: bold;
    width: 60vw;
  }
}

::v-deep .u-upload__wrap__preview {
  overflow: visible !important;
  margin-right: 60rpx !important;
}

::v-deep .u-upload__wrap__preview:nth-child(3n) {
  overflow: visible !important;
  margin-right: 0 !important;
}

::v-deep .u-upload__wrap__preview__image {
  border-radius: 20rpx !important;
}

::v-deep .u-upload__success {
  display: none !important;
}

::v-deep .u-upload__deletable {
  width: 34rpx !important;
  height: 34rpx !important;
  top: -10rpx !important;
  right: -10rpx !important;
  border-radius: 50% !important;
  background: #333333 !important;
}

::v-deep .u-upload__deletable__icon {
  transform: scale(1) !important;
  position: initial !important;
  align-items: center !important;
}

::v-deep .u-icon__icon {
  line-height: 34rpx !important;
  font-size: 24rpx !important;
  font-weight: bold !important;
}
