@import "@/utils/fn.scss";
.petPop {
  // height: 1190rpx;
  height: 65vh;
  overflow-y: scroll;
  padding: 126rpx 0 100rpx 0;
}
.ppop {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 38rpx 0;
  background-color: #fff;
  border-radius: 38rpx;
  .title {
    font-size: 35rpx;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-left: 250rpx;
  }
  .cancel {
    width: 50rpx;
    height: 50rpx;
    margin-left: 175rpx;
  }
}
.word {
  padding: 38rpx;
  padding-bottom: 0;
  word-break: break-all;
  font-size: 27rpx;
  color: #2a2c33;
}
.footers {
  box-sizing: border-box;
  padding: 15rpx 38rpx 55rpx;
  width: 100%;
  position: absolute;
  bottom: 0rpx;
  left: 0;
  background-color: #fff;
  .new {
    background-color: #ffd41e;
    height: 85rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 46px;
    .text {
      font-size: 30rpx;
      font-weight: bold;
      color: #1f1f1f;
    }
  }
}
