@import "@/utils/fn.scss";

.page-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #2dce80 0%, #f7fefb 91%, #fdfffe 100%);
  padding-top: 111rpx;
  position: relative;
  .toast-body {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    border-radius: 20rpx;
    padding: 20rpx;
    font-size: 28rpx;
    font-weight: bold;
    width: 60vw;
  }
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28rpx;
  font-size: 35rpx;
  font-weight: bold;
  color: #ffffff;
  height: 48rpx;
  margin-bottom: 83rpx;
  .return {
    width: 42rpx;
    height: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/change/return.png"
    );
  }
}

.prescribe-image {
  width: 686rpx;
  height: 296rpx;
  margin-left: 36rpx;
  @include bg(
    "https://frontend-cdn.chongpangpang.com/image/medical-mp/change/prebg.png"
  );
}

.card-list {
  padding: 0 38rpx;
  margin-top: -20rpx;
  width: 100%;
  .card {
    width: 100%;
    height: 269rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 46rpx;
    padding-right: 30rpx;
    background: linear-gradient(90deg, #ebfff4 0%, #ffffff 100%);
    border-radius: 31rpx;
    margin-bottom: 32rpx;
    .icon {
      width: 153rpx;
      height: 153rpx;
    }
    .info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .name {
        font-size: 42rpx;
        font-weight: bold;
        color: #000000;
        margin-bottom: 11rpx;
      }
      .desc {
        font-size: 27rpx;
        color: #666666;
      }
    }
    .tr {
      width: 42rpx;
      height: 42rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/change/tr.png"
      );
    }
  }
}
