@import "../../utils/fn.scss";
.petPop {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.header {
  box-sizing: border-box;
  padding: 40rpx 38rpx;
  display: flex;
  align-items: center;
  font-weight: bold;
  .cancel {
    font-size: 31rpx;
    color: #666666;
  }
  .title {
    flex: 1;
    font-size: 35rpx;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }
  .confirm {
    font-size: 31rpx;
    color: $themeColor;
  }
}
.petCard {
  padding: 0 38rpx;
}
.petcontent {
  box-sizing: border-box;
  padding-top: 36rpx;
  padding-bottom: 20rpx;
  border-top: 1rpx solid #e6e6e6;
}
.petList {
  box-sizing: border-box;
  height: 405rpx;
}
.autoList {
  height: auto !important;
}
.selectBorder {
  border: 1px solid $themeColor;
  background-color: #dcf8f4 !important;
}
.petItem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15rpx 46rpx 15rpx 19rpx;
  background-color: #f5f6f7;
  border-radius: 58px;
  margin-bottom: 19rpx;
  .avators {
    width: 85rpx;
    height: 85rpx;
    border-radius: 85rpx;
    margin-right: 19rpx;
    display: block;
  }
  .base {
    flex: 1;
    .nameCard {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .name {
      font-size: 31rpx;
      font-weight: bold;
      margin-right: 19rpx;
      color: #333333;
      max-width: 260rpx !important;
      overflow: hidden; //溢出隐藏
      white-space: nowrap; //禁止换行
      text-overflow: ellipsis; //...
      height: 42rpx;
      line-height: 42rpx;
    }
    .year {
      color: #333333;
      font-size: 27rpx;
      height: 42rpx;
      line-height: 42rpx;
    }
    .pettype {
      font-size: 23rpx;
      color: #999999;
      .typeName {
        margin-right: 19rpx;
      }
      .gang {
        margin: 0 10rpx;
      }
    }
  }
  .select {
    width: 46rpx;
    height: 46rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/checked_pet.png");
    background-size: cover;
  }
}
.footers {
  box-sizing: border-box;
  padding: 13rpx 38rpx;
  // border-top: 1px solid #e6e6e6;
  .new {
    background-color: $themeColor;
    height: 85rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 46px;
    .addIcon {
      width: 38rpx;
      height: 38rpx;
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/join1.png");
      background-size: cover;
    }
    .text {
      font-size: 31rpx;
      font-weight: bold;
      color: #ffffff;
    }
  }
}
