.infoPop {
  padding-top: 31rpx;
  width: 100%;

  .header {
    height: 85rpx;
    background: #ffffff;
    border-radius: 38rpx 38rpx 0rpx 0rpx;
    margin-bottom: 38rpx;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    height: 38rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 35rpx;
    color: #1f1f1f;
    line-height: 38rpx;
    text-align: center;
    font-style: normal;
  }

  .img {
    width: 50rpx;
    height: 50rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/close.png");
    background-size: cover;
    margin-right: 31rpx;
  }
}

.uni-swiper-wrapper {
  height: 800rpx;
  margin-bottom: 57rpx;
}

.item-bg {
  width: 600rpx;
  height: 800rpx;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.pic {
  width: 600rpx;
  height: 800rpx;
  background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/cat1.png");
  background-size: cover;

  &.cat1 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/cat1.png");
    background-size: cover;
  }

  &.cat2 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/cat2.png");
    background-size: cover;
  }

  &.cat3 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/cat3.png");
    background-size: cover;
  }

  &.cat4 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/cat4.png");
    background-size: cover;
  }

  &.cat5 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/cat5.png");
    background-size: cover;
  }

  &.dog1 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/dog1.png");
    background-size: cover;
  }

  &.dog2 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/dog2.png");
    background-size: cover;
  }

  &.dog3 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/dog3.png");
    background-size: cover;
  }

  &.dog4 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/dog4.png");
    background-size: cover;
  }

  &.dog5 {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/dog5.png");
    background-size: cover;
  }
}
