.u-page__item__slot-icon {
  width: 50rpx;
  height: 50rpx;
}

.u-page__item__slot-icon-big {
  width: 96rpx;
  height: 96rpx;
  margin-bottom: 30rpx;
}
.u-page__item__slot-icon-first {
  width: 77rpx;
  height: 77rpx;
}
