@import "../../utils/fn.scss";
.newuser-homepage {
  height: 100vh;
  background: #fd0000;
  position: relative;
  overflow-y: scroll;
  z-index: 1;
  // padding-bottom: 81rpx;
  // &.emptywrap {
  //   padding-bottom: 0rpx;
  // }

  .bg {
    width: 100vw;
    height: 1624rpx;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/bg.png"
    );
  }
  .empty {
    width: 723rpx;
    margin: 12rpx auto 0;
    height: calc(100vh - 235rpx);
    background: #ffffff;
    border-radius: 27rpx;
    @include flex();
    position: relative;
    &::after {
      content: "";
      @include absNormal(723rpx, 140rpx, 0, 0);
      display: block;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/tabshdow.png"
      );
    }
  }
  .header {
    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;
      font-size: 35rpx;
      .icon-back {
        font-size: 42rpx;
        margin-left: 31rpx;
      }
      &-t {
        font-weight: bold;
        margin-left: -60rpx;
      }
    }
  }
  .rule-btn {
    width: 77rpx;
    height: 46rpx;
    display: flex;
    margin-left: auto;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/rulebtnicon.png"
    );
  }
  .topicon {
    position: fixed;
    right: 23rpx;
    bottom: 99rpx;
    width: 77rpx;
    height: 77rpx;
    background: #ffffff;
    box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
    border: 1rpx solid rgba(230, 230, 230, 0.5);
    border-radius: 50%;
    z-index: 10;
    .toparrow {
      @include absNormal(42rpx, 42rpx, 5rpx, $left: 17rpx);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/toparrow.png"
      );
    }
    .text {
      @include absNormal(77rpx, auto, $bottom: 13rpx, $left: 0);
      @include textfclaw(19rpx, #666666);
    }
  }
  .free-goods {
    width: 723rpx;
    height: 948rpx;
    margin: 0 auto;
    margin-top: 4rpx;
    margin-bottom: 21rpx;
    position: relative;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/foodbgnew.png"
    );
    &-title {
      padding-top: 15rpx;
      @include textfclaw(38rpx, #ffffff, $align: center, $lineH: 54rpx);
      font-weight: bold;
      @include absNormal(446rpx, 83rpx, $left: 138rpx, $top: -13rpx);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/titleimage.png"
      );
    }
    .goodsList {
      position: absolute;
      top: 120rpx;
      left: 40rpx;
      .good-item {
        display: flex;
        align-items: center;
        margin-bottom: 23rpx;
        .good-image {
          width: 231rpx;
          height: 231rpx;
          border-radius: 20rpx;
          margin-right: 23rpx;
          position: relative;
          image {
            border-radius: 20rpx;
          }
          &::after {
            content: "";
            @include absNormal(65rpx, 60rpx, 4rpx, $left: 4rpx);
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/freeicon.png"
            );
          }
        }
        .good-info {
          .good-name {
            @include textfclaw(35rpx, #1f1f1f, $align: left, $lineH: 48rpx);
            font-weight: bold;
            @include ellipsis(412rpx);
          }
          .good-get {
            width: 412rpx;
            height: 96rpx;
            margin-top: 29rpx;
            position: relative;
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/freegetbtn.png"
            );
            .good-price {
              @include textfclaw(69rpx, #fe2d38, $align: left, $lineH: 75rpx);
              @include absNormal(auto, auto, 19rpx, $left: 108rpx);
              font-weight: bold;
              font-family: "D-DIN, D-DIN";
            }
          }
        }
      }
    }
  }
  .coupon-part {
    .used-guide {
      width: 723rpx;
      height: 429rpx;
      margin: 0 auto;
      background: #ffffff;
      border-radius: 27rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      .used-tips {
        @include textfclaw(25rpx, #999999, $align: center, $lineH: 35rpx);
        margin-bottom: 31rpx;
      }
      .guidebtn {
        width: 202rpx;
        height: 62rpx;
        background: #ffd41e;
        border-radius: 31rpx;
        margin: 0 auto;
        @include flex();
        @include textfclaw(25rpx, #1f1f1f, $align: center, $lineH: 62rpx);
      }
    }
  }
  .justify-goods {
    width: 723rpx;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 27rpx;
    padding-bottom: 27rpx;
    .tab-wrap {
      position: relative;
      width: 723rpx;
      height: 80rpx;
    }
    .tabbg {
      width: 723rpx;
      height: 80rpx;
      position: absolute;
      border-radius: 27rpx;
      top: 0;
      left: 0;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/miniapp-newuser/tabshdow.png"
      );
    }
    .tabitem-list {
      position: absolute;
      top: 0;
      left: 29rpx;
      display: flex;
      // justify-content: space-between;
      padding: 29rpx 0;
      font-size: 31rpx;
      line-height: 42rpx;
      width: 665rpx;
      overflow-x: scroll;
      // height: 140rpx;

      .tab-item {
        color: #666666;
        padding-bottom: 4rpx;
        white-space: nowrap;
        margin-right: 50rpx;
        &.active {
          color: #ff1e2f;
          font-weight: bold;
          &::after {
            content: "";
            width: 100%;
            height: 6rpx;
            background: #ff1e2f;
            border-radius: 4rpx;
            display: block;
          }
        }
      }
    }
  }
}
