@import "@/utils/fn.scss";
$resUrl: "https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti";
$resultUrl: "https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/V3";

.result-page {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  .petname {
    position: absolute;
    top: 115rpx;
    left: 70rpx;
    width: 400rpx;
    color: #000000;
    font-size: 27rpx;
    line-height: 38rpx;
    font-weight: bold;
  }

  .bg {
    width: 750rpx;
    height: 2688rpx;

    &.ENFJ {
      @include bg("#{$resultUrl}/ENFJ.png");
    }

    &.ENFP {
      @include bg("#{$resultUrl}/ENFP.png");
    }

    &.ENTJ {
      @include bg("#{$resultUrl}/ENTJ.png");
    }

    &.ENTP {
      @include bg("#{$resultUrl}/ENTP.png");
    }

    &.ESFJ {
      @include bg("#{$resultUrl}/ESFJ.png");
    }

    &.ESFP {
      @include bg("#{$resultUrl}/ESFP.png");
    }

    &.ESTJ {
      @include bg("#{$resultUrl}/ESTJ.png");
    }

    &.ESTP {
      @include bg("#{$resultUrl}/ESTP.png");
    }

    &.INFJ {
      @include bg("#{$resultUrl}/INFJ.png");
    }

    &.INFP {
      @include bg("#{$resultUrl}/INFP.png");
    }

    &.INTJ {
      @include bg("#{$resultUrl}/INTJ.png");
    }

    &.INTP {
      @include bg("#{$resultUrl}/INTP.png");
    }

    &.ISFJ {
      @include bg("#{$resultUrl}/ISFJ.png");
    }

    &.ISFP {
      @include bg("#{$resultUrl}/ISFP.png");
    }

    &.ISTJ {
      @include bg("#{$resultUrl}/ISTJ.png");
    }

    &.ISTP {
      @include bg("#{$resultUrl}/ISTP.png");
    }
  }

  .bottom-part {
    @include absNormal(750rpx, 571rpx, 2042rpx, $left: 31rpx);
  }

  .group-part {
    // @include bg('#{$resUrl}/groupimage.png');
    width: 688rpx;
    height: 408rpx;
  }

  @keyframes animation {
    from {
      bottom: -200rpx;
    }

    to {
      bottom: 75rpx;
    }
  }

  .btnshadow {
    width: 750rpx;
    height: 281rpx;
    position: fixed;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/V2/btnshadow.png"
    );
    bottom: 0;
    left: 0;
  }
  .btn-groups {
    margin: 39rpx auto 0;
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 75rpx;
    left: 27rpx;

    &.scroll {
      animation: 0.3s animation;
    }

    &.scrollStop {
      bottom: -200rpx;
    }

    &.start {
      bottom: -200rpx;
    }

    .againbtn {
      width: 150rpx;
      height: 108rpx;
      @include bg("#{$resUrl}/againbtn.png");
    }

    .sharebtn {
      width: 370rpx;
      height: 125rpx;
      margin-left: 13rpx;
      margin-right: 13rpx;
      @include bg("#{$resUrl}/sharebtn.png");
    }

    .savebtn {
      width: 150rpx;
      height: 108rpx;
      @include bg("#{$resUrl}/savebtn.png");
    }
  }
}
