.wapper {
  background-color: #fff;
  width: 100%;
  border-radius: 20px 20px 0 0;
  .allBox {
    // width: 100%;
    // height: 200px;
    // background-color: red;
    .singleBox {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .yesMore {
        // width: 112px;

        flex: 0 0 calc(33.33% - 10px);
        padding: 0 20px;
        height: 38px;
        background: #f3f3f4;
        border-radius: 5px;
        text-align: center;
        line-height: 38px;
        font-size: 15px;
        color: #1f1f1f;
      }
      .activeMore {
        // width: 112px;

        flex: 0 0 calc(33.33% - 10px);
        padding: 0 20px;
        height: 38px;
        background: #ffeea5;
        border-radius: 5px;
        text-align: center;
        line-height: 38px;
        font-size: 15px;

        color: #1f1f1f;
        font-weight: 600;
      }
      .yes {
        flex: 0 0 calc(50% - 10px);
        // padding: 0 65px;
        height: 38px;
        background: #f3f3f4;
        border-radius: 5px;
        text-align: center;
        line-height: 38px;
        font-size: 15px;
        color: #1f1f1f;
      }
      .active {
        flex: 0 0 calc(50% - 10px);
        // padding: 0 65px;
        height: 38px;
        background: #ffeea5;
        border-radius: 5px;
        text-align: center;
        line-height: 38px;
        font-size: 15px;
        color: #1f1f1f;
        font-weight: 600;
      }
    }
    .doubleBox {
      .body {
        padding: 15px;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 10px;
        -webkit-box-gap: 10px; /* Safari和旧版Android浏览器 */
        flex-wrap: wrap;
        .quesContent {
          display: flex;
          flex-wrap: wrap;
          line-height: 38rpx;
          background-color: #f3f3f4;
          font-size: 29rpx;
          color: #1f1f1f;
          border-radius: 10rpx;
          .ques-info {
            flex: 0 0 auto;
            padding: 17rpx 29rpx;
            max-width: 692rpx;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          // margin-bottom: 12px;
          .instructions {
            margin-left: 2px;
            margin-top: 5px;
          }
        }
        .active {
          background: #ffeea5;
          color: #1f1f1f;
          font-weight: 600;
        }
      }
      .submit {
        flex: 0 0 calc(50% - 10px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: #f3f3f4 1px solid;
        padding: 8px 20px;
        .cleanOff {
          flex: 0 0 calc(50% - 10px);
          // width: 45%;
          height: 44px;
          border-radius: 22px;
          border: 1px solid #e6e6e6;
          line-height: 44px;
          text-align: center;
        }
        .checkSubmit {
          flex: 0 0 calc(50% - 10px);
          // width: 45%;
          height: 44px;
          border-radius: 22px;
          border: 1px solid #ffeea5;
          background-color: #ffeea5;
          line-height: 44px;
          text-align: center;
        }
        .allowSubmit {
          flex: 0 0 calc(50% - 10px);
          // width: 45%;
          height: 44px;
          border-radius: 22px;
          border: 1px solid rgba(255, 238, 165, 0.4);
          background-color: rgba(255, 238, 165, 0.4);
          line-height: 44px;
          color: rgba($color: #1f1f1f, $alpha: 0.4);
          text-align: center;
        }
      }
    }
  }
  .test {
    background-color: red;
  }
}
