.edit-warp {
  padding-top: 31rpx;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  .bg-img {
    margin-top: 50rpx;
    width: 750rpx;
    height: 750rpx;
    object-fit: cover;
    background: inherit;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    -o-filter: blur(30px);
    filter: blur(30px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
  }
}
.edit-warp ::v-deep .u-popup__content {
  border-radius: 20rpx;
}
.edit-warp ::v-deep .u-toolbar {
  position: relative;
  left: 0;
  top: 0;
  font-weight: bold;
  height: 114rpx !important;
  &::before {
    position: absolute;
    left: 38rpx;
    bottom: 0;
    content: "";
    width: 673rpx;
    border-bottom: 0.5px solid #e6e6e6;
  }
}
image {
  display: inline-block;
}
.drop-shadow {
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
  min-height: 100vh;
  padding: 0 38rpx;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(200rpx);
  .header {
    padding-bottom: 90rpx;
    &-title {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 20rpx;
      padding-bottom: 83rpx;
      image {
        display: block;
        width: 42rpx;
        height: 42rpx;
      }
      text {
        display: inline-block;
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-size: 35rpx;
      }
    }
  }

  .headPortrait {
    width: 192rpx;
    margin: 0 auto;
    image {
      width: 192rpx;
      height: 192rpx;
      border-radius: 50%;
      object-fit: cover;
    }
    view {
      font-weight: 400;
      color: #666666;
      font-size: 23rpx;
      text-align: center;
      padding-top: 19rpx;
    }
  }
  .fromList {
    margin-top: 83rpx;
    .fromItem {
      display: flex;
      justify-content: space-between;
      // border-radius: 50rpx;
      border-bottom: 1rpx solid #E6E6E6;
      padding-bottom: 44rpx;
      // padding: 33rpx 31rpx;
      margin-bottom: 42rpx;
      image {
        width: 31rpx;
        height: 31rpx;
      }
      > text {
        font-size: 31rpx;
        color: #1F1F1F;
      }
      &-value {
        text {
          font-size: 27rpx;
          color: #333333;
          padding-right: 19rpx;
        }
        .defaule {
          color: #999999;
          font-size: 27rpx;
        }
        display: flex;
        align-items: center;
      }
    }
  }
}

.top-tips-text {
  position: fixed;
  width: 100%;
  padding-left: 29rpx;
  line-height: 77rpx;
  font-weight: 400;
  font-size: 27rpx;
  color: #FF5B05 ;
  background-color: #FFFCE2;
  z-index: 10;
}
