.container {
  width: 100vw;
  height: 100vh;
  background-color: #F7F8FC;

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .code-wrapper{
    margin: 19rpx;
    background-color: #fff;
    padding: 10rpx 22rpx;
    border-radius: 15rpx;
  }

  .order-status-wrapper{
    padding: 34rpx 23rpx;
    border-bottom: 2rpx solid #EFEFEF;
    .order-wrapper{
        background-color: #FFD41E;
        font-size: 29rpx;
        width: 100%;
        display: flex;
        border-radius: 42rpx;
        padding: 23rpx 0;
        justify-content: center;
        align-items: center;
        .order-icon{
            width: 42rpx;
            height: 42rpx;
            margin-right: 7rpx;
        }
        .text-wrapper{
            .text-extra{
                font-size: 25rpx;
                line-height: 34rpx;
                color: #666666;
            }
        }
        &.bg-text{
            background-color: transparent;
            padding: 0 30rpx;
            justify-content: space-between;
        }
    }
  }

  .box {
    background-color: #F7F8FC;
    padding-top: 16rpx;//mounted后会根据导航栏高度重新设置
    .code {
      margin-top: 34rpx;
      margin-bottom: 63rpx;
      &-title {
        padding-top: 12rpx;
        font-size: 27rpx;
        font-weight: 400;
        color: #1F1F1F;
        line-height: 71rpx;
        &-num {
          margin-left: 10rpx;
          font-size: 50rpx;
          font-weight: 600;
          color: #333333;
        }
      }
      &-des {
        font-size: 27rpx;
        font-weight: 400;
        color: #666666;
      }
    }

    .goods-box {
      background-color: #FFFFFF;
      margin: 19rpx 19rpx 19rpx 19rpx;
      padding: 10rpx 22rpx;
      border-radius: 15rpx;
      display: flex;
      flex-direction: column;
    }

    .shop-info {
      margin: 0 19rpx 19rpx 19rpx;
      padding: 29rpx 23rpx;
      background-color: #FFFFFF;
      border-radius: 15rpx;
    }

    .footer {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      margin: 19rpx 19rpx 19rpx 19rpx;
      border-radius: 15rpx;
      padding: 10rpx 0;
    }

    .cell {
      padding: 23rpx 23rpx;
      background-color: #FFFFFF;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      &-title {
        white-space: nowrap;
        font-size: 29rpx;
        font-weight: 400;
        color: #1F1F1F;
      }
      &-des {
        font-size: 29rpx;
        font-weight: 400;
        color: #666666;
      }
    }
  }

  .bottom {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 12rpx;
    padding-left: 40rpx;
    &-button {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      margin-right: 23rpx;
      padding: 12rpx 22rpx 14rpx 23rpx;
      border-radius: 35rpx;
      border: 1px solid #E6E6E6;
      box-shadow: none;
      font-size: 29rpx;
      font-weight: 400;
      color: #1F1F1F;
      background-color: #FFFFFF;
      box-sizing: border-box; /* 添加这行样式 */
    }
    .pay {
      background: #FFD41E;
      font-weight: bold;
      color: #1F1F1F;
      box-sizing: border-box; /* 添加这行样式 */
      outline: none; /* 可选，移除按钮的默认描边效果 */
      border: 0;
      min-width: 169rpx;
    }
  }


  .start {
    align-items: flex-start;
  }
  .center {
    align-items: center;
  }

  .line-container {
    padding: 12rpx 23rpx;
    .line {
      height: 2rpx;
      background-color: #f8f8f8;
    }
  }

  .divider-container {
    padding: 0 15rpx;
    .divider {
      width: 2rpx;
      height: 27rpx;
      background-color: #cdcdcd;
    }
  }

}
.bean-back {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 29rpx;
  color: #FE2442;
  line-height: 38rpx;
  text-align: right;
  font-style: normal;
  display: flex;
  align-items: center;
}
.bean-num {
  font-size: 27rpx !important;
}
.to-account {
  font-size: 25rpx;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 23rpx;
  margin-top: -21rpx;
  box-sizing: border-box;
  padding-bottom: 24rpx;
  // border-bottom: 2rpx solid #F8F8F8;
}
.arrowRight {
  display: inline-block;
  width: 31rpx;
  height: 31rpx;
}
.txt2 {
  padding-right: 30rpx;
}