@import "@/utils/fn.scss";

.tip-card {
  box-sizing: border-box;
  width: 577rpx;
  background: #ffffff;
  border-radius: 38rpx;
  backdrop-filter: blur(10px);
  padding: 0 38rpx;
  position: relative;

  .pet-icon {
    @include absNormal($w: 346rpx, $h: 192rpx, $top: -115rpx, $left: 50%);
    transform: translateX(-50%);
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/zhichong/index/pop-pet-icon.png"
    );
  }

  .content {
    padding: 50rpx 0;
    font-size: 27rpx;
    color: #666;
    line-height: 38rpx;
    text-align: center;
  }

  .line {
    width: 500rpx;
    height: 1px;
    background-color: #e6e6e6;
  }

  .footer {
    display: flex;
    align-items: center;

    .cancel {
      flex: 1;
      font-size: 31rpx;
      color: #25252a;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 94rpx;
    }

    .line2 {
      width: 2rpx;
      height: 38rpx;
      background-color: #e6e6e6;
    }

    .confirm {
      flex: 1;
      height: 94rpx;
      font-weight: bold;
      font-size: 31rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ff5b05;
    }
  }
}

.title {
  // width: 462rpx;
  height: 42rpx;
  font-size: 31rpx;
  // font-family: PingFangSC-Medium, PingFang SC;
  font-weight: bold;
  color: #1f1f1f;
  font-weight: 600;
  line-height: 42rpx;
  text-align: center;
  padding: 46rpx 57rpx 30rpx 57rpx;
}

.modal-content {
  font-size: 27rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #333333;
  line-height: 38rpx;
  text-align: center;
  width: 485rpx;

  .color {
    color: #ff8315;
  }
}

.iphoneText {
  // text-decoration-line: underline;
  color: #ff5b05;
}
