@import "@/utils/fn.scss";

.tip-card {
  box-sizing: border-box;
  width: 577rpx;
  background: #ffffff;
  border-radius: 38rpx;
  backdrop-filter: blur(10px);
  // padding: 0 38rpx;
  position: relative;



  .content {
    padding: 77rpx 0;
    text-align: center;
    height: 42rpx;
    font-size: 31rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    color: #1F1F1F;
    line-height: 42rpx;
  }

  .name {
    width: 485rpx;
    height: 85rpx;
    background: #F5F6F7;
    border-radius: 42rpx;
    padding: 20rpx 42rpx;
    margin: 0 46rpx;
  }

  .footer {
    display: flex;
    align-items: center;

    width: 500rpx;
    height: 85rpx;
    background: #FFD41E;
    border-radius: 42rpx;
    margin: 38rpx;

    .confirm {
      width: 100%;
      height: 31rpx;
      font-size: 31rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 500;
      color: #1F1F1F;
      line-height: 31rpx;
      text-align: center;
    }
  }
}