@import "../../utils/fn.scss";
.docIntroPop {
  position: relative;
}
.header {
  box-sizing: border-box;
  padding: 0 38rpx;
  display: flex;
  align-items: center;
  font-weight: bold;

  .title {
    flex: 1;
    font-size: 35rpx;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 40rpx 0;
    border-bottom: 1px solid #e6e6e6;
  }
  .close-icon {
    height: 42rpx;
    width: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/close-icon.png"
    );
    position: absolute;
    right: 38rpx;
  }
}
.introcontent {
  max-height: 750rpx;
  min-height: 300rpx;
  overflow-y: scroll;
  padding: 38rpx;
  @include textfclaw(27rpx, #2a2c33, $align: left, $lineH: 46rpx);
  font-weight: 400;
}
