@import "@/utils/fn.scss";
.container {
  height: 100vh;
  background-color: rgba(254, 36, 66, 1);
  position: relative;
  .code-zone {
    margin: 0 auto;
    width: 719rpx;
    height: 819rpx;
    border-radius: 15rpx;
    background-color: #fff;
    padding: 35rpx 42rpx 0 42rpx;
    margin-top: 29rpx;
    .top-member-info {
      width: 635rpx;
      height: 105rpx;
      border-bottom: 1rpx solid #e6e6e6;
      display: flex;
      .portrait {
        width: 69rpx;
        height: 69rpx;
        position: relative;
        margin-right: 23rpx;
        .img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .info-zone {
        .phone {
          font-size: 29rpx;
          font-weight: bold;
          color: #1f1f1f;
        }
        .date {
          font-size: 23rpx;
          font-weight: 400;
          color: #999999;
        }
      }
    }
    .code-detail {
      width: 100%;
      .title {
        font-size: 29rpx;
        font-weight: bold;
        color: #1f1f1f;
        text-align: center;
        margin-top: 37rpx;
        margin-bottom: 31rpx;
      }
    }
  }
}
