.input-box {
	padding-left: 25rpx;
	width: 542rpx;
	height: 65rpx;
	background: #F5F6F7;
	border-radius: 33rpx;
}
.input-btn {
	color: #AAAAAA;
	font-size: 39rpx;
}
.input-text{
	line-height: 38rpx;
	margin-left: 14rpx;
	input {
		font-size: 27rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		width: 100%;
		padding-left: 4rpx;
	}
}

.fl-row-justy {
	padding: 0 31rpx;
	// padding: 12rpx 31rpx
}
.list-box {
	padding: 0 23rpx 100rpx 23rpx;
}
.search-btn {
	width: 115rpx;
	height: 62rpx;
	background: #FEE900;
	border-radius: 31rpx;
	font-size: 27rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #1F1F1F;
	line-height: 62rpx;
	text-align: center;
}

.fix-header {
	width: 100%;
	height: 120rpx;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #FFFFFF;
}

.line{
	height: 108rpx;
}