.report-page {
  width: 100%;
  background-color: #f3f3f4;
  padding: 15rpx;
  min-height: 100vh;
}

.card {
  padding: 16rpx;
  width: 100%;
  background: #ffffff;
  border-radius: 15rpx;
}

.title-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 15rpx 15rpx 23rpx 15rpx;

  .title {
    width: 425rpx;
    height: 46rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 42rpx;
    color: #ff8315;
    line-height: 46rpx;
    text-align: left;
    font-style: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
  }

  .time {
    height: 38rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 27rpx;
    color: #999999;
    line-height: 38rpx;
    text-align: right;
    font-style: normal;
  }
}

.conclusion {
  background: #fff5ed;
  border-radius: 15rpx;
  // margin: 15rpx;
  padding: 15rpx;
  position: relative;

  .sjx {
    position: absolute;
    left: 86rpx;
    top: -12rpx;

    width: 31rpx;
    height: 12rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petRecords/sjx.png");
    background-size: cover;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    .left {
      display: flex;
      justify-content: left;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 31rpx;
      color: #666666;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
      margin-top: 10rpx;

      .title {
        // height: 42rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 31rpx;
        color: #666666;
        line-height: 42rpx;
        text-align: left;
        font-style: normal;
        width: 164rpx;
        margin-top: 5rpx;
      }

      .disease {
        // height: 46rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 35rpx;
        color: #1f1f1f;
        line-height: 46rpx;
        text-align: left;
        font-style: normal;
        width: 310rpx;
      }
    }

    .right {
      width: 200rpx;
      height: 62rpx;
      background: #ffffff;
      border-radius: 35rpx;
      display: flex;
      align-items: center;
      padding: 15rpx 15rpx;

      .ai {
        width: 31rpx;
        height: 31rpx;
        background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/ai.png");
        background-size: cover;
        // padding: 6rpx 0rpx;
        margin-left: 8rpx;
      }

      .wwai {
        width: 90rpx;
        height: 38rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 29rpx;
        color: #1f1f1f;
        line-height: 38rpx;
        text-align: left;
        font-style: normal;
        margin-left: 12rpx;
      }

      .right {
        width: 27rpx;
        height: 27rpx;
        background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/right.png");
        background-size: cover;
        // padding: 6rpx 0rpx;
      }
    }
  }

  .content {
    // width: 658rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 31rpx;
    color: #666666;
    line-height: 42rpx;
    text-align: left;
    font-style: normal;
    // position: relative;
    margin-top: 19rpx;
    opacity: 0;

    height: 120rpx;

    &.opac {
      opacity: 255;
    }

    &.expande {
      // overflow: auto;
      height: auto;
      // padding-bottom: 22px;
    }

    &.close {
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      overflow: hidden;
      // word-break: break-all;
      // text-overflow: ellipsis;
      height: 120rpx;
    }
  }

  .zk {
    width: 146rpx;
    height: 38rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/zk_bg.png");
    background-size: cover;
    // padding: 6rpx 0rpx;

    // position: absolute;
    // right: 15rpx;
    // bottom: 0;
    margin-top: 8rpx;

    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    align-items: center;

    .txt {
      height: 38rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #ff8315;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
    }

    .down {
      width: 23rpx;
      height: 23rpx;
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/down.png");
      background-size: cover;
      // padding: 6rpx 0rpx;
    }

    .up {
      width: 23rpx;
      height: 23rpx;
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/sq_up.png");
      background-size: cover;
      // padding: 6rpx 0rpx;
    }
  }

  .doctor {
    // width: 658rpx;
    height: 131rpx;
    background: #ffffff;
    border-radius: 15rpx;
    margin-top: 23rpx;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15rpx;

    .icon {
      width: 100rpx;
      height: 100rpx;
      // border: 2rpx solid #EDDDD0;
      margin-right: 20rpx;

      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/doctor-head.png");
      background-size: cover;
    }

    .right {
      display: flex;
      flex-direction: column;

      .name-tips {
        display: flex;
        justify-content: start;
        flex-direction: row;

        .name {
          height: 40rpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 29rpx;
          color: #1f1f1f;
          line-height: 40rpx;
          text-align: left;
          font-style: normal;
          margin-right: 11rpx;
        }

        .tips {
          width: 115rpx;
          height: 33rpx;
          // background: linear-gradient(270deg, #EADBCE 0%, #FEF5EB 100%);
          // border-radius: 8rpx;

          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/doctor-zz.png");
          background-size: cover;
        }
      }

      .des {
        height: 35rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 25rpx;
        color: #666666;
        line-height: 35rpx;
        text-align: left;
        font-style: normal;
        margin-top: 11rpx;
      }
    }
  }
}

.physique {
  width: 719rpx;
  background: #ffffff;
  border-radius: 15rpx;
  margin-top: 19rpx;
  padding: 30rpx 0rpx 30rpx 30rpx;

  .title {
    height: 46rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 35rpx;
    color: #1f1f1f;
    line-height: 46rpx;
    text-align: left;
    font-style: normal;
    margin-bottom: 19rpx;
  }

  .cards {
    display: flex;
    flex-flow: wrap;

    .card {
      width: 329rpx;
      height: 173rpx;
      background: #f1f8ff;
      border-radius: 15rpx;
      margin-right: 15rpx;
      margin-bottom: 15rpx;
      padding: 15rpx;

      display: flex;
      flex-direction: column;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title-num {
          display: flex;
          flex-direction: row;
          justify-content: start;

          .title {
            height: 35rpx;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 27rpx;
            color: #1f1f1f;
            line-height: 38rpx;
            text-align: left;
            font-style: normal;
            margin-right: 15rpx;
          }

          .num {
            width: 65rpx;
            height: 35rpx;
            background: #6ddc5c;
            border-radius: 19rpx 19rpx 19rpx 0rpx;

            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 23rpx;
            color: #ffffff;
            line-height: 35rpx;
            text-align: center;
            font-style: normal;

            margin: 2rpx 9rpx;

            &.blue {
              background: #40aefa;
            }

            &.green {
              background: #6ddc5c;
            }

            &.red {
              background: #fc522c;
            }
          }
        }

        .tips {
          width: 35rpx;
          height: 35rpx;
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/why.png");
          background-size: cover;
        }
      }

      .num-unit {
        display: flex;
        align-items: center;
        margin-bottom: 10rpx;

        .num {
          height: 54rpx;
          font-family: D-DIN, D-DIN;
          font-weight: bold;
          font-size: 54rpx;
          color: #1f1f1f;
          line-height: 58rpx;
          text-align: left;
          font-style: normal;
          margin-right: 8rpx;
        }

        .unit {
          height: 38rpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: 400;
          font-size: 27rpx;
          color: #666666;
          line-height: 38rpx;
          text-align: left;
          font-style: normal;
        }
      }

      .lines {
        width: 256rpx;
        height: 16rpx;
        background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/five_1.png");
        background-size: 100% 100%;
        margin-top: 10rpx;

        &.f1 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/five_1.png");
          background-size: cover;
        }

        &.f2 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/five_2.png");
          background-size: cover;
        }

        &.f3 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/five_3.png");
          background-size: cover;
        }

        &.f4 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/five_4.png");
          background-size: cover;
        }

        &.f5 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/five_5.png");
          background-size: cover;
        }

        &.t1 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/three_1.png");
          background-size: cover;
          width: 188rpx;
        }

        &.t2 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/three_2.png");
          background-size: cover;
          width: 188rpx;
        }

        &.t3 {
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/three_3.png");
          background-size: cover;
          width: 188rpx;
        }
      }

      .crtdes {
        height: 31rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 23rpx;
        color: #666666;
        line-height: 31rpx;
        text-align: left;
        font-style: normal;
      }

      .xydes {
        height: 31rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 21rpx;
        color: #999999;
        line-height: 31rpx;
        text-align: left;
        font-style: normal;
      }
    }

    .card-weight {
    }

    .card-temperature {
    }

    .card-heart-rate {
    }

    .card-breath {
    }

    .card-crt {
    }

    .card-bood-pressure {
    }
  }

  .des {
    display: flex;
    justify-content: start;

    .title {
      width: 135rpx;
      height: 38rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #666666;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
    }

    .content {
      width: 523rpx;
      // height: 77rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #666666;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
    }
  }
}

.inspect {
  width: 719rpx;
  background: #ffffff;
  border-radius: 15rpx;
  margin-top: 19rpx;
  padding: 30rpx 15rpx;
  height: 520rpx;
  overflow: hidden;

  position: relative;

  &.autoHeight {
    height: auto;
  }

  .title-price {
    display: flex;
    justify-content: space-between;
    margin-right: 15rpx;
  }

  .title {
    height: 46rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 35rpx;
    color: #1f1f1f;
    line-height: 46rpx;
    text-align: left;
    font-style: normal;
    // margin-bottom: 19rpx;
    margin-left: 15rpx;
  }

  .price {
    height: 38rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 27rpx;
    color: #666666;
    line-height: 38rpx;
    text-align: right;
    font-style: normal;
  }

  .num {
    height: 38rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 27rpx;
    color: #ff5b05;
    line-height: 38rpx;
    text-align: right;
    font-style: normal;
  }

  .contents {
    display: flex;
    flex-direction: column;

    .item {
      width: 688rpx;
      background: #f5f6f7;
      border-radius: 12rpx;
      margin-top: 15rpx;
      display: flex;
      flex-direction: column;
      padding: 19rpx 15rpx;
    }

    .name-price {
      display: flex;
      justify-content: space-between;
    }

    .name {
      width: 538rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 29rpx;
      color: #1f1f1f;
      line-height: 40rpx;
      text-align: left;
      font-style: normal;
    }

    .price {
      height: 38rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #333333;
      line-height: 38rpx;
      text-align: right;
      font-style: normal;
    }

    .line {
      width: 658rpx;
      height: 2rpx;
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/xline.png");
      background-size: cover;
      margin: 15rpx 0rpx;
    }

    .inspect-result {
      display: flex;

      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      align-items: center;

      text {
        height: 38rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 27rpx;
        color: #ff8315;
        line-height: 38rpx;
        text-align: left;
        font-style: normal;
      }

      .right {
        width: 23rpx;
        height: 23rpx;
        background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/right-1.png");
        background-size: cover;
        // padding: 6rpx 0rpx;
        margin-left: 4rpx;
      }
    }
  }

  .prescription-contents {
    display: flex;
    flex-direction: column;

    .item {
      width: 688rpx;
      background: #f5f6f7;
      border-radius: 12rpx;
      margin-top: 19rpx;
      display: flex;
      padding: 19rpx 15rpx;
      justify-content: space-between;
    }

    .title-p {
      width: 538rpx;
      // height: 77rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 29rpx;
      color: #1f1f1f;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
    }

    .count {
      height: 38rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #666666;
      line-height: 38rpx;
      text-align: right;
      font-style: normal;
    }

    .nun-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .num {
        height: 35rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 25rpx;
        color: #666666;
        line-height: 35rpx;
        text-align: left;
        font-style: normal;
      }

      .title {
        height: 38rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 27rpx;
        color: #333333;
        line-height: 38rpx;
        text-align: right;
        font-style: normal;
      }
    }
  }

  .cz-price {
    display: flex;
    flex-direction: column;

    .item {
      width: 688rpx;
      background: #f5f6f7;
      border-radius: 12rpx;
      margin-top: 19rpx;
      display: flex;
      padding: 19rpx 15rpx;
      justify-content: space-between;
    }

    .title-p {
      width: 538rpx;
      // height: 77rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 29rpx;
      color: #1f1f1f;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
    }

    .count {
      height: 38rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #666666;
      line-height: 38rpx;
      text-align: right;
      font-style: normal;
    }
  }
}

.noMore {
  width: 688rpx;
  height: 34rpx;
  margin: 17rpx 0rpx;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text {
    height: 35rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 25rpx;
    color: #999999;
    line-height: 35rpx;
    text-align: left;
    font-style: normal;
  }

  .up {
    width: 23rpx;
    height: 23rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/up.png");
    background-size: cover;
  }
}

.disease-diagnosis {
  width: 719rpx;
  background: #ffffff;
  border-radius: 15rpx;
  margin-top: 19rpx;
  padding: 15rpx;

  .title-diagLevelDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .d-title {
    // height: 46rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 35rpx;
    color: #1f1f1f;
    line-height: 46rpx;
    text-align: left;
    font-style: normal;
    margin-top: 15rpx;
    margin-bottom: 15rpx;
    margin-left: 15rpx;
  }

  .diagLevelDesc {
    // height: 40rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 29rpx;
    color: #f3333c;
    line-height: 46rpx;
    text-align: right;
    font-style: normal;
    margin-right: 15rpx;
  }

  .card {
    background: #f5f6f7;
    border-radius: 12rpx;
    padding: 19rpx 15rpx;
    display: flex;
    flex-direction: column;
    margin-bottom: 19rpx;

    .title-num {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .c-title {
        // height: 40rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 29rpx;
        color: #1f1f1f;
        line-height: 40rpx;
        text-align: left;
        font-style: normal;
      }

      .num {
        // height: 40rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 600;
        font-size: 29rpx;
        color: #f3333c;
        line-height: 40rpx;
        text-align: right;
        font-style: normal;
      }
    }

    .des {
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 27rpx;
      color: #999999;
      line-height: 38rpx;
      text-align: left;
      font-style: normal;
      // margin-left: 15rpx;
      margin-top: 10rpx;
    }
  }
}

.more {
  width: 688rpx;
  height: 135rpx;
  background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/more.png");
  background-size: cover;

  position: absolute;
  bottom: 0rpx;
  padding-top: 40rpx;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text {
    height: 35rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 25rpx;
    color: #999999;
    line-height: 35rpx;
    text-align: left;
    font-style: normal;
  }

  .bom {
    width: 23rpx;
    height: 23rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/bom.png");
    background-size: cover;
  }
}
