.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: 40rpx;
}
*,
view,
input,
textarea {
  box-sizing: border-box;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.uni-actionsheet {
  display: none;
}
.page-top-navbar {
  padding-top: 176rpx;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }
}
