@import "../../utils/fn.scss";

.sheet-lists {
}

.upper-con {
  text-align: center;
}

.no-data-con {
  padding-top: 180rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .go-sheet {
    margin-top: 30rpx;
    width: 169rpx;
    height: 62rpx;
    background: #ffc900;
    border-radius: 31rpx;
    text-align: center;
    line-height: 62rpx;
    font-size: 26rpx;
    font-weight: bold;
    color: #000000;
  }
}

.dad-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 246, 247, 1);

  .fix-button {
    padding-top: 15rpx;
    height: 180rpx;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;

    .button {
      border-radius: 40rpx;
      margin: 0 auto;
      width: 673rpx;
      height: 85rpx;
      background-color: rgba(45, 206, 128, 1);
      font-size: 31rpx;
      font-weight: bold;
      color: #ffffff;
      line-height: 85rpx;
      text-align: center;
    }

    .button1 {
      border-radius: 40rpx;
      margin: 0 auto;
      width: 673rpx;
      height: 85rpx;
      background-color: #fee900;
      font-size: 31rpx;
      font-weight: bold;
      color: #000;
      line-height: 85rpx;
      text-align: center;
    }
  }

  .tabs-bg {
    width: 750rpx;
    height: 85rpx;
    background: #ffffff;
  }
}

::v-deep .u-tabs__wrapper__nav__line {
  position: absolute !important;
  bottom: 4px !important;
  // transform: translate(29.5px) !important;
}

::v-deep .u-tabs__wrapper__nav {
  padding: 0 144rpx;
}
