@import "@/utils/fn.scss";

.tip-card {
  box-sizing: border-box;
  width: 577rpx;
  height: 577rpx;
  background: #ffffff;
  border-radius: 38rpx;
  backdrop-filter: blur(10px);
  padding: 38rpx;

  .pet-icon {
    width: 192rpx;
    height: 192rpx;
    margin: 0 auto;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/no-coupon-tag.png"
    );
  }
  .title {
    @include textfclaw(31rpx, #000);
    font-weight: bold;
    line-height: 42rpx;
    margin-top: 38rpx;
  }
  .content {
    @include textfclaw(27rpx, #666);
    font-weight: 400;
    line-height: 42rpx;
    margin-top: 19rpx;
  }
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85rpx;
    .button {
      height: 85rpx;
      width: 240rpx;
      border-radius: 45rpx;
      &.cancel {
        background-color: #fff;
        border: 2px solid #e6e6e6;
        @include textfclaw(31rpx, #666, $align: center, $lineH: 85rpx);
        font-weight: bold;
        margin-right: 19rpx;
        height: 85rpx;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.confirm {
        background-color: #2dce80;
        @include textfclaw(31rpx, #fff, $align: center, $lineH: 85rpx);
        font-weight: bold;
        // margin-right: 19rpx;
        height: 85rpx;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
