@import "../../utils/fn.scss";

.record-all-page {
  background: #ffffff;
  width: 100%;
  height: 100vh;

  .navibar {
    .hender-frame {
      display: flex;
      align-items: center;
      .left {
        margin-left: 44rpx;
        .icon-back {
          font-size: 42rpx;
        }
      }
    }

    .title {
      display: flex;
      margin-left: 180rpx;
      align-items: center;

      .petavatar {
        width: 69rpx;
        height: 69rpx;

        image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: contain;
        }
      }

      .titlename {
        margin-left: 15rpx;
        @include textfclaw(31rpx, #000000);
      }
    }
  }

  .tabwrap {
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 31rpx 0;
    align-items: center;
    overflow-x: scroll;

    .tabitem {
      width: 118rpx;
      flex-shrink: 0;
      // margin-left: 72rpx;
      @include textfclaw(31rpx, #1f1f1f);
      position: relative;

      &.active {
        font-weight: bold;

        &::after {
          content: "";
          background-color: #fee900;
          @include absNormal(62rpx, 12rpx, $bottom: 0rpx, $left: 30rpx);
          z-index: -1;
        }
      }
    }
  }

  .datechoose {
    width: 750rpx;
    height: 85rpx;
    display: flex;
    align-items: center;
    @include textfclaw(31rpx, #1f1f1f, $align: left);
    font-weight: bold;
    padding-left: 31rpx;
    margin-bottom: 27rpx;
    .downarrow {
      width: 23rpx;
      height: 23rpx;
      margin-left: 6rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/recordALL/expandarrow.png"
      );
    }
  }

  // .right {
  //   position: relative;
  //   .line {
  //     position: absolute;
  //     top: 0;
  //     margin-left: 22rpx;
  //     margin-right: 22rpx;
  //     margin-top: 38rpx;
  //     margin-bottom: 29rpx;
  //     width: 2rpx;
  //     border: 1rpx solid #FF5B05;
  //   }
  // }
  .right {
    // width: 2rpx;
    // border-left: 1rpx solid #FF5B05;
  }

  .cards {
    height: calc(100vh - 420rpx);
    .no-data-con {
      padding-top: 254rpx;
    }
    // .no-data-con {
    //   opacity: 0;
    //   animation: show .2s .1s linear forwards;
    // }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-left: 31rpx;
      .datetag {
        @include textfclaw(31rpx, #494454, $lineH: 42rpx, $align: left);
        font-weight: bold;
        position: absolute;
        top: 0;
        left: -160rpx;
      }
      .line {
        // width: 46rpx;
        margin-left: 124rpx;
        margin-right: 35rpx;
        // background: #FFDE52;
        margin-top: 22rpx;
        margin-bottom: 5rpx;

        width: 2rpx;
        background-color: #ff8315;
        border: 2rpx solid #ff8315;
      }

      .point-big {
        width: 27rpx;
        height: 27rpx;
        background: #ff8315;
        opacity: 0.2;
        position: absolute;
        left: -50rpx;
        top: 8rpx;
        border-radius: 50%;
      }

      .point-small {
        width: 12rpx;
        height: 12rpx;
        background: #ff8315;
        position: absolute;
        left: -43rpx;
        top: 16rpx;
        border-radius: 50%;
      }
      .medicalreport {
        @include flex();
        @include textfclaw(23rpx, #ff8315);
        width: 135rpx;
        height: 42rpx;
        border-radius: 27rpx;
        border: 2rpx solid #ff8315;
        position: absolute;
        top: 0;
        right: 0;
        .iconfont {
          font-size: 23rpx;
        }
      }
    }

    .carditem {
      display: flex;
      .card-content {
        width: 533rpx;
        position: relative;
        .contenttitle {
          max-width: 380rpx;
          word-break: break-all;
        }
      }
    }

    .contenttitle {
      @include textfclaw(31rpx, #333333, $align: left, $lineH: 42rpx);
      font-weight: bold;
      margin-bottom: 12rpx;
    }

    .contentdesc {
      max-width: 380rpx;
      word-break: break-all;
      @include textfclaw(23rpx, #666666, $align: left, $lineH: 31rpx);
      margin-bottom: 12rpx;
    }

    .card-img {
      width: 231rpx;
      height: 231rpx;
      border-radius: 20rpx;
      margin-bottom: 19rpx;
    }

    .card-content {
      margin-bottom: 38rpx;
      &:last-of-type {
        margin-bottom: 0rpx;
      }
    }

    .recordtype {
      display: flex;
      align-items: center;
      @include textfclaw(23rpx, #999999, $lineH: 31rpx, $align: left);

      .recordtime {
        @include textfclaw(25rpx, #666666, $align: left, $lineH: 31rpx);
        margin-left: 19rpx;
      }
    }
  }
}
