@import "../../utils/fn.scss";
.my-petinfo {
  width: 100vw;
  height: 100vh;
  background-color: #f5f6f7;
  .tabs {
    position: sticky;
    // padding: 0 30rpx;
    height: 81rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tab-item {
      width: 250rpx;
      // height: 81rpx;
      position: relative;
      @include textfclaw(31rpx, #1f1f1f, $align: center, $lineH: 42rpx);
      &.active {
        font-size: 33rpx;
        font-weight: bold;
        &::after {
          content: "";
          background-color: #fee900;
          @include absNormal(62rpx, 12rpx, $bottom: 0rpx, $left: 96rpx);
          z-index: -1;
        }
      }
    }
  }
  .moreicon {
    @include absNormal(42rpx, 42rpx, 21rpx, $right: 31rpx);
  }
  .rightmore {
    width: 42rpx;
    height: 42rpx;
    margin-left: auto;
    margin-right: 31rpx;
  }
  .avatarurl {
    width: 58rpx;
    height: 58rpx;
    border-radius: 50%;
    image {
      width: 58rpx;
      height: 58rpx;
      border-radius: 50%;
    }
  }
}
.shareicon {
  width: 181rpx;
  height: 181rpx;
  position: fixed;
  bottom: 110rpx;
  right: -10rpx;
  @include bg(
    "https://frontend-cdn.chongpangpang.com/image/medical-mp/mypetinfo/sharebtnicon.png"
  );
}

.nav-bar-bgc {
  width: 100%;
  height: 423rpx;
  @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/petChannel/petHealthBg.png"
  );
}
