@import "@/utils/fn.scss";
.desc {
  position: relative;

  // 背景图
  .illnessBg {
    // width: 100%;
    // height: 333px;
    width: 750rpx; /* 元素宽度 */
    height: 580rpx; /* 元素高度 */
    background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/principleflatten.png");
    background-size: cover;
    background-repeat: no-repeat;
    // z-index: 99;
  }
  .contentBox {
    position: absolute;
    // top: 205rpx;
    top: 190rpx;
    width: 750rpx;
    height: 500rpx;
    padding: 0 30rpx;
    color: #1f1f1f;
    font-size: 30rpx;
    margin: 15rpx 0 0 0;
    .textareaBox {
      margin: 15rpx 0 0 0;
      height: 370rpx;
      background-color: #f7f8fc;
      padding: 20rpx 8rpx 0 8rpx;
      border-radius: 24rpx;
      .numBox {
        color: #999999;
        font-size: 30rpx;
        text-align: right;
        margin-right: 20rpx;
        .active {
          color: #1f1f1f;
        }
      }
    }
    .messageText {
      width: 680rpx;
      margin: 80rpx auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88rpx;
      background: #ffeea5;
      border-radius: 46rpx;
      font-size: 32rpx;
      color: #1f1f1f;
      opacity: 0.6;
      font-weight: bold;
    }
    .activeMessageText {
      margin: 80rpx auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88rpx;
      background: #ffeea5;
      border-radius: 46rpx;
      font-size: 32rpx;
      color: #1f1f1f;
      font-weight: bold;
    }
  }
  .aiBj {
    background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/aiBJ.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 750rpx;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .ppImg {
      width: 360rpx;
      height: 400rpx;
      margin: 0 auto;
      .image {
        width: 360rpx;
        height: 360rpx;
      }
      .describe {
        color: #1f1f1f;
        font-size: 32rpx;
        width: 360rpx;
        text-align: center;
        margin: 20rpx auto 0;
      }
    }
  }
  //ai识别提示
  .aiIdentifyBox {
    position: absolute;
    top: 25vh;
    width: 750rpx;
    text-align: center;
    .aiIdentify {
      font-size: 28rpx;
      margin: 0 auto;
      width: 680rpx;
      height: 92rpx;
      line-height: 92rpx;
      text-align: center;
      border-radius: 54rpx;
      color: #ffffff;
      background-color: rgba(29, 33, 41, 0.6);
    }
  }
  //ai识别提示
  .tip-card {
    box-sizing: border-box;
    width: 577rpx;
    // height: 300rpx;
    background: #ffffff;
    border-radius: 38rpx;
    backdrop-filter: blur(10px);
    padding: 0 38rpx;
    position: relative;
    .pet-icon {
      @include absNormal($w: 346rpx, $h: 230rpx, $top: -145rpx, $left: 50%);
      transform: translateX(-50%);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/popovercutePet.png"
      );
    }
    .content {
      padding: 77rpx 0 25rpx;
      font-size: 27rpx;
      color: #666;
      line-height: 38rpx;
      text-align: center;
      .describe {
        height: 120rpx;
        font-size: 28rpx;
        color: #1f1f1f;
      }
      .agreement {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 23rpx;
        font-weight: 400;
        color: #666666;
        margin-top: 22rpx;
        width: 450rpx;
        height: 30rpx;
        .agreement-text {
          margin-top: -3rpx;
          text {
            color: #2e8eff;
          }
        }
      }
    }
    .line {
      width: 500rpx;
      height: 0.5px;
      background-color: #e6e6e6;
    }
    .footer {
      display: flex;
      align-items: center;
      .cancel {
        flex: 1;
        font-size: 31rpx;
        color: #25252a;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 94rpx;
      }
      .line2 {
        width: 2rpx;
        height: 38rpx;
        background-color: #e6e6e6;
      }
      .confirm {
        flex: 1;
        height: 94rpx;
        font-weight: bold;
        font-size: 31rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        // color: $themeColor;
      }
    }
  }
}
