.page-wrapper {
  position: relative;
  width: 100%;
  // background-image: linear-gradient(to bottom, #ffd7d7, #ffff);
  background: #FFFFFF;
  .page-scroll-view {
    height: 100vh;
    background-color: #F7F8FC;
  }
  .header{
    width: 100%;
    // height: 177rpx;
    // padding: 0 29rpx;
    position: fixed;
    box-sizing: content-box;
    z-index: 99;
    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 0 29rpx;
      margin-top: 21rpx;
      .pet-img{
        width: 115rpx;
        height: 115rpx;
        position: absolute;
        top: -21rpx;
        right: 27rpx;
      }
      .left{
        display: flex;
        align-items: center;
      }
      .back-img{
        width: 42rpx;
        height: 42rpx;
      }
      .title-img{
        height: 42rpx;
        font-family: AlimamaShuHeiTi, AlimamaShuHeiTi;
        font-weight: bold;
        font-size: 35rpx;
        color: #1F1F1F;
        line-height: 42rpx;
        max-width: 140rpx;
        overflow: hidden;
        white-space: no-wrap;
        text-overflow: ellipsis;
      }
      .header-title{
        font-weight: 300;
        font-size: 23rpx;
        color: #1F1F1F;
        margin-left: 15rpx;
        width: 300rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icon-search{
        font-size: 40rpx;
      }
    }
    .search{
      height: 69rpx;
      background: linear-gradient( 90deg, #FFFFFF 0%, #FFFFFF 100%);
      border-radius: 35rpx;
      border: 3rpx solid #333333;
      margin: 25rpx 29rpx 0;
      padding: 0 19rpx;
      display: flex;
      align-items: center;
      position: relative;
      .icon-search{
        font-size: 36rpx;
      }
      .placeholder{
        font-weight: 300;
        font-size: 27rpx;
        color: #666666;
        margin-left: 15rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .page-container {
    .header{
      height: 85rpx;
      background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/v5.4.0/petMark_bg2.png");
      background-size: 100% 100%;
      .top{
        margin: 21rpx 0;
      }
    }
    .search{
      display: none;
      padding: 0;
    }
    // background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/livedBody/ggg_tabbg.png");
    // background-size: 100%;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 999;
    // width: 100%;
    // opacity: 1;
    // transition: opacity 0.5s ease;
  }

  .page-container01 {
    .header{
      background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/v5.4.0/petMark_bg1.png");
      background-size: 100% 100%;
      height: 177rpx;
      .top{
        margin: 21rpx 0 25rpx;
      }
    }
    // background: transparent;
    // transition: background-color 0.5s ease;
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 999;
    // width: 100%;
  }

  .tabs-container {
    width: 100%;
    height: 85rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 15rpx;
    position: sticky;
    z-index: 9;
    background: #fff;
    top: 0;
    .date-select {
      width: 39rpx;
      height: 39rpx;
    }
  }
  .tabs-container1{
    position: fixed;
  }
}
.content-container {
  .bg {
    position: absolute;
    .bg-img {
      width: 750rpx;
      height: 235rpx;
    }
  }
}

.tab-scroll {
  // width: 100vw;
  white-space: nowrap;
  // padding-left: 42rpx;
}
::v-deep .u-tabs {
  // padding-right: 200rpx;
  box-sizing: border-box;
}

.bg-img {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.topicon {
  width: 77rpx;
  height: 77rpx;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 128rpx;
  right: 29rpx;
  border-radius: 50%;
  transition: all 0.2s;
  .icon{
    font-size: 42rpx;
  }
}
.topicon-half{
  right: -39rpx;
  transition: all 0.2s;
}
.banner-wrap{
  background: #fff;
  padding: 9rpx 0 15rpx;
}