.page-wrapper {
  height: 100vh;

  ::v-deep .u-tabs__wrapper__nav {
    position: relative;
  }

  ::v-deep .u-tabs__wrapper__nav__item {
    flex-grow: 1;
    height: 44px;
    z-index: 1;
  }

  ::v-deep .u-tabs__wrapper__nav__item__text{
    z-index: 0;
  }

  ::v-deep .u-tabs__wrapper__nav__line {
    bottom: 25rpx;
    z-index: 0;
    border-radius: 0;
  }

  .tabs {
    background: #fff;
  }
}
