@import "@/utils/fn.scss";
.desc {
  .illness-bg {
    .search-box {
      /*  #ifdef H5  */
      width: 610rpx;
      /*  #endif  */
      /*  #ifdef MP-WEIXIN  */
      width: 450rpx;
      /*  #endif  */
    }
  }
  .list-box {
    margin-top: 40rpx;
    .list-box-scroll {
      height: calc(100vh - 450rpx);
      overflow-y: auto;
      padding-bottom: 100rpx;
      .list-item {
        width: 690rpx;
        height: 90rpx;
        line-height: 90rpx;
        border-bottom: 1rpx solid #f8f8f8;
        margin: 0 auto;
        font-size: 30rpx;
      }
    }
  }
  .no-box {
    width: 490rpx;
    margin: 20rpx auto 45rpx;
    .img {
      width: 360rpx;
      height: 360rpx;
      margin: 0 auto;
      image {
        width: 360rpx;
        height: 360rpx;
      }
    }
    .name {
      font-size: 26rpx;
      width: 490rpx;
      text-align: center;
      margin: 20rpx auto 10rpx;
      color: #999999;
    }
  }
  .not-have {
    width: 700rpx;
    height: 1rpx;
    background-color: #f8f8f8;
    margin: 0 auto 50rpx;
  }
  .hot-box {
    width: 690rpx;
    height: 300rpx;
    margin: -10rpx auto 0;
    .hot-name {
      font-weight: bold;
    }
    .hot-in-box {
      display: flex;
      flex-wrap: wrap;
      .hot-item {
        margin-top: 25rpx;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 345rpx;
        .image-search {
          width: 33rpx;
          height: 33rpx;
          image {
            // vertical-align: middle;
            width: 21rpx;
            height: 23rpx;
          }
        }
        .image-hot {
          width: 33rpx;
          height: 33rpx;
          image {
            // vertical-align: middle;
            width: 33rpx;
            height: 33rpx;
          }
        }
        .symptom-name {
          // vertical-align: middle;
          height: 33rpx;
          color: #333333;
          font-size: 30rpx;
          padding: 0 2px;
        }
      }
    }
  }
}
