@import "utils/fn.scss";

.petPop {
  // position: relative;
  // left: 0;
  // top: 0;
  // box-sizing: border-box;
  // padding-bottom: 180rpx + 78rpx;

  // border-top-left-radius: 38rpx;
  // border-top-right-radius: 38rpx;
  // background-color: #ffffff;
  // overflow-y: scroll;
  // max-height: calc(100vh - 180rpx - 78rpx);
  padding: 0 38rpx;
  width: 590rpx;
}

.header {
  // box-sizing: border-box;
  padding: 30rpx 38rpx;
  // display: flex;
  // align-items: center;
  font-weight: bold;
  // position: relative;
  height: 40rpx;

  .title {
    font-size: 35rpx;
    font-weight: bold;
    color: #1f1f1f;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .close-icon {
    height: 50rpx;
    width: 50rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/mall/popup_close.png"
    );
    position: absolute;
    right: 0rpx;
  }
}

.list {
  width: 100%;
  // background-color: aqua;
  margin: 20rpx 0;

  .item {
    display: flex;
    flex-direction: column;

    min-height: 80rpx;
    // border-top: 1rpx solid #f8f8f8;

    &:first-child {
      border-top: none;
    }

    // &:last-child {
    //   margin-bottom: 45px;
    // }
  }

  .up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    width: 625rpx;
    height: 80rpx;
    font-size: 29rpx;
    font-weight: 400;
    color: #1f1f1f;
    line-height: 80rpx;
  }

  .gou {
    width: 50rpx;
    height: 40rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/appointment/choose-selected.png"
    );
    object-fit: cover;
  }
  .no-gou {
    width: 50rpx;
    height: 40rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/appointment/choose-noselect.png"
    );
    object-fit: cover;
  }

  .down {
    box-sizing: border-box;
    padding: 23rpx 27rpx;
    width: 100%;
    background: #f7f8fc;
    border-radius: 15rpx;
    min-height: 130rpx;
    margin-top: 15rpx;
    .textareaBox {
      height: 115rpx;
      border-radius: 24rpx;
      .numBox {
        color: #999999;
        font-size: 26rpx;
        text-align: right;
        .active {
          color: #999999;
        }
      }
    }
  }

  .input {
    width: 100%;
    // min-height: 96rpx;
    border: none;
    outline: none;
    font-size: 29rpx;
    max-height: 123rpx;
    color: #1f1f1f;
    background-color: #f7f8fc;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40rpx;
  padding: 0 6rpx;

  .no {
    width: 240rpx;
    height: 85rpx;
    border-radius: 42rpx;
    border: 2rpx solid #e6e6e6;

    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 31rpx;
      font-weight: 500;
      color: #666666;
    }
  }

  .ok {
    width: 240rpx;
    height: 85rpx;
    background: #fe2442;
    border-radius: 42rpx;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 31rpx;
      font-weight: 500;
      color: #ffffff;
    }
  }
  .no-ok {
    width: 245rpx;
    height: 85rpx;
    opacity: 0.5;
    background: #fe2442;
    border-radius: 42rpx;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 31rpx;
      font-weight: 500;
      color: #ffffff;
    }
  }
}
