@import "@/utils/fn.scss";
.page-container {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  .search-wrapper {
    width: 668rpx;
    margin: 0 auto;
    height: 85rpx;
    padding: 10rpx 0;
  }
  .tag-wrapper {
    ::v-deep .u-tabs__wrapper__nav__item-4 {
      flex: 100rpx !important;
    }
  }
  .order-wrapper {
    background-color: rgba(245, 246, 247, 1);
    padding-top: 19rpx;
  }
}
