.page-wrapper {
  // #ifdef MP-WEIXIN
  height: 100vh;
  // #endif

  .scroll-wrapper {
    height: 100vh;
  }

  .no-data-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
