.like-view {
  margin-top: 42rpx;
  margin-bottom: 50rpx;
  .top-title {
    font-size: 29rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    color: #1f1f1f;
    line-height: 40rpx;
    margin-left: 13rpx;
  }
  .goods-list {
    margin: 23rpx 0;
  }
}
