// 视频-文字
.video-popup-box {
  position: relative;
  width: 600rpx;
  // background: #ccc;

  .content-box {
    background-color: #fff;
    border-radius: 40rpx;
    padding-bottom: 38rpx;
    .title {
      width: 600rpx;
      color: #1f1f1f;
      font-size: 32rpx;
      text-align: center;
      font-weight: bold;
      padding-top: 45rpx;
    }
    .video-box {
      height: 520rpx;
      margin-top: 20rpx;
      display: flex;
      justify-content: center;
      .in-vidoe-box {
        width: 540rpx;
        height: 500rpx;
        background-color: beige;
        border-radius: 8rpx;
        video {
          width: 540rpx;
          height: 500rpx;
        }
      }
    }
    .description-text {
      color: #1f1f1f;
      font-size: 28rpx;
      width: 600rpx;
      max-height: 40rpx;
      padding: 1rpx 50rpx 15rpx;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* 控制显示的行数 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .confirm {
      width: 520rpx;
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
      background-color: #ffeea5;
      color: #1f1f1f;
      font-size: 32rpx;
      margin: 40rpx auto 0;
      border-radius: 44rpx;
    }
  }
  .close {
    margin: 40rpx auto 0;
    width: 64rpx;
    height: 64rpx;
    color: #fff;
    .image {
      width: 64rpx;
      height: 64rpx;
    }
  }
}
// 图片-文字
.img-popup-box {
  position: relative;
  width: 600rpx;
  // background: #ccc;

  .content-box {
    background-color: #fff;
    border-radius: 40rpx;
    padding-bottom: 38rpx;
    .title {
      width: 600rpx;
      color: #1f1f1f;
      font-size: 32rpx;
      text-align: center;
      font-weight: bold;
      padding-top: 45rpx;
    }
    .img-box {
      height: 220rpx;
      margin-top: 20rpx;
      display: flex;
      justify-content: center;
      .in-img-box {
        margin: 0 10rpx;
        .image {
          width: 200rpx;
          height: 200rpx;
        }
        .imageThree {
          width: 160rpx;
          height: 160rpx;
        }
      }
    }
    .description-text {
      color: #1f1f1f;
      font-size: 28rpx;
      width: 600rpx;
      max-height: 80rpx;
      padding: 1rpx 50rpx 15rpx;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 控制显示的行数 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .confirm {
      width: 520rpx;
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
      background-color: #ffeea5;
      color: #1f1f1f;
      font-size: 32rpx;
      margin: 40rpx auto 0;
      border-radius: 44rpx;
    }
  }
  .close {
    margin: 40rpx auto 0;
    width: 64rpx;
    height: 64rpx;
    color: #fff;
    .image {
      width: 64rpx;
      height: 64rpx;
    }
  }
}
// 文字
.text-popup-box {
  position: relative;
  width: 600rpx;
  // background: #ccc;

  .content-box {
    background-color: #fff;
    border-radius: 40rpx;
    padding-bottom: 38rpx;
    .title {
      width: 600rpx;
      color: #1f1f1f;
      font-size: 32rpx;
      text-align: center;
      font-weight: bold;
      padding-top: 45rpx;
    }
    .description-text {
      color: #1f1f1f;
      font-size: 28rpx;
      width: 600rpx;
      max-height: 260rpx;
      overflow-y: auto;
      padding: 20rpx 50rpx 15rpx;
    }
    .confirm {
      width: 520rpx;
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
      background-color: #ffeea5;
      color: #1f1f1f;
      font-size: 32rpx;
      margin: 40rpx auto 0;
      border-radius: 44rpx;
    }
  }
  .close {
    margin: 40rpx auto 0;
    width: 64rpx;
    height: 64rpx;
    color: #fff;
    .image {
      width: 64rpx;
      height: 64rpx;
    }
  }
}
