@import "@/utils/fn.scss";

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  width: 100%;
  .flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    .top-navbar {
      width: 100%;
      height: 108rpx;
      padding: 28rpx 28rpx 10rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-icon {
        height: 42rpx;
        width: 42rpx;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/index/back-black-tag.png);
      }

      .search {
        flex: 1;
        height: 69rpx;
        margin-left: 15rpx;
        margin-right: 23rpx;
        background: #f5f6f7;
        border-radius: 35rpx;
      }
      .search-btn {
        min-width: 58rpx;
        height: 40rpx;
        font-weight: 400;
        font-size: 29rpx;
        color: #1f1f1f;
      }
    }
  }
}
