* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search {
  width: 750rpx;
  height: 85rpx;
  padding: 0 30rpx;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0;
  top: 0;
  .inp {
    width: 612rpx;
    height: 65rpx;
    background: #f5f6f7;
    border-radius: 33rpx;
    padding-left: 80rpx;
    border: 1rpx solid transparent;
    &::placeholder {
      font-size: 25rpx;
      color: #aaaaaa;
    }
  }
  .cancel {
    font-size: 27rpx;
    color: #333333;
    margin-left: 26rpx;
  }
  .searchicon {
    // position: absolute;
    // left: 62rpx;
    // top: 28rpx;
    width: 31rpx;
    height: 31rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/index/search.png")
      no-repeat;
    background-size: cover;
  }
}
.searchList {
  width: 750rpx;
  height: calc(100vh - 100rpx);
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 30rpx;
  .search-item {
    padding: 20rpx 0;
    border-bottom: 1rpx solid #f5f6f7;
  }
}
.nosearch {
  width: 750rpx;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200rpx;
  font-size: 25rpx;
  color: #999999;
  .searchimg {
    width: 346rpx;
    height: 346rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/index/nosearch.png")
      no-repeat;
    background-size: cover;
    margin-bottom: 20rpx;
  }
}
