@import "@/utils/fn.scss";
.topshop-home-wrapper {
  margin: 19rpx auto;
  width: 688rpx;
  min-height: 379rpx;
  background-color: #fff;
  // height: 173rpx;
  border-radius: 31rpx;
  position: relative;
  .shop-header-image {
    width: 688rpx;
    height: 173rpx;
    border-radius: 31rpx;
    position: relative;
    .swiper-box {
      width: 100%;
      height: 100%;
    }
    .cover {
      width: 688rpx;
      height: 173rpx;
      overflow: hidden;
      background-color: #f5f6f7;
      border-top-left-radius: 31rpx;
      border-top-right-radius: 31rpx;
    }
  }
  .shop-info {
    padding: 31rpx 31rpx 25rpx 31rpx;
  }
  .shopname {
    @include textfclaw(31rpx, #000000, $align: left, $lineH: 42rpx);
    font-weight: bold;
    width: 626rpx;
    @include textOverflow(1);
  }
  .shopaddr {
    @include textfclaw(23rpx, #666666, $align: left);
    margin-top: 17rpx;
    width: 626rpx;
    @include textOverflow(2);
  }
  .distanceinfo {
    display: flex;
    align-items: center;
    margin-top: 19rpx;
    @include textfclaw(23rpx, #999999);
    .iconfont {
      font-size: 34rpx;
      color: #999999;
      margin-right: 14rpx;
    }
    .closettag {
      width: 92rpx;
      height: 35rpx;
      border-radius: 17rpx;
      margin-left: 10rpx;
      @include flex();
      border: 1rpx solid #2dce80;
      @include textfclaw(19rpx, #2dce80);
    }
  }
  .changeshopicon {
    background: #ffffff;
    border-radius: 31rpx;
    border: 1px solid #e1e1e1;
    width: 152rpx;
    height: 62rpx;
    margin-left: auto;
    @include textfclaw(23rpx, #000000);
    @include flex();
    .changeicon {
      width: 21rpx;
      height: 23rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/changeicon.png"
      );
      margin-right: 8rpx;
    }
  }
}
