@import "../../../utils/fn.scss";
.container {
  width: 100vw;
  height: 100vh;
  background-color: #f7f8fc;
  position: relative;

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .btn-list {
    position: fixed;
    // top: 80vh;
    // bottom: 9vh;
    left: 120rpx;
    width: 244rpx;
    height: 184rpx;
    margin-left: 13rpx;
    // text-align: center;
    padding: 0;
    z-index: 1;
  }
  .btn-list-more {
    position: fixed;
    // top: 75vh;
    bottom: 13vh;
    left: 17.5vw;
    width: 244rpx;
    height: 184rpx;
    margin-left: 13rpx;
    // text-align: center;
    padding: 0;
    z-index: 1;
  }
  // .absolutely-bg {
  //   position: fixed;
  //   top: 81vh;
  //   left: 20vw;
  //   width: 244rpx;
  //   height: 184rpx;
  //   background-color: #fff;
  //   z-index: 5;
  //   .box {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     z-index: 99;
  //     background-color: #fff;

  //     .content {
  //       width: 217rpx;
  //       height: 161rpx;
  //       background-color: #fff;
  //       background-repeat: no-repeat;
  //       background-size: contain;
  //       background-color: #fff;
  //       background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/goods/moreBg.png);
  //       .item-top {
  //         margin-top: 19rpx;
  //         text-align: center;
  //         font-size: 29rpx;
  //         color: #333333;
  //         line-height: 40rpx;
  //       }
  //       .line {
  //         margin: 15rpx 38rpx 13rpx 38rpx;
  //         width: 139rpx;
  //         padding: 0 38rpx;
  //         box-sizing: border-box;
  //         border: 2rpx solid #f8f8f8;
  //       }
  //       .item-bottom {
  //         text-align: center;
  //         font-size: 29rpx;
  //         color: #333333;
  //         line-height: 40rpx;
  //       }
  //     }
  //   }
  // }

  .box {
    background-color: #f7f8fc;
    padding-top: 16rpx; //mounted后会根据导航栏高度重新设置
    .code-wrapper {
      height: 492rpx;
      width: 719rpx;
      background-color: #fff;
      border-radius: 23rpx;
      margin: 0 auto;
      margin-bottom: 19rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 31rpx;
      .code-text {
        font-family: D-DIN-Bold;
        font-size: 50rpx;
        color: #1f1f1f;
        line-height: 38rpx;
        margin-bottom: 25rpx;
      }
    }
    .header {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      margin: 19rpx 19rpx 19rpx 19rpx;
      border-radius: 15rpx;
      &-title {
        padding: 10rpx 23rpx 4rpx 23rpx;
        font-size: 31rpx;
        font-weight: bold;
        color: #1f1f1f;
      }
      &-des {
        font-size: 27rpx;
        color: #1f1f1f;
        padding: 0 23rpx 29rpx 23rpx;
      }
      &-bar {
        font-size: 27rpx;
        font-weight: 400;
        color: #666666;
        padding: 33rpx 23rpx 0 23rpx;
      }
    }

    .goods-box {
      background-color: #ffffff;
      margin: 0 19rpx 19rpx 19rpx;
      //padding: 10rpx 0;
      padding: 10rpx 22rpx;
      border-radius: 23rpx;
      display: flex;
      flex-direction: column;
      .goods-box-title {
        font-size: 29rpx;
        font-weight: 500;
        color: #1f1f1f;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
      .ppyc {
        width: 120rpx;
        height: 34rpx;
        padding-top: 4rpx;
      }
      .flx-between {
        display: flex;
        justify-content: space-between;
        .line-order-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 98rpx;
          height: 31rpx;
          border-radius: 6rpx;
          border: 1rpx solid #ffcfd8;
          .line-order-box-text {
            font-weight: 400;
            font-size: 21rpx;
            color: #fe2442;
            line-height: 31rpx;
            font-style: normal;
          }
        }
      }
    }

    .remark {
      margin: 19rpx;
      border-radius: 23rpx;
      background-color: #ffffff;
    }

    .text-left {
      margin-left: 46rpx;
      word-break: break-all;
      text-align: justify;
      text-align-last: right;
    }

    .footer {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      margin: 19rpx 19rpx 19rpx 19rpx;
      border-radius: 15rpx;
      padding: 10rpx 0;
    }

    .cell {
      padding: 23rpx 23rpx;
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      .cell-right {
        .value {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          // text-align: right;
          font-size: 29rpx;
          color: #fe2442;
          line-height: 39rpx;
          margin-bottom: 10rpx;
          img {
            width: 30rpx;
            height: 30rpx;
          }
        }
        .tip {
          color: #999999;
          font-size: 25rpx;
          line-height: 35rpx;
          text-align: right;
        }
        .status {
          margin-right: 30rpx;
        }
      }
      &-title {
        white-space: nowrap;
        font-size: 29rpx;
        font-weight: 400;
        color: #1f1f1f;
      }
      &-des {
        font-size: 29rpx;
        font-weight: 400;
        color: #666666;
      }
    }
  }

  .goods-bottom {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 12rpx;
    padding-left: 40rpx;
    &-button {
      display: flex;
      margin-right: 23rpx;
      align-items: center;
      justify-content: center;
      // padding: 12rpx 22rpx 14rpx 23rpx;
      width: 169rpx;
      height: 69rpx;
      border-radius: 35rpx;
      border: 1px solid #e6e6e6;
      box-shadow: none;
      font-size: 29rpx;
      font-weight: 400;
      color: #1f1f1f;
      background-color: #ffffff;
      box-sizing: border-box; /* 添加这行样式 */
      text-align: center;
    }

    button::after {
      border: none;
    } //当给button添加border属性并切边角时，会发现button的四个角位置会有线（根据手机不同有的会显示，有的不会），这个线就是uni-app本身自带的border，用button::after{ border: none;} 可以去掉

    .pay {
      background: #fe2442;
      font-weight: bold;
      color: white;
      box-sizing: border-box; /* 添加这行样式 */
      outline: none; /* 可选，移除按钮的默认描边效果 */
      border: 0;
      min-width: 169rpx;
    }
  }
  .box-btn {
    width: 169rpx;
  }

  .start {
    align-items: flex-start;
  }
  .center {
    align-items: center;
  }

  .line-container {
    padding: 12rpx 23rpx;
    .line {
      height: 2rpx;
      background-color: #f8f8f8;
    }
  }

  .divider-container {
    padding: 0 15rpx;
    .divider {
      width: 2rpx;
      height: 27rpx;
      background-color: #cdcdcd;
    }
  }

  .rect {
    display: flex;
    align-items: center;
    flex-direction: column;
    .img {
      width: 346rpx;
      height: 230rpx;
      margin-bottom: -86rpx;
      z-index: 1;
    }
  }

  .overlay-content {
    width: 577rpx;
    height: 288rpx;
    background: rgba(255, 255, 255, 1);
    border-radius: 38rpx;
    text-align: center;
    padding-top: 67rpx;
    .message {
      width: 404rpx;
      height: 77rpx;
      margin: 0 86rpx 46rpx 86rpx;
      font-weight: 400;
      font-size: 27rpx;
      color: #1f1f1f;
      line-height: 38rpx;
      text-align: center;
      font-style: normal;
    }

    .buttons {
      border-top: 1rpx solid #e6e6e6;
      margin: 0 38rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 26rpx;
      .cancel {
        font-weight: 400;
        font-size: 31rpx;
        color: #25252a;
        line-height: 42rpx;
      }
      .line {
        width: 2rpx;
        height: 38rpx;
        margin-left: 94rpx;
        margin-right: 61rpx;
        background-color: #e6e6e6;
        border: 1rpx solid #e6e6e6;
      }
      .concatStore {
        font-weight: 500;
        font-size: 31rpx;
        color: #1f1f1f;
        line-height: 42rpx;
      }
    }
  }

  .sign-contract-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 28rpx 28rpx 92rpx 28rpx;
    box-shadow: 0rpx 2rpx 0rpx 0rpx #f8f8f8;
    font-size: 29rpx;
    font-weight: 600;
    color: #fe2442;
    background-color: #ffefef;
    .text-32 {
      height: 40rpx;
      font-weight: 600;
      line-height: 40rpx;
      text-align: left;
      font-style: normal;
    }
    .flex-row {
      display: flex;
      align-items: center;
    }
    .text-group-4 {
      font-weight: 600;
      line-height: 40rpx;
      text-align: right;
      font-style: normal;
    }
  }
}

.more-btn {
  display: flex;
  align-items: center;
  font-size: 24rpx;
  margin: 0 auto;
  color: #999999;
  margin-bottom: 10rpx;
  .more-btn-icon {
    width: 28rpx;
    height: 30rpx;
    margin-left: 4rpx;
  }
}

.add-live-box {
  margin: 24rpx 0 28rpx 0;
  height: 85rpx;
  line-height: 80rpx;
  background: #ffffff;
  border-radius: 42rpx;
  border: 2rpx solid rgba(254, 36, 66, 0.5);
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 29rpx;
  color: #fe2442;
}

.afterSales {
  width: 138rpx;
  height: 54rpx;
  border-radius: 35rpx;
  border: 2rpx solid #e6e6e6;
  font-size: 25rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  color: #1f1f1f;
  line-height: 54rpx;
  text-align: center;
  float: right;
  margin-bottom: 10rpx;
}
.bean-back {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 29rpx;
  color: #fe2442;
  line-height: 38rpx;
  text-align: right;
  font-style: normal;
  display: flex;
  align-items: center;
}
.bean-num {
  font-size: 27rpx !important;
}
.to-account {
  font-size: 25rpx;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 23rpx;
  margin-top: -21rpx;
  box-sizing: border-box;
  padding-bottom: 24rpx;
  // border-bottom: 2rpx solid #F8F8F8;
}
.arrowRight {
  display: inline-block;
  width: 31rpx;
  height: 31rpx;
}
.txt2 {
  padding-right: 30rpx;
}
.now-shop {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 31rpx !important;
  color: #1f1f1f !important;
  line-height: 33rpx;
  text-align: left;
  font-style: normal;
  margin-top: 28rpx !important;
  display: inline-block;
}
.textOverflow {
  @include textOverflow($lamp: 2);
  padding-left: 40rpx;
}
