@import "@/utils/fn.scss";
.beauticianDetailPop {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  height: 1020rpx;
.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 38rpx 0;
  .title {
    font-size: 35rpx;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-left: 288rpx;
  }
  .cancel {
    width: 50rpx;
    height: 50rpx;
    margin-left: 211rpx;
  }
}
.content {
  // width: 720rpx;
  // height: 120rpx;
  display: flex;
  align-items: center;
  width: max-content;
  // overflow-x: scroll;
  .beautyItem {
    // height: 84rpx;
    width: 196rpx;
    height: 208rpx;
    background: #F7F8FC;
    border-radius: 19rpx;
    margin-right: 20rpx;
    font-size: 29rpx;
    // line-height: 84rpx;
    position: relative;
    @include flex();
    // justify-content: center;
    // flex-shrink: 0;
    &.selected {
      color: #fe2442;
      background: #ffefef;
      border: 2rpx solid #fe2442;
    }
    &.disabled {
      color: #d9d9d9;
    }
    &:last-child {
      margin-right: 23rpx;
    }
    &:first-child {
      margin-left: 23rpx;
    }
    .buszy {
      height: 34rpx;
      width: 57rpx;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0rpx 15rpx 0rpx 15rpx;
      background-color: rgba(0, 0, 0, 0.25);
      font-size: 19rpx;
      color: #ffffff;
      text-align: center;
      line-height: 34rpx;
    }
    .beauty_info {
      margin: 26rpx 0;
      .beauty_avater {
        text-align: center;
        margin-bottom: 23rpx;
        .avater {
          width: 92rpx;
          height: 92rpx;
          border-radius: 50%;
        }
      }
      .beauty_name {
        font-size: 27rpx;
        max-width: 134rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
      }
    }
  }
}
.beauty-dec {
  display: flex;
  margin: 0 28rpx;
  .beauty-introduce {
    font-size: 29rpx;
    color: #1f1f1f;
    line-height: 40rpx;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin-top: 30rpx;
  }
}
.footers {
  box-sizing: border-box;
  padding: 96rpx 244rpx 171rpx 244rpx;
  width: 100%;
  .new {
    background-color: #ecedee;
    height: 85rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    .text {
      font-size: 30rpx;
    }
    &.selected {
      background-color: #ffd41e;
      color: #1f1f1f;
    }
  }
}
}