@import "@/utils/fn.scss";
.wrapper {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  // background-image: linear-gradient(
  //   180deg,
  //   transparent,
  //   rgba(245, 246, 247, 1)
  // );
  .top-cmd {
    margin: 0 auto;
    width: 704rpx;
    margin-bottom: 31rpx;
    .top-special {
      height: 198rpx;
      width: 704rpx;
      position: relative;
      // @include bg(
      //   "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/top-special.png"
      // );
      margin-bottom: 31rpx;
      .pet {
        position: absolute;
        height: 156rpx;
        width: 138rpx;
        top: 0;
        left: 30rpx;
        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/top-spec-pet.png"
        );
      }
      .hi {
        position: absolute;
        height: 38rpx;
        width: 56rpx;
        top: 30rpx;
        left: 228rpx;
        @include bg(
          "https://image.henhenchina.com/61ee0fe4f58112000178d924/ce52c1a1faa84bbea66f86520f5513cc.png"
        );
      }
      .typer {
        position: absolute;
        height: 42rpx;
        top: 30rpx;
        left: 298rpx;
        z-index: 1;
      }
      .bottom-text {
        position: absolute;
        height: 87rpx;
        width: 677rpx;
        bottom: 0;
        left: 0;
        z-index: 1;
        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/top-spec-bottomtext.png"
        );
      }
    }
    .bottom-wrapper {
      display: flex;
      height: 350rpx;
      justify-content: space-between;
      .left-wrapper {
        width: 392rpx;
        background: #ffffff;
        border-radius: 23rpx;
        padding: 31rpx 23rpx 0rpx;
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 13rpx;
          .left {
            // flex: 1;
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/title-hot.png"
            );
            height: 35rpx;
            width: 138rpx;
            margin-right: 88rpx;
          }
          .change {
            height: 31rpx;
            width: 31rpx;
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/change.png"
            );
            margin-right: 8rpx;
          }
          .right {
            @include textfclaw(27rpx, #333);
            font-weight: 400;
          }
        }
        .question-wrapper {
          .ques-item {
            height: 67rpx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            .content {
              font-size: 27rpx;
              font-weight: 400;
              color: #333;
            }
            .right-arrow {
              height: 31rpx;
              width: 31rpx;
              @include bg(
                "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/right-arrow.png"
              );
            }
            .border {
              position: absolute;
              height: 2rpx;
              width: 346rpx;
              bottom: 0;
              left: 0;
              @include bg(
                "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/hot-divide.png"
              );
            }
          }
        }
      }
      .right-wrapper {
        width: 292rpx;
        background: #ffffff;
        border-radius: 23rpx;
        position: relative;
        padding-left: 23rpx;
        padding-top: 30rpx;
        .title {
          @include bg(
            "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/title-arti.png"
          );
          height: 35rpx;
          width: 138rpx;
          margin-bottom: 25rpx;
        }
        .text {
          @include textfclaw(27rpx, #333);
          text-align: left;
          font-weight: 400;
        }
        .bottom-pic {
          @include bg(
            "https://frontend-cdn.chongpangpang.com/image/medical-mp/chatai/bottompic-arti.png"
          );
          height: 163rpx;
          width: 269rpx;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .timeInfo {
    height: 33rpx;
    width: fit-content;
    margin: 10rpx auto;
    font-weight: 400;
    @include textfclaw(23rpx, #999, $align: center, $lineH: 33rpx);
  }
  .InfoNtf {
    width: fit-content;
    padding: 17rpx 38rpx;
    border-radius: 35rpx;
    background-color: #f9f9f9;
    margin: 38rpx auto;
    white-space: pre-line;
    @include textfclaw(23rpx, #999, $align: center, $lineH: 32rpx);
  }
  .right-mes {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    margin: 38rpx 0;
    @include textfclaw(31rpx, #333, $align: left);
    line-height: 42rpx;
    .right-ava {
      margin-left: 23rpx;
      margin-right: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .right-body {
      padding: 23rpx;
      background-color: #79ebcf;
      border-radius: 23rpx 0rpx 23rpx 23rpx;
      max-width: 504rpx;
      position: relative;
      .audio {
        color: blue;
      }
    }
    // .right-body::after {
    //   content: "";
    //   @include absNormal(0, 0, $top: 33rpx, $right: -12rpx);
    //   display: block;
    //   border-bottom: 12rpx solid transparent;
    //   border-top: 12rpx solid transparent;
    //   border-left: 12rpx solid #79ebcf;
    // }
    .right-text {
      display: flex;
      align-items: center;
      word-break: break-word;
    }
    .img-wrapper-right {
      // background-color: transparent !important;
      .chatImg {
        border-radius: 15rpx;
        // overflow: hidden;
        width: 400rpx;
        height: 400rpx;
      }
    }
    .video-wrapper-right {
      video {
        max-width: 238rpx;
        max-height: 238rpx;
        border-radius: 15rpx;
      }
    }
    .video-wrapper-left {
      video {
        max-width: 238rpx;
        max-height: 238rpx;
        border-radius: 15rpx;
      }
    }
  }
  .left-mes {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    margin: 38rpx 0;
    @include textfclaw(31rpx, #333, $align: left, $lineH: 42rpx);
    .left-ava {
      margin-right: 23rpx;
      margin-left: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .left-body {
      padding: 23rpx;
      background-color: #fff;
      border: 1rpx solid #e8e8ea;
      max-width: 504rpx;
      border-radius: 0rpx 23rpx 23rpx 23rpx;
      height: auto;
      position: relative;
      .audio {
        color: blue;
      }
      .chatImg {
        width: 400rpx;
        height: 400rpx;
      }
      .left-dot {
        width: 12rpx;
        height: 12rpx;
        background: #000000;
        border-radius: 50%;
        margin-top: 12rpx;
        margin-right: 10rpx;
      }
      .right-box {
        width: 442rpx;
      }

      .diagnose-detail {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 19rpx 12rpx;
        width: 442rpx;
        background: #ffffff;
        border-radius: 15rpx;
        .tag {
          height: 44rpx;
          width: 44rpx;
          image {
            height: 44rpx;
            width: 44rpx;
            object-fit: cover;
            margin-right: 8rpx;
          }
        }
        .arrow {
          height: 16px;
          width: 16px;
          image {
            height: 16px;
            width: 16px;
            object-fit: cover;
          }
        }
      }

      .prescription-detail {
        display: flex;
        align-items: center;
        background-color: #fff;
        justify-content: space-between;
        padding: 19rpx 12rpx;
        width: 442rpx;
        background: #ffffff;
        border-radius: 15rpx;
        .left {
          .first-row {
            display: flex;
            align-items: center;
            margin-bottom: 19rpx;
            .tag {
              height: 44rpx;
              width: 44rpx;
              image {
                height: 44rpx;
                width: 44rpx;
                object-fit: cover;
                margin-right: 8rpx;
              }
            }
          }

          .sec-row {
            font-size: 23rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
          }
        }
        .right {
          height: 16px;
          width: 16px;
          image {
            height: 16px;
            width: 16px;
            object-fit: cover;
          }
        }
      }

      .ml-round {
        width: 442rpx;
      }
      .can-like-zone {
        position: absolute;
        bottom: -10rpx;
        right: -50rpx;
        image {
          height: 38rpx;
          width: 38rpx;
          object-fit: cover;
        }
        .to-choose {
          .top {
            margin-bottom: 11rpx;
          }
        }
      }
      .loading-img {
        width: 150rpx;
        height: 46rpx;
      }
      .loading-text {
        position: absolute;
        // bottom: -49rpx;
        top: 95rpx;
        left: 0;
        font-size: 26rpx;
        color: rgba(102, 102, 102, 1);
      }
    }
    .left-body-result {
      display: flex;
    }
    .left-text {
      display: flex;
      align-items: center;
      word-break: break-word;
    }
    .img-wrapper-left {
      .chatImg {
        border-radius: 15rpx;
        // overflow: hidden;
        width: 400rpx;
        height: 400rpx;
      }
    }
  }
  .diagnosis-body {
    font-size: 27rpx;
    line-height: 38rpx;
    color: #333333;
    font-weight: bold;
    .item-con {
      margin-bottom: 19rpx;
    }
    .item-title {
      font-weight: 400;
      display: flex;
      align-items: center;
      // &.diagnosis-title {
      //   // display: block;
      // }
      .round {
        margin-right: 12rpx;
        display: inline-block;
        width: 12rpx;
        height: 12rpx;
        background-color: #000000;
        border-radius: 50%;
      }
    }
    .item-content {
      // display: inline;
    }
    .diagnosis-con,
    .offlineAdvice-con,
    .medicationAdvice-con,
    .otherAdvice-con {
      display: block;
      word-break: break-all;
    }

    .pd-l42 {
      padding-left: 24rpx;
    }
    .last-no-mb {
      margin-bottom: 0 !important;
    }
  }
  .tag-warp {
    width: 442rpx;
    height: 133rpx;
    background: #ffffff;
    border-radius: 15rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 19rpx 0 12rpx;
    .tag-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      image {
        width: 44rpx;
        height: 44rpx;
      }
      text {
        font-size: 31rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: bold;
        color: #000000;
      }
    }
    .tag-date {
      font-size: 23rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;
      margin-top: 19rpx;
    }
    .tag-right {
      width: 31rpx;
      height: 31rpx;
    }
  }

  .ai-quest-left-body {
    padding: 19rpx;
    background-color: #f3f3f4;
    border: 1rpx solid #e8e8ea;
    width: 504rpx;
    border-radius: 15rpx;
    height: auto;
    // overflow-x: hidden;
    position: relative;
  }
  .ai-quest-left-body::before {
    content: "";
    @include absNormal(0, 0, $top: 33rpx, $left: -12rpx);
    display: block;
    border-bottom: 12rpx solid transparent;
    border-top: 12rpx solid transparent;
    border-right: 12rpx solid #f3f3f4;
  }
  .ai-quest-title {
    font-size: 23rpx;
    color: #666666;
    width: 465rpx;
  }
  .ai-quest-content {
    padding-top: 19rpx;
    color: black;
    width: 465rpx;
  }
  .ai-quest-list {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15rpx;
    width: 465rpx;
    margin-top: 19rpx;
    .ai-quest-list-cell {
      display: flex;
      flex-direction: column;
      .ai-quest-list-cell-content {
        display: flex;
        flex-direction: row;
        padding: 18rpx 19rpx;
        .ai-quest-list-cell-dot {
          //position: relative;
          margin-top: 12rpx;
          width: 12rpx;
          height: 12rpx;
          border-radius: 50%;
          background: #2dce80;
        }
        .ai-quest-list-cell-title {
          margin-left: 27rpx;
          width: calc(100% - 12rpx - 12rpx);
          color: #2dce80;
        }
      }
    }
  }
}
.flex-row {
  display: flex;
  flex-direction: row;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ani-opa {
  animation: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.3s linear both;
  animation-delay: 0;
}

.slide-in-bottom1 {
  // animation: slide-in-bottom 0.4s linear both;
  animation-delay: 0.3s;
}

.slide-in-bottom2 {
  animation: slide-in-bottom 0.4s linear both;
  animation-delay: 0.05s;
}

.slide-in-bottom3 {
  animation: slide-in-bottom 0.4s linear both;
  animation-delay: 0.22s;
}

.slide-in-bottom4 {
  animation: slide-in-bottom 0.4s linear both;
  animation-delay: 0.3s;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(80rpx);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.slide-in-fwd-center {
  animation: slide-in-fwd-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-fwd-center-1 {
  animation-delay: 0.1;
  animation: slide-in-fwd-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.scale-in-tl {
  animation: scale-in-tl 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-in-tl {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes thinking {
  0% {
    top: 134rpx;
  }
  100% {
    top: 95rpx;
  }
}
.ani-thinking {
  animation: thinking 0.4s linear both;
}
