.mt35-box {
  padding-top: 150rpx;
}

.mt35 {
  // margin-top: 35rpx;
  margin-left: 23rpx;
  margin-right: 23rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mt0 {
  margin-top: 0 !important;
}

@keyframes toShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.index-warp {
  width: 100%;
  height: 100%;
}

.roll-up {
  background: #f5f6f7 !important;
}

.bg {
  position: absolute;
  z-index: -10;
  left: 0;
  top: 0;
  right: 0;
  height: 850rpx;
  width: 750rpx;
  // background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/activity-bg-lan.png");
}

.header {
  .hender-frame {
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;
    align-items: center;
    //margin-bottom: 50rpx;

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      .iconfont {
        font-size: 42rpx;
      }
      .icon-back {
        margin-left: 37rpx;
        margin-right: 30rpx;
      }

      .city {
        //width: 162rpx;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 27rpx;
        font-weight: bold;
        color: #333333;
        line-height: 48rpx;
        height: 48rpx;

        .iconfont {
          font-size: 40rpx;
        }

        //
        // .arrowDown {
        //   background: url("https://image.henhenchina.com/61ee0fe4f58112000178d924/f2c8f3f538ad4c6ebf49ab062fd5e4a7.png");
        //   background-size: cover;
        //   width: 16rpx;
        //   height: 10rpx;
        // }

        .text-center {
          text-indent: 1em;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
        }
      }

      .input-btn {
        color: #000;
        font-size: 44rpx;
        margin-left: 44rpx;
        //margin-right: 50rpx;
        height: 48rpx;
        line-height: 48rpx;
      }
    }

    .title {
      text-align: center;
      flex-shrink: 0;
      font-size: 35rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold;
      color: #000000;
      //height: 48rpx;
      //line-height: 48rpx;
      // padding: 14rpx 0;
      // background: rgba(34,34,23, .1);
    }

    .right {
      flex: 1;
    }
  }

  .tag {
    margin-top: 27rpx;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 23rpx;
    margin-left: 23rpx;
  }
}

.header-fixed {
  animation: toShow 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  width: 100%;
  //   height: 310rpx;
  // background: linear-gradient(180deg, #fee8dc 0%, #ffffff 100%);
  background: #ffffff;
  // padding-left: 31rpx;
  // position: fixed;
  padding-bottom: 10rpx;
  top: 0;
  left: 0;
  z-index: 30;
  box-sizing: border-box;
  display: none;

  //.items-center {
  //  height: 60rpx;
  //  padding-left: 31rpx;
  //}

  .hender-frame {
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;
    align-items: center;
    //margin-bottom: 50rpx;

    .left {
      flex: 2;
      display: flex;
      display: flex;
      align-items: center;
      .iconfont {
        font-size: 42rpx;
      }
      .icon-back {
        margin-left: 37rpx;
        margin-right: 30rpx;
      }

      .city {
        //width: 162rpx;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 27rpx;
        font-weight: bold;
        color: #333333;
        line-height: 48rpx;
        height: 48rpx;

        .iconfont {
          font-size: 40rpx;
        }

        //
        // .arrowDown {
        //   background: url("https://image.henhenchina.com/61ee0fe4f58112000178d924/f2c8f3f538ad4c6ebf49ab062fd5e4a7.png");
        //   background-size: cover;
        //   width: 16rpx;
        //   height: 10rpx;
        // }

        .text-center {
          text-indent: 1em;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
        }
      }

      .input-btn {
        color: #000;
        font-size: 34rpx;
        margin-left: 44rpx;
        //margin-right: 50rpx;
        height: 48rpx;
        line-height: 48rpx;
      }
    }

    .title {
      text-align: center;
      flex-shrink: 0;
      font-size: 35rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold;
      color: #000000;
      //height: 48rpx;
      //line-height: 48rpx;
      // padding: 14rpx 0;
      // background: rgba(34,34,23, .1);
    }

    .right {
      flex: 2;
    }
  }

  .status-box {
    padding-left: 31rpx;
  }
}

// .screen {
// 	margin-top: -140rpx;
// }
.list-box {
  padding: 0rpx 23rpx 23rpx 23rpx;
  //margin-top: -300rpx;
  width: 100%;
  background-color: #ffffff;
}

.fix-padding {
  padding-top: 360rpx;
}

.search-long {
  width: 688rpx;
  height: 73rpx;
  background: #ffffff;
  box-shadow: 0px 10rpx 17rpx 0px rgba(255, 180, 152, 0.1);
  border-radius: 37rpx;
  margin: 25rpx auto 0;
  display: flex;
  align-items: center;
  padding-left: 4rpx;
  position: relative;
  z-index: 10;

  &.android {
    margin-top: 32rpx;
  }

  .line {
    width: 1rpx;
    height: 31rpx;
    background: #e6e6e6;
    margin-left: 11rpx;
  }

  .input-box {
    flex: 2;
    padding-left: 19rpx;
  }

  .input-btn {
    color: #aaaaaa;
    font-size: 40rpx;
  }

  .input-text {
    font-size: 27rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #aaaaaa;
    line-height: 38rpx;
    margin-left: 14rpx;
  }

  .btn {
    position: relative;

    button {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
    }
  }
}

.search-short {
  width: 225rpx;
  height: 58rpx;
  display: flex;
  align-items: center;
  margin-right: 33rpx;

  .city {
    // width: 148rpx;
    padding-left: 10rpx;
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 27rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: bold;
    color: #333333;
    line-height: 38rpx;

    .iconfont {
      font-size: 40rpx;
    }
  }

  .input-box {
    flex: 2;
    padding-left: 10rpx;
  }

  .input-btn {
    color: #000;
  }

  .icon-search {
    font-size: 40rpx;
    margin-left: 44rpx;
  }

  .btn {
    position: relative;

    button {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
    }
  }
}
