@import "@/utils/fn.scss";
.addItemPop {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  height: 60vh;
  padding: 126rpx 0 108rpx 0;
.header {
  position: absolute;
  border-top-left-radius: 40rpx;
  border-top-right-radius: 40rpx;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 35rpx 0 42rpx 0;
  background-color: #fff;
  .title {
    font-size: 35rpx;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-left: 305rpx;
    white-space: nowrap;
  }
  .cancel {
    width: 50rpx;
    height: 50rpx;
    margin-left: 227rpx;
    margin-right: 28rpx;
  }
}

.list {
  height: calc(60vh - 235rpx);
  .good-list {
    // display: flex;
    padding: 0 29rpx;
  }
  .add-item {
    vertical-align: top;
    // display: inline-block;
    // width: 346rpx;
    width: 100%;
    // height: 105rpx;
    background: #f7f8fc;
    border-radius: 23rpx;
    margin-bottom: 23rpx;
    height: 106rpx;
    display: flex;
    align-items: center;
    padding: 0 29rpx;
  }
  .contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .introduce {
    margin-left: 9%;
    margin-top: 28rpx;
    font-size: 29rpx;
    color: #666666;
  }
  .l {
    // flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .price {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
    }
    // max-width: 500rpx;
  }
  .r {
    width: 42rpx;
    height: 42rpx;
    flex-shrink: 0;
  }
  .name {
    font-weight: 400;
    font-size: 29rpx;
    color: #1f1f1f;
    margin-left: 19rpx;
    max-width: 465rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.footers {
  box-sizing: border-box;
  padding: 13rpx 38rpx;
  width: 100%;
  position: absolute;
  bottom: 0rpx;
  left: 0;
  background-color: #fff;
  .new {
    background-color: #fe2442;
    height: 96rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    &.disabled {
      opacity: 0.5;
    }
    .text {
      font-size: 35rpx;
      font-weight: 500;
      color: #fff;
    }
  }
}
}