@import "@/utils/fn.scss";

.page-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #f7f8fc;
  padding-bottom: 60rpx;
  .bar {
    // background-color: #fff;
    width: 100vw;
  }
  .bar-c {
    padding: 21rpx 31rpx;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header-top {
    position: fixed;
    width: 100%;
    z-index: 5;
    // background-color: #fff;
    background-color: #f7f8fc;

    text {
      height: 88rpx;
      font-size: 35rpx;
      font-weight: bold;
      color: #000;
    }
    .status-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      // flex: 1;
      // bottom: 50%;
      font-weight: bold;
      font-size: 35rpx;
      color: #1f1f1f;

      image {
        width: 26rpx;
        height: 26rpx;
        margin-right: 8rpx;
      }
    }
    .return {
      width: 42rpx;
      height: 42rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
      );
    }
  }
  .block {
    height: 173rpx;
  }
  .shop-card {
    // margin-top: 100rpx;
    // display: flex;
    background: #ffffff;
    border-radius: 15rpx;
    padding: 0 22rpx 40rpx;
    position: relative;
    .header-info {
      display: flex;
      align-items: center;
      padding: 38rpx 0;
      border-bottom: 2rpx dashed #e6e6e6;
      .ll {
        flex: 1;
      }
    }
    .shop-name {
      font-weight: bold;
      font-size: 31rpx;
      color: #1f1f1f;
    }
    .shop-bottom {
      display: flex;
      font-size: 23rpx;
      color: #999999;
    }
    .shop-distance {
      font-size: 23rpx;
      margin-left: 6rpx;
      color: #000;
    }
    .rr {
      display: flex;
      align-items: center;
    }
    .shop-additional-item {
      font-size: 18rpx;
      color: #999999;
      margin-left: 38rpx;
      .shop-item-back {
        width: 46rpx;
        height: 46rpx;
        border-radius: 23rpx;
        background: rgba(197, 197, 197, 0.32);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      image {
        width: 22rpx;
        height: 22rpx;
      }
    }
  }
  .content {
    padding: 0 20rpx;
  }
  .goods-card {
    display: flex;
    align-items: center;
    margin-top: 23rpx;
    margin-bottom: 45rpx;
    .goodsimg {
      width: 140rpx;
      height: 140rpx;
      border-radius: 15rpx;
      margin-right: 16rpx;
      image {
        width: 140rpx;
        height: 140rpx;
        border-radius: 15rpx;
      }
    }
    .name-card {
      flex: 1;
      .name {
        font-size: 31rpx;
        color: #1f1f1f;
        margin-bottom: 20rpx;
      }
      .price {
        font-weight: bold;
        font-size: 35rpx;
        color: #1f1f1f;
      }
      .pp {
        font-size: 23rpx;
      }
    }
    .status {
      width: 115rpx;
      height: 115rpx;
      image {
        width: 115rpx;
        height: 115rpx;
      }
    }
  }
  .server-info {
    .server-item {
      display: flex;
      padding-bottom: 30rpx;
      align-items: center;
    }
    .lable {
      font-size: 27rpx;
      color: #999999;
      width: 118rpx;
    }
    .text {
      flex: 1;
      margin-left: 10rpx;
      text-align: end;
      font-size: 27rpx;
      color: #1f1f1f;
    }
    .text2 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .petImg {
      margin-right: 6rpx;
      width: 46rpx;
      height: 46rpx;
      border-radius: 23rpx;
    }
  }
  .close,
  .open {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27rpx;
    color: #999999;
    z-index: 10;
    image {
      width: 32rpx;
      height: 32rpx;
      margin-left: 10rpx;
    }
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );
    border-radius: 0px 0px 15px 15px;
  }
  .close {
    padding: 25rpx 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .open {
    padding: 80rpx 0 25rpx;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .work-card {
    margin-top: 20rpx;
    padding: 0 20rpx 40rpx 20rpx;
    background: #ffffff;
    border-radius: 19rpx;
    .title {
      padding-top: 31rpx;
      font-weight: bold;
      font-size: 31rpx;
      color: #1f1f1f;
    }
    .record {
      padding: 38rpx 0;
      font-size: 27rpx;
      border-bottom: 2rpx dashed #e6e6e6;
      margin-bottom: 38rpx;
      word-wrap: break-word;
      font-weight: 500;
    }
    .after-header {
      height: 61rpx;
    }
    .before-header {
      height: 61rpx;
    }
    .before {
      height: 273rpx;
      background: rgba(255, 212, 30, 0.07);
      border-radius: 19rpx;
      margin-bottom: 19rpx;

      .before-con {
        width: 624rpx;
        height: 212rpx;
        padding: 19rpx 23rpx;
      }
    }
    .after {
      height: 273rpx;
      background: #f7fcf9;
      border-radius: 19rpx;
      margin-bottom: 19rpx;
      .after-con {
        height: 212rpx;
        padding: 19rpx 23rpx;
        width: 624rpx;
      }
    }
    .vi {
      width: fit-content;
      display: flex;
    }
    .phone-item {
      width: 174rpx;
      height: 174rpx;
      border-radius: 16rpx;
      // border: 1px solid red;
      margin-right: 19rpx;
      display: inline-block;
    }
  }
  .empty-phone {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    image {
      width: 346rpx;
      height: 346rpx;
      margin: 0 auto;
    }
    .text {
      width: 346rpx;
      font-size: 25rpx;
      color: #999999;
      text-align: center;
      margin: 0 auto;
    }
  }
  .text-remark {
    word-wrap: break-word;
    max-width: 560rpx;
    flex: none !important;
    text-align: start !important;
  }
  .server-item2 {
    justify-content: space-between;
  }
}
.sign {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #ffffff;
  padding: 15rpx 38rpx 55rpx 38rpx;
  .sign-btn {
    width: 673rpx;
    height: 85rpx;
    background: #ffd41e;
    border-radius: 40rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 31rpx;
    color: #1f1f1f;
  }
}
.p160 {
  padding-bottom: 160rpx;
}
