@import "@/utils/fn.scss";

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  width: 100%;
  .flex-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    .top-navbar {
      width: 100%;
      height: 108rpx;
      padding: 28rpx 28rpx 10rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-icon {
        height: 42rpx;
        width: 42rpx;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/index/back-black-tag.png);
      }

      .search {
        flex: 1;
        height: 69rpx;
        margin-left: 15rpx;
        margin-right: 23rpx;
        background: #f5f6f7;
        border-radius: 35rpx;
      }
      .search-btn {
        min-width: 58rpx;
        height: 40rpx;
        font-weight: 400;
        font-size: 29rpx;
        color: #1f1f1f;
       
      }
    }
  }
  .main {
    padding: 0 28rpx;
    .old-search {
      .search-title {
        width: 100%;
        margin-top: 44rpx;
        justify-content: space-between;

        margin-bottom: 21rpx;
        .text {
          height: 40rpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: bold;
          font-size: 29rpx;
          color: #1f1f1f;
          line-height: 40rpx;
        }
        .icon {
          width: 28rpx;
          height: 28rpx;
          background-color: red;
        }
      }
      .search-list {
        justify-content: start;
        align-items: center;
        white-space: pre-wrap;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 166rpx;
        margin-bottom: 58rpx;
        .search-item {
          padding: 10rpx 40rpx;
          background: #f7f8fc;
          border-radius: 29rpx;
          margin-right: 20rpx;
          margin-top: 20rpx;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .classify-title {
      width: 100%;
      margin-top: 44rpx;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 21rpx;
      .text {
        height: 40rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: bold;
        font-size: 29rpx;
        color: #1f1f1f;
        line-height: 40rpx;
      }
    }
    .classify-list {
      justify-content: start;
      align-items: center;
      white-space: pre-wrap;
      flex-wrap: wrap;
      margin-bottom: 58rpx;
      .classifyBtn-item {
        padding: 10rpx 40rpx;
        background: #f7f8fc;
        border-radius: 29rpx;
        margin-right: 20rpx;
        margin-top: 20rpx;
      }
    }
  }
}
