@import "@/utils/fn.scss";
.wrapper {
  width: 100%;
  background-color: #f7f8fc;
  // height: 1181rpx;
  overflow-y: scroll;
  height: 100%;
  position: relative;
  z-index: 99;
  .timeInfo {
    height: 33rpx;
    width: fit-content;
    margin: 10rpx auto;
    font-weight: 400;
    @include textfclaw(23rpx, #999, $align: center, $lineH: 33rpx);
  }
  .InfoNtf {
    width: fit-content;
    padding: 17rpx 38rpx;
    border-radius: 35rpx;
    // background-color: rgba(0, 0, 0, 0.05);
    margin: 38rpx auto;
    white-space: pre-line;
    font-size: 23rpx;
    text-align: center;
    line-height: 32rpx;
    max-width: 93vw;
  }
  .info-expansion {
    background-color: rgba(246, 230, 222, 1);
    color: rgba(255, 91, 5, 1);
  }
  .info-normal {
    background-color: #f9f9f9;
    color: #999;
  }
  .right-mes {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    margin: 38rpx 0;
    @include textfclaw(27rpx, rgba(0, 0, 0, 1), $align: left);
    .right-ava {
      margin-left: 23rpx;
      margin-right: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .right-body {
      padding: 24rpx;
      background-color: rgba(255, 238, 165, 1);
      border-radius: 12px 0 12px 12px;
      max-width: 504rpx;
      position: relative;
      .audio {
        color: blue;
      }
    }
    // .right-body::after {
    //   content: "";
    //   @include absNormal(0, 0, $top: 33rpx, $right: -12rpx);
    //   display: block;
    //   border-bottom: 12rpx solid transparent;
    //   border-top: 12rpx solid transparent;
    //   border-left: 12rpx solid #79ebcf;
    // }
    .right-text {
      display: flex;
      align-items: center;
      word-break: break-word;
    }
    .img-wrapper-right {
      // background-color: transparent !important;
      .chatImg {
        border-radius: 15rpx;
        // overflow: hidden;
        width: 400rpx;
        height: 400rpx;
        object-fit: contain !important;
      }
    }
    .video-wrapper-right {
      video {
        /*  #ifdef H5  */
        max-width: 438rpx;
        max-height: 438rpx;
        /*  #endif  */

        /*  #ifdef MP-WEIXIN  */
        max-width: 238rpx;
        max-height: 238rpx;
        /*  #endif  */
        border-radius: 15rpx;
      }
    }
    .video-wrapper-left {
      video {
        /*  #ifdef H5  */
        max-width: 438rpx;
        max-height: 438rpx;
        /*  #endif  */
        /*  #ifdef MP-WEIXIN  */
        max-width: 238rpx;
        max-height: 238rpx;
        /*  #endif  */
        border-radius: 15rpx;
      }
    }
  }
  .left-mes {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    margin: 38rpx 0;
    @include textfclaw(27rpx, rgba(0, 0, 0, 1), $align: left, $lineH: 38rpx);
    .left-ava {
      margin-right: 23rpx;
      margin-left: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .left-body {
      padding: 24rpx;
      background-color: #fff;
      border: 1rpx solid #fff;
      max-width: 504rpx;
      border-radius: 0px 12px 12px 12px;
      height: auto;
      // overflow-x: hidden;
      position: relative;
      .audio {
        color: blue;
      }
      .chatImg {
        width: 400rpx;
        height: 400rpx;
      }
      .left-dot {
        width: 12rpx;
        height: 12rpx;
        background: #000000;
        border-radius: 50%;
        margin-top: 12rpx;
        margin-right: 10rpx;
      }
      .right-box {
        width: 442rpx;
      }

      .diagnose-detail {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 19rpx 12rpx;
        width: 442rpx;
        background: #ffffff;
        border-radius: 15rpx;
        .tag {
          height: 44rpx;
          width: 44rpx;
          image {
            height: 44rpx;
            width: 44rpx;
            object-fit: cover;
            margin-right: 8rpx;
          }
        }
        .arrow {
          height: 16px;
          width: 16px;
          image {
            height: 16px;
            width: 16px;
            object-fit: cover;
          }
        }
      }

      .done-title {
        font-size: 23rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 33rpx;
      }

      .goods-title {
        font-size: 27rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 38rpx;
        margin-bottom: 19rpx;
      }
      .prescription-detail-new {
        background-color: #fff;
        padding: 24rpx 19rpx 19rpx;
        width: 442rpx;
        background: #ffffff;
        border-radius: 15rpx;
        .goods-row {
          display: flex;
          flex-direction: column;
          height: 60rpx;
        }
      }

      .outtime-image {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 142rpx;
        width: 142rpx;
      }

      .prescription-detail {
        display: flex;
        align-items: center;
        background-color: #fff;
        justify-content: space-between;
        padding: 19rpx 12rpx;
        width: 442rpx;
        background: #ffffff;
        border-radius: 15rpx;
        .left {
          .first-row {
            display: flex;
            align-items: center;
            margin-bottom: 19rpx;
            .tag {
              height: 44rpx;
              width: 44rpx;
              image {
                height: 44rpx;
                width: 44rpx;
                object-fit: cover;
                margin-right: 8rpx;
              }
            }
          }

          .sec-row {
            font-size: 23rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
          }
        }
        .right {
          height: 16px;
          width: 16px;
          image {
            height: 16px;
            width: 16px;
            object-fit: cover;
          }
        }
      }

      .ml-round {
        width: 442rpx;
      }
    }
    // .left-body::before {
    //   content: "";
    //   @include absNormal(0, 0, $top: 33rpx, $left: -12rpx);
    //   display: block;
    //   border-bottom: 12rpx solid transparent;
    //   border-top: 12rpx solid transparent;
    //   border-right: 12rpx solid #f3f3f4;
    // }
    .left-body-result {
      display: flex;
    }
    .left-text {
      display: flex;
      align-items: center;
      word-break: break-word;
    }
    .img-wrapper-left {
      .chatImg {
        border-radius: 15rpx;
        // overflow: hidden;
        width: 400rpx;
        height: 400rpx;
      }
    }
  }
  .diagnosis-body {
    font-size: 27rpx;
    line-height: 38rpx;
    color: #333333;
    font-weight: bold;
    .item-con {
      margin-bottom: 19rpx;
    }
    .item-title {
      font-weight: 400;
      display: flex;
      align-items: center;
      // &.diagnosis-title {
      //   // display: block;
      // }
      .round {
        margin-right: 12rpx;
        display: inline-block;
        width: 12rpx;
        height: 12rpx;
        background-color: #000000;
        border-radius: 50%;
      }
    }
    .item-content {
      // display: inline;
    }
    .diagnosis-con,
    .offlineAdvice-con,
    .medicationAdvice-con,
    .otherAdvice-con {
      display: block;
      word-break: break-all;
    }

    .pd-l42 {
      padding-left: 24rpx;
    }
    .last-no-mb {
      margin-bottom: 0 !important;
    }
  }
  .tag-warp {
    width: 442rpx;
    height: 133rpx;
    background: #ffffff;
    border-radius: 15rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 19rpx 0 12rpx;
    .tag-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      image {
        width: 44rpx;
        height: 44rpx;
      }
      text {
        font-size: 31rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: bold;
        color: #000000;
      }
    }
    .tag-date {
      font-size: 23rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;
      margin-top: 19rpx;
    }
    .tag-right {
      width: 31rpx;
      height: 31rpx;
    }
  }
  // AI收集到足够的信息后给出报告
  .aiReportBox {
    display: flex;
    .left-ava {
      margin-right: 23rpx;
      margin-left: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .giveTheReport {
      width: 270px;
      // height: 272px;
      background-color: #DEFFCC;
      border-radius: 12px;
      padding: 6px;
      // background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/reportBg.png");
      // background-size: content;
      // background-repeat: no-repeat;
      // background-color: linear-gradient(
      //   180deg,
      //   rgba(255, 255, 255, 0) 0%,
      //   #ffffff 100%
      // );

      .card-box {
        background-color: #fff;
        margin-bottom: 6px;
        border-radius: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .theReportTitle {
        padding: 15px 0 11px 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .theReportName {
          font-weight: 600;
          font-size: 18px;
          max-width: 162px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: #1f1f1f;
        }
        .toGotoCheckTheReport {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 13px;
          color: #666666;
          margin-right: 8px;
          .theMethodName {
            margin-right: 2px;
          }
        }
      }
      .theReportLevel {
        display: flex;
        align-items: center;
        padding-left: 7px;
        .fill {
          font-weight: 400;
          font-size: 13px;
          color: #333333;
        }
        .levelImage {
          width: 109px;
          height: 6px;
          // background-color: red;
          margin: 6px;
        }
        .whichLevel {
          font-weight: 600;
          font-size: 15px;
        }
        .max {
          color: #ff5b05;
        }
        .hight {
          color: #ffa646;
        }
        .min {
          color: #fac336;
        }
        .mid {
          color: #9be236;
        }
        .low {
          color: #42d8ae;
        }
      }
      .theReportInfo {
        background-color: #fff;
        border-radius: 12px 12px 0 0;
        padding: 10px 7px;
        margin-top: 15px;
        .firstIllness {
          font-weight: 500;
          font-size: 13px;
          color: #333333;
          border-bottom: 1px solid #f8f8f8;
          .illnessInfo {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            margin-bottom: 11px;
            margin-top: 8px;
            font-weight: 400;
            font-size: 12px;
            color: #666666;
            // max-height: 50px;
            // white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .firstSaveAdvice {
          margin-top: 8px;
          font-weight: 500;
          font-size: 13px;
          color: #333333;
          // border-bottom: 1px solid #f8f8f8;
          .adviceInfo {
            margin-bottom: 11px;
            margin-top: 8px;
            font-weight: 400;
            font-size: 12px;
            color: #666666;
            // max-height: 50px;
            max-width: 240px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            // white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
      .theOtherIllness {
        .simpleContent {
          padding: 9px 9px 12px 9px;
          display: flex;
          flex-direction: column;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 11px;
            .name {
              max-width: 90px;
              font-weight: 600;
              font-size: 18px;
              color: #1f1f1f;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-right: 5px;
            }
            .levelFill {
              margin: 0 3px;
              font-weight: 400;
              font-size: 13px;
              color: #1f1f1f;
            }
            .level {
              font-weight: 400;
              font-size: 13px;
            }
            .max {
              color: #ff5b05;
            }
            .hight {
              color: #ffa646;
            }
            .min {
              color: #fac336;
            }
            .mid {
              color: #9be236;
            }
            .low {
              color: #42d8ae;
            }
            .toCheck {
              font-weight: 400;
              font-size: 13px;
              color: #666666;
              margin-right: 2px;
            }
          
          }
          .right {
            display: flex;
            align-items: center;
            .toCheck {
              font-weight: 400;
              font-size: 13px;
              color: #666666;
              margin-right: 2px;
            }
            .fill {
              font-weight: 400;
              font-size: 13px;
              color: #333333;
            }
            .levelImage {
              width: 109px;
              height: 6px;
              // background-color: red;
              margin: 6px;
            }
            .whichLevel {
              font-weight: 600;
              font-size: 15px;
            }
          }
         
        }
      }
      .line {
        margin-bottom: 14px;
        height: 1px;
        background-color: #f8f8f8;
        width: 270px;
        margin-left: -10px;
      }
    }
  }
  // 引流之后用户跳转人工显示报告页
  .aiReportBoxNotAi {
    margin-left: 67px;
    width: 262px;
    display: flex;
    padding: 14px 6px 10px;
    background-color: #f3f5f9;
    border-radius: 8px;
    .giveTheReport {
      width: 100%;
      .theReportTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px 11px 8px;
        .theReportName {
          font-weight: 600;
          font-size: 16px;
          color: #333333;
        }
        .toGotoCheckTheReport {
          display: flex;
          .theMethodName {
            margin-right: 4px;
            font-weight: 400;
            font-size: 13px;
            color: #666666;
          }
        }
      }
      .theReportEndAiContent {
        background-color: #fff;
        border-radius: 8px;
        .theReportEndAiContentItem {
          padding: 9px 8px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #e6e6e6;
          .illnessName {
            font-weight: 500;
            font-size: 15px;
            color: #333333;
            margin-right: 10px;
          }
          .level {
            font-weight: 400;
            font-size: 13px;
            color: #666666;
            margin-right: 10px;
          }
          .levelInfo {
            font-weight: 500;
            font-size: 13px;
            color: #333333;
          }
        }
      }
      .theReportEndAiContentError {
        margin-left: 8px;
        .itemContent {
          font-weight: 400;
          font-size: 15px;
          color: #333333;
        }
        .line {
          margin-top: 20px;
          width: 234px;
          height: 1px;
          background-color: 1px solid #e6e6e6;
        }
      }
      .aiHistoryMessage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 7px 0 8px;
        .historyMessage {
          font-weight: 400;
          font-size: 13px;
          color: #666666;
        }
      }
    }
  }
  .theEndAdvice {
    display: flex;
    .left-ava {
      margin-right: 23rpx;
      margin-left: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    // AI结束后的评价
    .notInSQL {
      background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/notInSQLBg.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 270px;
      border-radius: 12px;
      padding: 14px;
      .content {
        font-weight: 400;
        font-size: 15px;
        color: #333333;
      }
      .skinToQuick {
        margin-top: 15px;
        display: inline-block;
        height: 36px;
        background: #ffeea5;
        border-radius: 18px;
        padding: 8px 14px;
        font-weight: 500;
        font-size: 15px;
        color: #1f1f1f;
      }
    }
  }
  .theErrorAdvice {
    .errorInSQL {
      .errorContent {
        padding: 40px 24px 13px;
        .errorInfo {
          text-align: center;
          padding-bottom: 41px;
          border-bottom: 1px solid #e6e6e6;
          font-weight: 400;
          font-size: 14px;
          color: #1f1f1f;
        }
        .skinPeo {
          margin-top: 15px;
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          color: #1f1f1f;
        }
      }
    }
  }
  .theEnd {
    display: flex;
    .left-ava {
      margin-right: 23rpx;
      margin-left: 23rpx;
      image {
        height: 77rpx;
        width: 77rpx;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .allGoodBadBox {
      .aIGoodOrBad {
        margin-top: 5px;
        width: 270px;
        // height: 44px;
        border-radius: 12px;
        background-color: #fff;
        padding: 9px 10px 9px 12px;
        .aIGoodOrBadStepBox {
          .goodcontent {
            font-weight: 400;
            font-size: 15px;
            color: #1f1f1f;
          }
          .goodOrBadIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 7px;
            .conmmon-item {
              flex: 0 0 calc(50% - 5px);
              display: flex;
              align-items: center;
              justify-content: center;
              background: #f7f8fc;
              border-radius: 18px;
              padding: 6px 0;
              margin: 0 5px;
              .common-name {
                font-size: 15px;
                color: #1f1f1f;
              }
              .item-icon {
                margin-left: 2px;
                width: 24px;
                height: 24px;
              }
            }
            .actived {
              flex: 0 0 calc(50% - 5px);
              display: flex;
              align-items: center;
              justify-content: center;
              background: #ffeea5;
              border-radius: 18px;
              padding: 6px 0;
              margin: 0 5px;
              .item-icon {
                margin-left: 2px;
                width: 24px;
                height: 24px;
              }
              .common-name {
                font-weight: bold;
                font-size: 15px;
                color: #1f1f1f;
              }
            }
          }
        }
        .aIBadCommentInfo {
          background: #f5f6f7;
          font-size: 13px;
          border-radius: 8px;
          .u-textarea {
            border-radius: 8px;
            background-color: #f5f6f7;
            max-height: 100px;
            .u-textarea__field {
              padding: 3px;
              background-color: #f5f6f7;
              height: 56px;
              color: #333333;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          ::v-deep .input-placeholder {
            background-color: #f5f6f7;
            font-size: 13px;
            color: #aaa;
          }
        }
      }
      .afterAISkin {
        margin-top: 5px;
        width: 270px;
        // height: 207px;
        background: #ffffff;
        border-radius: 12px;
        padding: 12px 12px 0 12px;
        .skinTitle {
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 15px;
          color: #1f1f1f;
        }
        .skinItme {
          color: #238cff;
          padding: 10px 0;
          border-top: 1px solid #f8f8f8;
        }
      }
    }
  }

  .ai-quest-left-body {
    padding: 19rpx;
    background-color: #f3f3f4;
    border: 1rpx solid #e8e8ea;
    width: 504rpx;
    border-radius: 15rpx;
    height: auto;
    // overflow-x: hidden;
    position: relative;
  }
  .ai-quest-left-body::before {
    content: "";
    @include absNormal(0, 0, $top: 33rpx, $left: -12rpx);
    display: block;
    border-bottom: 12rpx solid transparent;
    border-top: 12rpx solid transparent;
    border-right: 12rpx solid #f3f3f4;
  }
  .ai-quest-title {
    font-size: 23rpx;
    color: #666666;
    width: 465rpx;
    margin-bottom: 19rpx;
  }
  .ai-quest-content {
    // padding-top: 19rpx;
    color: black;
    width: 465rpx;
  }
  .ai-quest-list {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15rpx;
    width: 465rpx;
    margin-top: 19rpx;
    .ai-quest-list-cell {
      display: flex;
      flex-direction: column;
      .ai-quest-list-cell-content {
        display: flex;
        flex-direction: row;
        padding: 18rpx 19rpx;
        .ai-quest-list-cell-dot {
          //position: relative;
          margin-top: 12rpx;
          width: 12rpx;
          height: 12rpx;
          border-radius: 50%;
          background: #2dce80;
        }
        .ai-quest-list-cell-title {
          margin-left: 27rpx;
          width: calc(100% - 12rpx - 12rpx);
          color: #2dce80;
        }
      }
    }
  }
  .to-bottom {
    position: fixed;
    height: 107.69rpx;
    width: 285rpx;
    right: -16rpx;
    // bottom: 17rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/mes-remind-mp.png"
    );
  }
  .to-bottom-init {
    top: calc(100vh - 220rpx - 64rpx);
  }
  .to-bottom-active {
    top: calc(50vh - 140rpx);
  }
}
.pay-btn {
  border-radius: 31rpx;
  background: #14d0b4;
  height: 61rpx;
  font-size: 27rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 38rpx;
  margin-top: 8rpx;
  margin-bottom: 10rpx;
}
.pay-btn-gray {
  background: #eeeeee;
  border-radius: 31rpx;
  height: 61rpx;
  font-size: 27rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 38rpx;
  margin-top: 8rpx;
  margin-bottom: 10rpx;
}
.pingan-disabled{
  background: #eeeeee;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.title-row {
  font-size: 23rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}

/*#ifdef H5*/
.uni-scroll-view-content {
  .wrapper {
    height: 0;
  }
}

/*#endif*/
