@import "@/utils/fn.scss";

$page-margin: 15rpx;
$reservation-width: 720rpx;

@mixin single-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-page {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgba(247, 248, 252, 0.7);
  .header-top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  // background: #f5f6f7
  //   url("https://frontend-cdn.chongpangpang.com/image/medical-mp/appointment/yymxTopBg.png")
  //   no-repeat fixed top;
  // background-size: contain;
  ::v-deep .header-fixed {
    background-color: #ff758b;
    color: #ffffff;
  }
  ::v-deep .header-fixed .hender-frame .title {
    color: #ffffff !important;
  }
  ::v-deep .header .navbar-wrapper .back-wrapper {
    width: 42rpx !important;
    height: 42rpx !important;
    left: 23rpx !important;
    top: auto !important;
    font-weight: 500 !important;
  }
  ::v-deep .header .navbar-wrapper .title {
    font-weight: 500 !important;
  }
  ::v-deep .header .navbar-wrapper .back-wrapper image {
    width: 42rpx !important;
    height: 42rpx !important;
  }
  .top-bar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 95rpx;
    font-size: 34rpx;
    line-height: 42rpx;
    color: #fff;
    position: relative;
    .text {
      opacity: 0;
    }
    .return {
      width: 42rpx;
      height: 42rpx;
      position: absolute;
      bottom: 12px;
      left: 12rpx;
      color: #fff;
      // background-color: red;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/change/return.png"
      );
    }
  }
  .bottomwrap {
    width: 100vw;
    box-sizing: border-box;
    padding-top: 23rpx;
    background-color: #ffffff;
    box-shadow: 0rpx -2rpx 0rpx 0rpx rgba(222, 222, 222, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    .agreement {
      display: flex;
      align-items: center;
      height: 80rpx;
      // line-height: 80rpx;
      // border-bottom: 1px solid #dedede;
      border-bottom: 1px solid rgba(222, 222, 222, 0.2);
      padding: 0 38rpx;
      .checkradio {
        width: 35rpx;
        height: 35rpx;
        background: #ffffff;
        border-radius: 17rpx;
        border: 2px solid #e0e0e0;
      }
      .agreement-text {
        @include textfclaw(25rpx, #238cff, $align: left, $lineH: 35rpx);
      }
    }
    .order-submit-wrapper {
      // padding: 10rpx 38rpx;
      padding: 10rpx 23rpx 10rpx 29rpx;
      display: flex;
      justify-content: space-between;
      font-size: 30rpx;
      color: #1f1f1f;
      margin: 13rpx auto;
      .select-wrapper {
        display: flex;
        flex-direction: column;

        .selected-skuid {
          @include single-line-ellipsis;
          width: 300rpx;
          height: 42rpx;
          line-height: 42rpx;
          margin-top: 10rpx;
          font-weight: 500;
          font-size: 31rpx;
          color: #1F1F1F;
          text-align: left;
        }
      }
      .select-time {
        font-weight: 400;
        font-size: 23rpx;
        color: #666666;
      }
    }
    .orderbtn {
      width: 288rpx;
      height: 85rpx;
      background-color: rgba($color: #FE2442, $alpha: 0.5);
      font-family: AlimamaShuHeiTi-Bold;
      border-radius: 42rpx;
      @include textfclaw(27rpx, #fff);
      @include flex();
      &.allow {
        background-color: rgba($color: #FE2442, $alpha: 1);
      }
    }
  }
}
.submitreservation-scrollwrapper {
  width: 100vw;
  height: calc(100vh - 238rpx);
  position: relative;
  // @include bg(
  //   "https://frontend-cdn.chongpangpang.com/image/medical-mp/appointment/maincontentBg.png"
  // );
  .content-bg {
    width: 750rpx;
    height: 362rpx;
    // padding-top: 177rpx;
    position: relative;
    background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/appointment/yymxTopBg.png");
    background-size: contain;
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复背景图片 */
    background-size: 100% auto;
    // @include absNormal(750rpx, 362rpx, $top: 177rpx, $left: 0);
  }
  .shop-info-wrapper {
    width: 100vw;
    position: absolute;
    top: 252rpx;
    left: 38rpx;
    // height: 300rpx;
    // box-sizing: content-box;
    .shop-info {
      // height: 216rpx;
      // padding-top: 40rpx;
      position: relative;

      .info-wrapper {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        overflow: hidden;
        // margin-left: 38rpx;
        // padding-top: 10px;
        .shop-name-wrapper {
          font-size: 29rpx;
          line-height: 37rpx;
          font-weight: bold;
          // font-weight: 700;
          color: #fff;
          // line-height: 32rpx;
          display: flex;
          // margin-top: 13rpx;
          .shop-name {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .change-shop {
            color: #fff;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-left: 4rpx;

            .change-shop-ico {
              height: 34rpx;
              width: 34rpx;
            }
          }
        }

        .shop-address {
          font-size: 23rpx;
          font-weight: 400;
          color: #fff;
          line-height: 33rpx;
          white-space: nowrap;
          display: flex;
          max-width: 438rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          .shop-address-name {
            @include single-line-ellipsis;
            color: #fff;
          }
        }

        .shop-extra {
          display: flex;
          flex-flow: row nowrap;
          overflow: hidden;
          align-items: flex-end;
          width: 100%;
          margin-top: 20rpx;
          margin-bottom: 20rpx;
          margin-left: -3rpx;
          .contact {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 46rpx;
            font-size: 23rpx;
            font-weight: 400;
            color: #fff;
            line-height: 46rpx;
            margin-right: 23rpx;

            .contact-ico {
              width: 35rpx;
              height: 35rpx;
              // background-color: rgba(255, 255, 255, 0.6);
              border-radius: 46rpx;
              margin-right: 4rpx;
              // padding: 12rpx;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
  .content-wrapper {
    margin-top: -125rpx;
    border-radius: 38rpx 38rpx 0 0;
    // border: 3rpx solid #fff;
    position: relative;
    z-index: 2;
    border-bottom: 0;
    // background-color: rgba(247, 248, 252, 1);
    // background: linear-gradient(
    //   to bottom,
    //   rgba(247, 248, 252, 0.8) 5%,
    //   rgba(247, 248, 252, 1) 100%
    // );
  }
  .petList {
    padding: 25rpx 29rpx 29rpx 29rpx;
    margin: 0 $page-margin;
    margin-bottom: 15rpx;
    background-color: #fff;
    border-radius: 23rpx;
    .select_pet {
      font-size: 31rpx;
      color: #1f1f1f;
      margin-bottom: 23rpx;
      font-weight: 500;
    }
    .listwrap {
      width: 100%;
      height: 96rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 15rpx;
      overflow-x: scroll;
      .petItem {
        // width: 38%;
        width: 323rpx;
        height: 96rpx;
        background: #f7f8fc;
        border-radius: 19rpx;
        padding: 23rpx;
        margin-right: 15rpx;
        @include flex();
        justify-content: center;
        flex-shrink: 0;
        border: 2rpx solid transparent;
        &.addpet {
          margin-right: 0 !important;
        }
        &.selected {
          background: #ffefef;
          border: 2rpx solid #fe2442;
          color: #fe2442 !important;
          box-sizing: border-box;
        }
        .petavatar {
          width: 50rpx;
          height: 50rpx;
          flex-shrink: 0;
          border-radius: 50%;
          margin-right: 19rpx;
          position: relative;
          background-color: #fff;
          image {
            border-radius: 50%;
            object-fit: cover;
          }
          .shoptag {
            @include absNormal(65rpx, 23rpx, $bottom: 0rpx, $left: 0);
            left: 50%;
            transform: translateX(-50%);
            @include textfclaw(13rpx, #ffffff);
            padding: 0 8rpx;
            line-height: 23rpx;
            background-color: #1f1f1f;
            border-radius: 12rpx;
          }
        }
        .petname {
          @include ellipsis(202rpx);
          @include textfclaw(29rpx, #fe2442, $align: left);
          // font-weight: bold;
          margin-bottom: 0rpx;

          .sexicon {
            &.womenicon {
              margin-left: 12rpx;
              width: 15rpx;
              height: 23rpx;
              background-repeat: no-repeat;
              background-size: contain;
              background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/pet-female-black.png);
            }
            &.menicon {
              margin-left: 6rpx;
              width: 23rpx;
              height: 23rpx;
              background-repeat: no-repeat;
              background-size: contain;
              background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/pet-male-black.png);
            }
          }
        }
        .pettype {
          @include textfclaw(23rpx, #999999, $align: left);
        }
      }
      .addpet {
        flex: 1;
        font-size: 29rpx;
        color: #1f1f1f;
        justify-content: center;
        .add_icon {
          width: 34rpx;
          height: 34rpx;
          align-items: center;
          margin-top: 13rpx;
          margin-right: 9rpx;
        }
      }
      .displayTwo {
        // width: 50%;
      }
    }
    .new_listwrap {
      // width: 100%;
      position: relative;
      .listwrap {
        // flex: 98;
        // width: 100%;
        width: 515rpx;
        height: 96rpx;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        position: relative;
        // padding-right: 173rpx;
        .petItem {
          // width: 38%;
          width: 323rpx;
          height: 96rpx;
          // background: #ffffff;
          background: #f7f8fc;
          border-radius: 19rpx;
          margin-right: 15rpx;
          padding: 23rpx;
          @include flex();
          justify-content: center;
          flex-shrink: 0;
          border: 2rpx solid transparent;
          &.selected {
            background: #ffefef;
            border: 2rpx solid #fe2442 !important;
            box-sizing: border-box;
            color: #fe2442 !important;
          }
          &:last-child {
            // margin-right: 160rpx;
          }
          .petavatar {
            width: 50rpx;
            height: 50rpx;
            border-radius: 50%;
            margin-right: 19rpx;
            position: relative;
            background-color: #fff;
            image {
              border-radius: 50%;
              object-fit: cover;
            }
            .shoptag {
              @include absNormal(65rpx, 23rpx, $bottom: 0rpx, $left: 0);
              left: 50%;
              transform: translateX(-50%);
              @include textfclaw(13rpx, #ffffff);
              padding: 0 8rpx;
              line-height: 23rpx;
              background-color: #1f1f1f;
              border-radius: 12rpx;
            }
          }
          .petname {
            @include ellipsis(202rpx);
            // @include flex();
            // justify-content: flex-start;
            // color: #fe2442;
            @include textfclaw(29rpx, #1f1f1f, $align: left);
            // font-weight: bold;
            margin-bottom: 0rpx;
            &.selected {
              color: #fe2442 !important;
            }

            .sexicon {
              &.womenicon {
                margin-left: 12rpx;
                width: 15rpx;
                height: 23rpx;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/pet-female-black.png);
              }
              &.menicon {
                margin-left: 6rpx;
                width: 23rpx;
                height: 23rpx;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/pet-male-black.png);
              }
            }
          }
          .pettype {
            @include textfclaw(23rpx, #999999, $align: left);
          }
        }
        .displayTwo {
          width: 50%;
        }
      }
      .addpet {
        position: fixed;
        right: 0;
        width: 173rpx;
        height: 96rpx;
        font-size: 29rpx;
        color: #1f1f1f;
        // margin-right: -12rpx;
        position: absolute;
        right: -4rpx; // 兼容遮住底部item的红色border
        top: 0;
        display: flex;
        align-items: center;
        // justify-content: center;
        z-index: 10;
        // background: linear-gradient(
        //   to right,
        //   rgba(255, 255, 255, 0.8) 5%,
        //   rgba(255, 255, 255, 1) 100%
        // );
        background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/appointment/petAddBg.png");
        background-size: contain;
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: 4rpx;
          // margin-right: 29rpx;
          .add_icon {
            width: 34rpx;
            height: 34rpx;
            margin-right: 9rpx;
          }
          .info {
            color: #1f1f1f;
            font-size: 29rpx;
          }
        }
      }
    }
  }

  .sku-list {
    display: flex;
    flex-flow: column nowrap;
    width: $reservation-width;
    background: #ffffff;
    border-radius: 23rpx;
    margin: 0 15rpx 15rpx 15rpx;
    padding: 0 29rpx;
    // min-height: 270rpx;
    // &.service-list {
    //   padding: 0 29rpx;
    //   .title {
    //     margin: 0;
    //   }
    // }

    .title {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 90rpx;
      font-size: 31rpx;
      font-weight: 500;
      color: #1f1f1f;
      line-height: 42rpx;
      justify-content: space-between;

      .title-introduce {
        font-size: 25rpx;
        color: #999999;
        font-weight: 400;
        display: flex;
        align-items: center;
        .title-introduce-icon {
          width: 34rpx;
          height: 34rpx;
          margin-right: 7rpx;
        }
      }
    }

    .sku-wrapper {
      overflow-x: scroll;
      display: flex;
      margin-bottom: 14rpx;
      // &.more-sku {
      //   width: 662rpx;
      //   padding: 0;
      //   display: block;
      //   margin-bottom: 22rpx !important;
      // }
      .sku-item-wrapper {
        // width: 824rpx;
        display: flex;
        flex-wrap: nowrap;
      }
      // .moresku-item-wrapper {
      //   width: 824rpx;
      //   display: flex;
      //   flex-wrap: wrap;
      // }

      .sku-item {
        width: 385rpx;
        // height: 154rpx;
        display: flex;
        background: #f7f8fc;
        border-radius: 19rpx;
        margin-right: 15rpx;
        // margin: 15rpx;
        margin-bottom: 15rpx;
        padding: 12rpx 12rpx;
        border: 2rpx solid transparent;
        &:nth-last-of-type(1) {
          margin-right: 0 !important;
        }

        .sku-pic {
          height: 131rpx;
          width: 131rpx;
          background-color: white;
          border-radius: 15rpx;
          margin-right: 15rpx;
          flex: none;
        }
        .sku-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          .sku-name {
            width: 100%;
            height: 70rpx;
            font-size: 25rpx;
            font-weight: 400;
            margin-top: 4rpx;
            color: #1f1f1f;
            line-height: 35rpx;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* 设置最大显示行数 */
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .sku-name.selected {
            color: #fe2442;
          }
          .sku-info {
            display: flex;
            align-items: center;
            padding-bottom: 7rpx;
            height: 35rpx;
            .sku-price {
              display: flex;
              flex-flow: row nowrap;
              align-items: baseline;
              // padding-bottom: 8rpx;

              font-size: 25rpx;
              color: #666666;
              margin-right: 9rpx;
            }
            .sku-duration {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              height: 31rpx;
              .sku-duration-box {
                // padding: 8rpx;
                height: 31rpx;
                // width: 85rpx;
                padding: 0 7rpx;
                border-radius: 6rpx;
                border: 2rpx solid #d6d6d6;
                font-size: 21rpx;
                color: #666666;
                @include flex();
              }
              .sku-duration-box.selected {
                background: #ffefef;
                border: 2rpx solid #ffcfd8;
                color: #fe2442;
                box-sizing: border-box;
              }
            }
          }
        }
      }

      .sku-item.selected {
        background: #ffefef;
        border-color: #fe2442;
        color: #fe2442;
        box-sizing: border-box;
      }

      // .sku-item:first-child {
      //   margin-left: 23rpx;
      // }

      // .sku-item:last-child {
      //   margin-right: 23rpx;
      // }
      .oneSku {
        width: 661rpx;
      }
    }

    .sku-empty {
      padding: 0 0 29rpx 0;
      .empty-text {
        width: 100%;
        height: 96rpx;
        text-align: center;
        background: #f7f8fc;
        border-radius: 19rpx;
        font-weight: 400;
        font-size: 29rpx;
        color: #999999;
        line-height: 96rpx;
      }
    }
  }

  .orderList {
    width: $reservation-width;
    background: #ffffff;
    height: 100%;
    border-radius: 23rpx;
    margin: 15rpx;
    padding: 29rpx;
    margin-bottom: 0;
    .ordertitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      @include textfclaw(31rpx, #333333, $align: left, $lineH: 43rpx);
      font-weight: 500;
      margin-bottom: 30rpx;
      .ordertitle-extra {
        color: #999999;
        font-size: 23rpx;
        font-weight: 400;
      }
    }

    .period-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); // 创建四个等宽的列, 每列占据剩余空间的1/4
      gap: 19rpx 15rpx;
      position: relative;

      .period {
        line-height: 96rpx;
        font-size: 29rpx;
        color: #1f1f1f;
        border-radius: 19rpx;
        background-color: #f7f8fc;
        @include flex();
        flex-flow: column wrap;
        justify-content: space-between;
        border: 2rpx solid transparent;
        font-weight: 500;

        &.oneline {
          width: 327rpx;
          font-size: 29rpx;
          margin-right: 0rpx;
        }
        &.selected {
          background: #ffefef;
          border-color: #fe2442;
          transition: border-color 0.5s ease; /* 添加过渡效果 */
          color: #fe2442;
          font-size: 29rpx;
          box-sizing: border-box;
        }
        .timeInfo {
          width: 100%;
          text-align: center;
          position: relative;
          &.disabled {
            color: #999999;
          }
          .extra-icon {
            min-width: 57rpx;
            height: 34rpx;
            // background-color: #d9d9d9;
            background-color: #b9babc;
            font-size: 19rpx;
            // color: #fff;
            color: #ffffff;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 0 15rpx 0 15rpx;
            padding: 3rpx 9rpx;
            line-height: 30rpx;
          }
        }
      }
    }
    .period-empty {
      background-color: #f7f8fc;
      border-radius: 19rpx;
      text-align: center;
      padding: 26rpx 0 28rpx 0;
      .empty-text {
        font-size: 29rpx;
        color: #999999;
      }
    }

    .datelist {
      @include flex();
      justify-content: flex-start;
      overflow-x: scroll;
      margin-bottom: 29rpx;
      border-bottom: 1px solid #f8f8f8;
      padding-bottom: 2rpx;

      .date {
        @include flex();
        width: 95rpx;
        height: 90rpx;
        flex-shrink: 0;
        border-radius: 15rpx;
        margin-right: 60rpx;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        .dateinfo {
          color: #666666;
          font-weight: 400;
          &.disabled {
            color: #999999;
          }

          .date-value {
            font-size: 25rpx;
            line-height: 35rpx;
          }
          .date-num {
            font-size: 23rpx;
            line-height: 33rpx;
          }
        }

        &:last-child {
          margin-right: 0rpx;
        }

        &.selected {
          .dateinfo {
            color: #1f1f1f;
          }
          .select-line {
            width: 58rpx;
            height: 4rpx;
            border-radius: 3rpx;
            background-color: #1f1f1f;
            position: absolute;
            bottom: 0rpx;
            left: auto;
            right: auto;
          }
          .date-value {
            font-weight: 500;
          }
          .date-num {
            font-weight: 500;
          }
        }
        .date-num {
          margin-top: 6rpx;
        }
        .extra-icon {
          width: 57rpx;
          height: 34rpx;
          background-color: #d9d9d9;
          font-size: 19rpx;
          color: #fff;
          position: absolute;
          right: -35rpx;
          top: 0;
          border-radius: 9rpx 9rpx 9rpx 0;
          padding: 3rpx 9rpx;
        }
      }
    }
    .remark {
      padding: 29rpx 19rpx;
      background: #f5f6f7;
      border-radius: 15rpx;
      display: flex;
      align-items: center;
      .label {
        @include textfclaw(27rpx, #333333, $align: left, $lineH: 39rpx);
        margin-right: 6rpx;
      }
      ::v-deep .u-textarea {
        background-color: transparent;
        padding: 0 !important;
        font-size: 27rpx;
      }
    }
  }

  .beauticianList {
    display: flex;
    flex-flow: column nowrap;
    width: $reservation-width;
    background: #ffffff;
    border-radius: 23rpx;
    margin: 15rpx auto 0;
    // min-height: 270rpx;

    .title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      height: 90rpx;
      font-size: 31rpx;
      font-weight: 500;
      color: #1f1f1f;
      line-height: 42rpx;
      // margin: 0 23rpx;
      margin: 0 29rpx;

      .title-introduce {
        font-size: 25rpx;
        color: #999999;
        font-weight: 400;
        display: flex;
        align-items: center;
        .title-introduce-icon {
          width: 34rpx;
          height: 34rpx;
        }
      }
    }

    .beauty-wrapper {
      overflow-x: scroll;
      display: flex;
      margin: 0 28rpx;
      gap: 15rpx;
      .beauty-item {
        width: 196rpx;
        height: 208rpx;
        display: flex;
        flex-direction: column;
        background: #f7f8fc;
        border-radius: 19rpx;
        // margin-right: 15rpx;
        // padding: 27rpx 59rpx;
        margin-bottom: 30rpx;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 2rpx solid transparent;
        .beauty-pic {
          height: 92rpx;
          width: 92rpx;
          background-color: white;
          border-radius: 50%;
          margin: 0 auto;
        }
        .beauty-name {
          width: 135rpx;
          margin-top: 23rpx;
          font-size: 27rpx;
          font-weight: 500;
          color: #1f1f1f;
          line-height: 38rpx;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
          white-space: nowrap;
          &.disabled {
            color: #999999;
          }
          &.selected {
            color: #fe2442;
          }
        }
        .extra-icon {
          width: 57rpx;
          height: 34rpx;
          // background-color: #d9d9d9;
          background: rgba(0, 0, 0, 0.25);
          font-size: 19rpx;
          color: #fff;
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 0 15rpx 0 15rpx;
          padding: 3rpx 9rpx;
        }
      }

      .beauty-item.selected {
        background: #ffefef;
        border: 2rpx solid #fe2442;
        box-sizing: border-box;
      }

      .beauty-item:first-child {
        // margin-left: 23rpx;
      }

      .beauty-item:last-child {
        // margin-right: 23rpx;
      }
    }

    .empty-text {
      height: 96rpx;
      background: #f7f8fc;
      border-radius: 19rpx;
      text-align: center;
      line-height: 96rpx;
      margin: 0 29rpx 29rpx 29rpx;
      font-size: 29rpx;
      color: #999999;
      font-weight: 400;
    }
  }

  .edit-remark {
    height: 112rpx;
    background-color: white;
    border-radius: 23rpx;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 29rpx;
    margin-top: 15rpx;
    margin-left: $page-margin;
    margin-right: $page-margin;

    .name {
      font-size: 31rpx;
      font-weight: 500;
      color: #1f1f1f;
    }

    .value {
      font-size: 29rpx;
      font-weight: 400;
      color: #666666;
      margin-left: 46rpx;
      text-align: right;
      // 一行 省略
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1 1 0;
    }

    .right-arrow {
      height: 31rpx;
      width: 31rpx;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/index/arrow-right-tag.png);
    }
  }

  .shop-notice {
    width: $reservation-width;
    margin: 19rpx auto;
    background: #ffffff;
    border-radius: 15rpx;
    padding: 29rpx 23rpx 35rpx;
    display: flex;
    flex-flow: column nowrap;

    .notice-title {
      font-size: 29rpx;
      font-weight: 500;
      color: #1f1f1f;
      line-height: 40rpx;
    }

    .notice-content {
      font-size: 29rpx;
      font-weight: 400;
      color: #666666;
      margin-top: 19rpx;
      align-self: stretch;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  .noticewrap {
    width: $reservation-width;
    // height: 423rpx;
    background: #ffffff;
    border-radius: 23rpx;
    padding: 25rpx 29rpx 29rpx 29rpx;
    margin: 15rpx auto 13rpx;
    position: relative;

    .noticetitle {
      @include textfclaw(31rpx, #1f1f1f, $align: left, $lineH: 42rpx);
      font-weight: 500;
    }
    .noticecontent {
      width: 100%;
      margin-top: 17rpx;
      color: #666666;
      font-size: 29rpx;
      text-align: justify;
    }
    .morebtn {
      width: 100%;
      @include flex();
      @include textfclaw(23rpx, #999999);
      position: absolute;
      bottom: 10rpx;
      left: 0;
      .arrow {
        font-size: 27rpx;
      }
    }
  }
}
.add-list {
  padding-bottom: 13rpx;
  .addbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f8fc;
    border-radius: 19rpx;
    // margin: 23rpx 28rpx 28rpx;
    margin: 0 auto 16rpx;
    height: 96rpx;
    .add_service_icon {
      width: 35rpx;
      height: 35rpx;
      margin-right: 10rpx;
      // margin-top: 4rpx;
    }
    .info {
      font-size: 29rpx;
      color: #1f1f1f;
      line-height: 40rpx;
    }
  }
  .short-btn {
    @include flex();
    width: 96rpx;
    height: 96rpx;
    margin-bottom: 16rpx;
    border-radius: 19rpx;
    background-color: #f7f8fc;
    .add_service_icon {
      width: 34rpx;
      height: 34rpx;
      // margin-top: 4rpx;
    }
  }
  .select-add {
    display: flex;
    flex-wrap: wrap;
    .add-item2 {
      position: relative;
      width: fit-content;
      height: 96rpx;
      background: #f7f8fc;
      border-radius: 19rpx;
      padding: 0 29rpx;
      font-size: 29rpx;
      color: #1f1f1f;
      display: flex;
      align-items: center;
      margin-right: 15rpx;
      margin-bottom: 15rpx;
      .price {
        // margin-top: 7rpx;
        margin-left: 29rpx;
      }
      .sku {
        // margin-right: 16rpx;
        @include ellipsis(604rpx);
      }
    }
    .del {
      position: absolute;
      right: -15rpx;
      top: -15rpx;
      width: 31rpx;
      height: 31rpx;
    }
  }
}
.popaa ::v-deep .u-popup__content {
  background-color: transparent;
}
