@import "@/utils/fn.scss";

.dad-wrapper {
  height: 100%;
  width: 100%;
  background-color: #f5f6f7;
}

.head {
  width: 100%;
  height: 385rpx;

  // @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/list-gou");
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -50rpx;
}

.shop-info {
  width: 688rpx;
  height: 219rpx;
  background: #ffffff;
  border-radius: 15rpx;

  display: flex;
  flex-direction: column;
  padding: 30rpx;
  margin-bottom: 19rpx;

  .name {
    width: 100%;
    height: 42rpx;
    font-size: 31rpx;
    font-weight: bold;
    color: #000000;
    line-height: 42rpx;
  }

  .address {
    width: 100%;
    height: 33rpx;
    font-size: 23rpx;
    font-weight: 400;
    color: #666666;
    line-height: 33rpx;
    margin: 19rpx 0;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .icon1 {
        width: 25rpx;
        height: 28rpx;
        color: #999999;
        margin-right: 13rpx;
      }

      .distance {
        // width: 131rpx;
        height: 33rpx;
        font-size: 23rpx;
        font-weight: 400;
        color: #999999;
        line-height: 33rpx;
      }

      .btn {
        // width: 92rpx;
        height: 35rpx;
        border-radius: 17rpx;
        border: 1rpx solid #2dce80;
        margin-left: 9rpx;
        align-items: center;

        .text {
          width: 77rpx;
          height: 35rpx;
          font-size: 19rpx;
          font-weight: 400;
          color: #2dce80;
          margin: 0rpx 8rpx;
          text-align: center;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      width: 250rpx;
      justify-content: right;

      .iphone-icon {
        width: 42rpx;
        height: 42rpx;
        margin-right: 4rpx;

        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/iphone.png"
        );
      }

      .iphone-text {
        width: 50rpx;
        height: 42rpx;
        font-size: 25rpx;
        font-weight: 400;
        color: #000000;
        line-height: 42rpx;
      }

      .navigation-icon {
        width: 42rpx;
        height: 42rpx;
        margin-right: 4rpx;
        margin-left: 58rpx;

        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/reservation/Navigation.png"
        );
      }

      .navigation-text {
        width: 50rpx;
        height: 42rpx;
        font-size: 25rpx;
        font-weight: 400;
        color: #000000;
        line-height: 42rpx;
      }
    }
  }
}

.content {
  width: 688rpx;
  height: 385rpx;

  background: #ffffff;
  border-radius: 15rpx;

  display: flex;
  flex-direction: column;
  margin-bottom: 19rpx;

  background-color: #ffffff;

  &.more {
    height: auto;
  }

  .content-more {
    height: 800rpx;
  }

  .frame {
    width: 100%;
    height: 100%;
    padding: 31rpx 31rpx;
  }

  .title {
    height: 42rpx;
    font-size: 31rpx;
    background: #ffffff;
    border-radius: 23rpx;
    font-weight: bold;
  }

  .container {
    height: 255rpx;
    overflow: hidden;
  }

  .container-more {
    height: auto;
  }

  .container-text {
    font-size: 25rpx;

    color: #666666;
  }

  .more {
    width: 100%;
    height: 50rpx;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      // width: 100%;
      height: 50rpx;
      font-size: 23rpx;
      font-weight: 400;
      color: #999999;
      line-height: 50rpx;
      text-align: center;
    }
  }
}

.list-frame {
  display: flex;
  flex-direction: column;

  width: 688rpx;
  height: auto;

  background: #ffffff;
  border-radius: 15rpx;
  padding: 31rpx;

  background-color: #ffffff;

  .title {
    // width: 123rpx;
    height: 42rpx;
    font-size: 31rpx;
    font-weight: bold;
    color: #000000;
    line-height: 42rpx;
  }

  .item-bg {
    width: 100%;
    height: 212rpx;

    display: flex;
    flex-direction: column;
    margin: 38rpx 0;
    position: relative;

    &.first {
      margin-top: 19rpx;
    }

    &.last {
      margin-bottom: 0rpx;
    }

    .up {
      width: 100%;
      height: 173rpx;
      padding-right: 31rpx;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;

      .img {
        width: 173rpx;
        height: 173rpx;
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 31rpx;
        flex: 1;

        .name {
          height: 42rpx;
          font-size: 31rpx;
          font-weight: bold;
          color: #333333;
          line-height: 42rpx;
          margin-bottom: 25rpx;
        }

        .des {
          height: 25rpx;
          font-size: 25rpx;
          font-weight: 400;
          color: #666666;
          line-height: 25rpx;
          margin-bottom: 38rpx;
        }

        .last {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 62rpx;

          .price {
            height: 38rpx;
            font-size: 27rpx;
            font-weight: bold;
            color: #000000;
            line-height: 29rpx;
          }
        }
      }

      .btn {
        width: 154rpx;
        height: 62rpx;
        background: #ffc900;
        border-radius: 31rpx;
        align-items: center;
        display: flex;
        justify-content: center;

        position: absolute;
        right: 0;
        bottom: 0;

        .text {
          width: 54rpx;
          height: 38rpx;
          font-size: 27rpx;
          font-weight: bold;
          color: #333333;
          line-height: 38rpx;
        }
      }
    }

    .line {
      position: absolute;
      // right: 0;
      bottom: 0;

      width: 100%;
      height: 2rpx;
      border: 1rpx solid #e6e6e6;
      z-index: 11;
    }
  }
}
