.page-wrapper {
  height: 100vh;
  background: #F7F8FC;

  .navbar-wrapper {
    position: relative;

    .navbar {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 99;
    }
  }

  .scroll-wrapper {
    height: 100vh;

  }

  .no-data-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
