.desc {
  box-sizing: border-box;
  min-height: 100vh;
  // overflow: hidden;
  // overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 270rpx;
  background-color: #f7f8fc;

  .nav-bar-scrollbg {
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petChannel/consultationBg-scroll.png") !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10080;
    box-sizing: content-box;
    // background-color: #fff;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/consultation/consultationBg.png");
    background-size: cover;
    .nav-wrapper {
      position: relative;
      height: 90rpx;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      .nav-back {
        position: absolute;
        left: 31rpx;
        top: 21rpx;
        height: 42rpx;
        width: 42rpx;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/index/back-black-tag.png);
      }

      .title-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 19rpx;

        .title {
          font-size: 35rpx;
          font-weight: 500;
          color: #1f1f1f;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: PingFangSC, PingFang SC;
        }
      }
    }
  }

  .top {
    width: 100vw;
    height: 535rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/inquiry/mp_bg_consult.png");
    background-size: cover;
    .copywriting-box {
      margin: 220rpx 0 0 40rpx;
      // margin: 50rpx 0 0 40rpx;
      .writing-top {
        font-weight: 600;
        font-size: 31rpx;
        color: #1f1f1f;
        line-height: 42rpx;
      }
      .writing-bottom {
        font-weight: 400;
        font-size: 25rpx;
        color: #999;
        line-height: 35rpx;
      }
    }
  }
  // 宠物切换
  .pet-box {
    // background-color: #f7f8fc;
    position: sticky;
    top: 90rpx;
    z-index: 100;
    padding: 20rpx 0 15rpx 0rpx;
    margin: -212rpx 0 68rpx 0;
    &.pet-box-sticky {
      background-color: #fff;
      .pet-item {
        .img-name {
          border: 1rpx solid #e4e4e4 !important;
          box-sizing: border-box;
        }
        .active-img-name {
          border: none;
        }
      }
    }
    .pet-scroll {
      white-space: nowrap;
      width: 100%;
      .pet-item {
        position: relative;
        display: inline-block;

        height: 112rpx;
        border-radius: 24rpx;
        background-color: rgba(255, 255, 255, 0.9);
        margin-right: 20rpx;
        .img-name {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 62rpx;
          border-radius: 24rpx;
          box-sizing: border-box;
          border: 1rpx solid transparent;
        }
        .active-img-name {
          height: 100%;
          display: flex;
          background-color: #ffeea5;
          align-items: center;
          justify-content: center;
          padding: 0 62rpx;
          border-radius: 24rpx;
        }
        .pet-item-inner {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .pet-item-img {
          width: 70rpx;
          height: 70rpx;
          border-radius: 50%;
          margin-right: 16rpx;
          &.no-img {
            width: 1rpx;
            margin-right: 0;
          }
        }
        .pet-item-label {
          font-weight: 500;
          font-size: 31rpx;
          color: #1f1f1f;
        }
        .pet-item-label-add {
          font-weight: 400;
          font-size: 27rpx;
          color: #333333;
        }
        .icon-box {
          position: absolute;
          width: 32rpx;
          height: 32rpx;
          right: 0rpx;
          bottom: 0rpx;
          z-index: 999;
          display: flex;
          justify-content: center; /* 水平居中 */
          align-items: center; /* 垂直居中 */
          .lock {
            width: 32rpx;
            height: 32rpx;
            background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/lock.png");
            background-size: cover;
            background-repeat: no-repeat;
          }
          .allRight {
            width: 32rpx;
            height: 32rpx;
            background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/allRight_icon.png");
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
      .petItemFirst {
        margin-left: 16rpx;
      }
    }
  }
  // .top {
  //   width: 100vw;
  //   height: 212rpx;
  //   background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/nutrition/index/nutri-top.png");
  //   background-size: cover;
  // }
  .content {
    flex: 1;
    border-radius: 38rpx 38rpx 0rpx 0rpx;
    margin-top: -38rpx;
    // background-color: #fff;
    padding: 0 16rpx;
    .petInfo {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 38rpx 31rpx 38rpx 38rpx;
      .avators {
        width: 115rpx;
        height: 115rpx;
        border-radius: 115rpx;
        margin-right: 19rpx;
        display: block;
      }
      .base {
        flex: 1;
        .nameCard {
          margin-bottom: 4rpx;
          display: flex;
          align-items: flex-end;
        }
        .name {
          font-size: 35rpx;
          font-weight: bold;
          margin-right: 19rpx;
          color: #333333;
          max-width: 340rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box; //作为弹性伸缩盒子模型显示。
          -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
          -webkit-line-clamp: 1; //显示的行
        }
        .year {
          color: #333333;
          font-size: 27rpx;
        }
        .pettype {
          display: flex;
          flex-wrap: nowrap;
          font-size: 23rpx;
          color: #999999;
          .typeName {
            margin-right: 19rpx;
          }
          .gang {
            margin: 0 10rpx;
          }
          .petColor {
            max-width: 190rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box; //作为弹性伸缩盒子模型显示。
            -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
            -webkit-line-clamp: 1; //显示的行
          }
        }
      }
      .changePet {
        display: flex;
        align-items: center;
        font-size: 27rpx;
        color: #999999;
        .changeText {
        }
        .arr {
          width: 31rpx;
          height: 31rpx;
          background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/arr_r1.png");
          background-size: cover;
        }
      }
    }
    // .line {
    //   height: 19rpx;
    //   background: #f5f6f7;
    // }
    .qu {
      box-sizing: border-box;
      padding: 31rpx 38rpx 20rpx;
      background-color: #fff;
      border-radius: 23rpx;
      margin-top: -20rpx;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        #ffffff 100%
      );
      border-radius: 23rpx;
      border: 1rpx solid #ffffff;
      backdrop-filter: blur(8px);
      .weight-zone {
        margin-bottom: 58rpx;
        .input-wrapper {
          display: flex;
          align-items: center;
          view {
            margin-left: 38rpx;
          }
        }
      }
      .weight-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30rpx;
        background-color: #fff6ec;
        width: 660rpx;
        height: 120rpx;
        border-radius: 16rpx;
        margin-bottom: 54rpx;
        .name {
          font-size: 32rpx;
          color: #1f1f1f;
          font-weight: bold;
        }
        .weight-time {
          width: 300rpx;
          .left {
            display: flex;
            font-size: 42rpx;
            color: #1f1f1f;
            font-weight: bold;
            .unit {
              color: #666666;
              font-size: 24rpx;
              margin: 20rpx 0 0 10rpx;
            }
          }
          .right {
            // width: 280rpx;
            width: 310rpx;
            // background-color: pink;
            font-size: 24rpx;
            color: #666666;
            display: flex;
            .time-icon {
              image {
                width: 32rpx;
                height: 32rpx;
                margin-left: 15rpx;
              }
            }
          }
        }
        .no-weight-time {
          margin-top: 5rpx;
          .right {
            font-size: 24rpx;
            color: #666666;
            display: flex;
            .time-icon {
              image {
                width: 32rpx;
                height: 32rpx;
                margin-left: 15rpx;
              }
            }
          }
        }
      }
      .quTitle {
        font-size: 31rpx;
        font-weight: bold;
        color: #333333;
        margin-bottom: 38rpx;
        .required {
          color: #f3333c;
        }
      }
      .quone {
        margin-bottom: 58rpx;
        .yuList {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      }
      .checkItem {
        padding: 13rpx 26rpx;
        font-size: 27rpx;
        background: #ffffff;
        border-radius: 31rpx;
        margin-right: 19rpx;
        margin-bottom: 19rpx;
        color: #666;
        border-radius: 35rpx;
        border: 1rpx solid #c7c7c7;
      }
      .checked {
        background: #ffeea5;
        color: #1f1f1f;
        font-weight: bold;
        border-radius: 35rpx;
        border: 1rpx solid #ffeea5;
      }
      .qutwo {
        margin-bottom: 58rpx;
        .quList {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      }
      .quthree {
        margin-bottom: 38rpx;
        .quList {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .checkItemWidth {
            height: 62rpx;
            width: 151rpx;
            // flex: 0 150rpx;
            margin-right: 19rpx;
            margin-bottom: 19rpx;
            font-size: 27rpx;
            background: #ffffff;
            border-radius: 31rpx;
            border-radius: 35rpx;
            border: 1rpx solid #c7c7c7;
            color: #666;
            display: flex;
            justify-content: center;
            align-items: center;
            &.checked {
              color: #1f1f1f;
              font-weight: bold;
              background: #ffeea5;
              border-radius: 35rpx;
              border: 1rpx solid #ffeea5;
            }
          }
        }
      }
      .detailTitle {
        margin-bottom: 19rpx;
      }

      .detail {
        ::v-deep .u-textarea {
          background-color: #f5f6f7;
          padding: 6rpx !important;
          padding-bottom: 40rpx !important;
          border-radius: 16rpx;
          border: none;
          // margin-bottom: 58rpx;
          textarea {
            color: #000 !important;
          }
          .u-textarea__count {
            background-color: transparent !important;
          }
        }
        ::v-deep .uni-textarea-placeholder {
          font-weight: 400;
          font-size: 27rpx;
          color: #999999;
        }
      }
    }
    .disease-img {
      margin-bottom: 58rpx;
    }
  }
  .message {
    width: 100vw;
    background-color: #fff;
    position: fixed;
    left: 0;
    // bottom: 30rpx;
    bottom: 0;
    z-index: 1000;
    box-sizing: border-box;
    padding: 15rpx 38rpx;
    padding-bottom: 50rpx;
    .messageText {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85rpx;
      background: #eeeeee;
      border-radius: 46rpx;
      font-size: 31rpx;
      font-weight: bold;
      color: #aaaaaa;
    }
    .allowMessage {
      background: #ffeea5;
      color: #1f1f1f;
    }
  }
  .agreement {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 23rpx;
    font-weight: 400;
    color: #000000;
    margin-top: 20rpx;
    margin-bottom: 30rpx;
    width: 673rpx;
    .check_box {
      width: 25rpx;
      height: 25rpx;
      border: 1px solid #999999;
    }
    text {
      color: #1e95ea;
    }
    .agreement-text {
      width: 629rpx;
      margin-top: -5rpx;
    }
  }
  ::v-deep .u-upload__wrap__preview {
    overflow: visible;
  }
  ::v-deep .u-upload__wrap__preview__image {
    border-radius: 20rpx;
  }
  ::v-deep .u-upload__success {
    display: none;
  }
  ::v-deep .u-upload__deletable {
    width: 34rpx;
    height: 34rpx;
    top: -10rpx;
    right: -10rpx;
    border-radius: 50%;
    background: #333333;
  }
  ::v-deep .u-upload__deletable__icon {
    transform: scale(1);
    position: initial;
    align-items: center;
  }
  ::v-deep .u-icon__icon {
    line-height: 34rpx !important;
    font-size: 24rpx;
    font-weight: bold;
  }
}

//连接医生load
.doctor-box {
  width: 248rpx;
  height: 248rpx;
  background-color: rgba(29, 33, 41, 0.6);
  border-radius: 20rpx;
  .load-icon {
    margin-top: 38rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    image {
      width: 90rpx;
      height: 90rpx;
      // background-color: pink;
    }
  }
  .load-name {
    width: 248rpx;
    // display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 30rpx;
    margin-top: 35rpx;
  }
}
