// $normal_colors: #935B00, #1C609A, #6F3E07, #43698F,#9E6100, #5A4599, #FCF8F5, #FF7B35;
// $deep_colors:   #582D00, #144065, #4E1F0B, #275482, #6E4207, #342068, #BECEFE, #FF5C05;
$normal_colors: #43698F, #9E6100, #5A4599, #FCF8F5;
$deep_colors:   #275482, #6E4207, #342068, #BFCEFE;

@function getNormalColor($index) {
  @for $i from 1 through length($normal_colors) {
    $item: nth($normal_colors, $i); //获取当前元素
    @if $index == $i { @return $item}
  }
  @return null
};
@function getDeepColor($index) {
  @for $i from 1 through length($deep_colors) {
    $item: nth($deep_colors, $i); //获取当前元素
    @if $index == $i { @return $item}
  }
  @return null
};

@for $i from 1 through length($normal_colors) {
  $item: nth($normal_colors, $i); 
  .level_#{$i}_normal { // $i - 1
    color: $item;
  }
};
@for $i from 1 through length($deep_colors) {
  $item: nth($deep_colors, $i); 
  .level_#{$i}_deep { // $i - 1
    color: $item;
  }
}