@import "utils/fn.scss";

.petPop {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-bottom: 272rpx;

  border-top-left-radius: 38rpx;
  border-top-right-radius: 38rpx;
  background-color: #f5f6f7;
  overflow-y: scroll;
  height: calc(100vh - 180rpx - 78rpx - 65rpx + 30rpx);
}

.header {
  box-sizing: border-box;
  padding: 40rpx 38rpx;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  height: 115rpx;

  .title {
    font-size: 35rpx;
    font-weight: bold;
    color: #333333;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .close-icon {
    height: 42rpx;
    width: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/close-icon.png"
    );
    position: absolute;
    right: 38rpx;
  }
}

.line-up {
  width: 673rpx;
  height: 0.5rpx;
  border: 0.5rpx solid #e6e6e6;
  margin-left: 38rpx;
  margin-right: 38rpx;
}

.petType {
  height: 130rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36rpx 38rpx 15rpx 38rpx;

  .big-bg {
    width: 211rpx;
    height: 119rpx;
    position: relative;

    .up-bg {
      width: 211rpx;
      height: 119rpx;

      position: absolute;
      left: 0%;
      top: 0%;
    }

    .up-bg-check {
      width: 211rpx;
      height: 119rpx;
      position: absolute;
      left: 0%;
      top: 0%;
    }

    .name {
      position: absolute;
      left: 119rpx;
      top: 19rpx;

      height: 46rpx;
      font-size: 31rpx;
      font-weight: 500;
      color: #000000;
    }

    .nameEn {
      position: absolute;
      left: 119rpx;
      top: 65rpx;

      height: 31rpx;
      font-size: 23rpx;
      font-weight: 500;
      color: #000000;
    }

    .c-color {
      color: #ffffff;
    }
  }
}

.petInfos {
  width: 673rpx;
  height: 623rpx;
  display: flex;
  flex-direction: column;
  margin: 15rpx 38rpx 15rpx 38rpx;
  background: #ffffff;

  .line-c {
    width: 623rpx;
    height: 4rpx;
  }

  .info-bg {
    width: 673rpx;
    height: 125rpx;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      // width: 100%;
      // height: 125rpx;
      font-size: 31rpx;
      font-weight: 400;
      color: #333333;
      text-align: left;
      margin-left: 23rpx;
    }

    .head {
      width: 69rpx;
      height: 69rpx;
      margin-right: 23rpx;

      border-radius: 50%;
      overflow: hidden;
      // border: 1px solid #000000;
      // margin: 0 auto;
    }

    .input1 {
      // width: 300rpx;
      font-weight: 400;

      height: 42rpx;
      font-size: 31rpx;
      // color: #AAAAAA;
      color: #333333;
      margin-right: 23rpx;
      text-align: right;
    }

    .nickname {
      height: 42rpx;
      font-size: 31rpx;
      font-weight: 400;
      color: #aaaaaa;
      margin-right: 23rpx;
    }

    .iconfont {
      margin-left: 27rpx;
    }

    .content-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 23rpx;

      .content-bg {
        width: 135rpx;
        height: 62rpx;
        background: #ffffff;
        border-radius: 15rpx;
        border: 1rpx solid #e6e6e6;
        text-align: center;
      }

      .content-bg-check {
        background: rgba(20, 208, 180, 0.1);
        border: 1rpx solid #14d0b4;
      }

      .content-text {
        height: 62rpx;
        font-size: 27rpx;
        font-weight: 400;
        color: #666666;
        height: 62rpx;
        line-height: 62rpx;
      }

      .content-text-check {
        font-weight: bold;
        color: #14d0b4;
      }

      .right-icon {
        width: 38rpx;
        height: 38rpx;
      }
    }
  }
}

.footers {
  box-sizing: border-box;
  padding: 13rpx 38rpx;
  width: 100%;
  height: 180rpx;
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: #f5f6f7;

  .btn {
    height: 85rpx;
    background: #eeeeee;
    border-radius: 40rpx;
    display: flex;
    align-items: center;
    justify-content: center;

    &.ok {
      background: #14d0b4;
    }

    .text {
      // width: 123rpx;
      height: 31rpx;
      font-size: 31rpx;
      font-weight: 400;
      color: #aaaaaa;
      line-height: 31rpx;

      &.ok {
        color: #ffffff;
      }
    }
  }
}
