@import "@/utils/fn.scss";

.content {
  width: 577rpx;
  background: #ffffff;
  border-radius: 38rpx;
  padding: 38rpx 46rpx 0 46rpx;
  box-sizing: border-box;
  position: relative;
  .contentImg {
    position: absolute;
    top: -27rpx;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 346rpx;
    height: 231rpx;
    @include bg(
                    "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/popupIcon.png"
    );
  }
  .title {
    width: 100%;
    text-align: center;
    color: #1f1f1f;
    font-size: 32rpx;
    font-weight: bold;
  }
  .content-top {
    width: 100%;
    border-bottom: 1rpx solid #e6e6e6;
    padding: 32rpx 0 38rpx;
    box-sizing: border-box;
    @include textfclaw(27rpx, #333333, $align: center, $lineH: 38rpx);
    .typeMessage {
      padding-top: 20rpx;
      display: inline-block;
      box-sizing: border-box;
    }
  }
  .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26rpx 0;
    box-sizing: border-box;
    .know {
      width: 100%;
      font-weight: 500;
      @include textfclaw(31rpx, #1f1f1f, $align: center, $lineH: 42rpx);
    }
  }
}