@import "@/utils/fn.scss";

.home-scrollwrapper {
  width: 100%;
  height: 100vh;
  background-color: #F5F6F7;
}

.home-wrapper {
  width: 100%;
  // height: 100vh;
  // overflow: hidden;

  position: relative;

  .notice-msg {
    width: 100%;
    height: 65rpx;
    background: rgba(0, 0, 0, 0.5);
    @include textfclaw(25rpx, #FEFFFE, $align: left);
    display: flex;
    align-items: center;
    padding-left: 29rpx;
  }

  .notice-close {
    font-size: 38rpx;
    margin-left: auto;
    margin-right: 39rpx;
  }

  .tab-wrapper {
    background-color: #ffffff;
  }

  .listWrapper {
    width: 100%;
    background-color: #ffffff;
    padding: 31rpx 38rpx;
    position: relative;
    min-height: calc(100vh - 580rpx);

    .empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .scroll-wrapper {
      height: calc(100vh - 580rpx);
    }

    .list-item {
      display: flex;
      // align-items: center;
      padding: 37rpx 0;
      border-bottom: 1rpx solid #E6E6E6;
      position: relative;

      .itemimage {
        width: 173rpx;
        height: 173rpx;
        margin-right: 31rpx;
        border-radius: 12rpx;

        image {
          width: 173rpx;
          height: 173rpx;
          object-fit: cover;
          border-radius: 12rpx;
        }
      }

      .info {
        .servicename {
          @include textfclaw(31rpx, #333333, $align: left, $lineH: 42rpx);
          font-weight: bold;
          width: 468rpx;
          @include textOverflow(2);
        }

        .servicedesc {
          @include textfclaw(25rpx, #666666, $align: left, $lineH: 30rpx);
          margin-top: 25rpx;
          width: 468rpx;
          @include textOverflow(1);
        }

        .price {
          @include textfclaw(27rpx, #000000, $align: left);
          margin-top: 38rpx;
          font-weight: bold;
          display: flex;
          align-items: baseline;

          .num {
            font-size: 39rpx;
            margin-left: 3rpx;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:first-child {
        padding-top: 0;
      }

      .orderbtn {
        @include absNormal(154rpx, 62rpx, $bottom: 39rpx, $right: 0);
        background: #2DCE80;
        border-radius: 31rpx;
        @include textfclaw(27rpx, #ffffff);
        @include flex();
        font-weight: bold;
      }
    }
  }

  .list-content {
    .tab-wrapper {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
}