.button-wrapper {
  height: 100%;
  position: relative;
}

.num {
  width: 29rpx;
  height: 20rpx;
  background: #fff;
  position: absolute;
  left: 33rpx;
  top: 10rpx;
  font-weight: 500;
  font-size: 15rpx;
  color: #1f1f1f;
  border-top-left-radius: 10rpx;
  border-bottom-left-radius: 10rpx;
}
