@import "../../utils/fn.scss";

.pet-detail-wrapper {
  position: relative;
  width: 100%;
  // min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: #F7F8FC;
  .navBar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 999;
  }
  .navBar-bg{
    @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/petChannel/petInfoNavbarBg.png");
  }
  .scroll-y{
    height: 100%;
  }
  .data-unsettled {
    height: 100vh;
    width: 750rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    image {
      width: 60rpx;
      height: 60rpx;
    }
  }
  // #ifdef H5
  // padding-top: 20rpx;
  // #endif
  .nav-bar-bgc {
    position: relative;
    width: 100%;
    height: 369rpx;
    @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/petChannel/improvePetInfoBg.png"
    );

    .improve-title {
      position: absolute;
      top: 208rpx;
      left: 29rpx;

      &__main {
        height: 46rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 46rpx;
        color: #1F1F1F;
        line-height: 46rpx;
        text-align: left;
        font-style: normal;
        margin-bottom: 12rpx;
      }

      &__describe {
        height: 35rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 25rpx;
        color: #333333;
        line-height: 35rpx;
        text-align: left;
        font-style: normal;
      }
    }

    .improve-img {
      width: 300rpx;
      height: 300rpx;
      position: absolute;
      top: 108rpx;
      right: 23rpx;
      @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/petChannel/improvePetInfoHead.png"
      );
    }
  }

  &__content {
    // position: absolute;
    // top: 350rpx;
    width: 100%;
    padding: 0 23rpx;
    margin-top: -21rpx;
    // background: #F7F8FC;

    .first-box {
      padding: 0 29rpx;
      border-radius: 23rpx;
      background: linear-gradient( 180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.61) 100%);
      border: 1rpx solid #FFFFFF;
      backdrop-filter: blur(10px);

      .avatar {
        width: 100%;
        height: 183rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 27rpx;
          color: #1F1F1F;
          line-height: 38rpx;
          text-align: left;
          font-style: normal;
        }

        .avatar-wrap {
          width: 115rpx;
          height: 115rpx;

          image {
            object-fit: contain;
            border-radius: 50%;
          }
        }

        .avatar-wrap-loading {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .upload-box {
          width: 115rpx;
          height: 115rpx;
          margin-right: 6rpx;
          position: relative;
          @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/petInfoV2/avatar.png"
          );


          .upload-icon {
            @include absNormal(38rpx, 38rpx, $bottom: 0, $right: 0);
            @include bg("https://frontend-cdn.chongpangpang.com/image/medical-mp/petChannel/petInfoCamera.png"
            );
          }
        }

      }

      .wrapper-line {
        width: 646rpx;
        border-bottom: 0.5px solid #E6E6E6;
        margin: 0 auto;
      }

      .input-wrapper {
        height: 113rpx;
        width: 100%;
        padding-right: 10rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 27rpx;
          color: #1F1F1F;
          line-height: 38rpx;
          text-align: left;
          font-style: normal;
        }

        .content {
          font-size: 27rpx;

          .input {
            width: 250rpx;
            height: 85rpx;
            border: none;
            outline: none;
            text-align: right;
            font-weight: 400;
            color: #101010;
          }

          .placeholder {
            font-weight: 400 !important;
            color: #999999;
          }
        }
      }

      .variety-wrapper {
        height: 113rpx;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 27rpx;
          color: #1F1F1F;
          line-height: 38rpx;
          text-align: left;
          font-style: normal;
        }

        .content {
          display: flex;
          align-items: center;
          text-align: right;

          .right {
            display: flex;
            align-items: center;
            height: 100%;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 27rpx;
            text-align: right;
            font-style: normal;

            .right-choosen {
              color: #333;
            }

            .right-text {
              color: #999999;
            }

            .icon1 {
              width: 23rpx;
              height: 23rpx;
              @include flex();
              margin-left: 12rpx;
            }
          }
        }
      }
    
    }
    .cpp-pd{
      padding-top: 31rpx;
    }
    .variety-wrapper-box {
      margin-top: 19rpx;
      border-radius: 23rpx;
      background: #FFFFFF;

      .cpp-describe {
        width: 642rpx;
        height: 77rpx;
        background: #f7f8fc;
        border-radius: 15rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 25rpx;
        color: #666666;
        text-align: center;
        line-height: 77rpx;
        margin: 0 auto;
        margin-bottom: 27rpx;
        // margin-top: 31rpx;
      }
      .wrapper-line {
        width: 646rpx;
        border-bottom: 0.5px solid #E6E6E6;
        margin: 0 auto;
      }

      .variety-wrapper {
        height: 115rpx;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 29rpx;

        .title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 27rpx;
          color: #1F1F1F;
          line-height: 38rpx;
          text-align: left;
          font-style: normal;
        }

        .variety-title {
          font-weight: 500;
          font-size: 27rpx;
          color: #1F1F1F;
          line-height: 38rpx;
          text-align: left;
        }

        .content {
          display: flex;
          align-items: center;
          text-align: right;

          .right {
            display: flex;
            align-items: center;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 27rpx;
            line-height: 38rpx;
            text-align: right;
            font-style: normal;

            .right-choosen {
              color: #333;
            }

            .right-kg {
              font-weight: 400;
              font-size: 27rpx;
              color: #1F1F1F;
            }

            .right-choosen-white {
              width: 480rpx;
              color: #333;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .right-text {
              color: #999999;
            }

            .icon1 {
              width: 23rpx;
              height: 23rpx;
              @include flex();
              margin-left: 12rpx;
            }
          }
        }
      }
      .cpp-variety-wrapper {
        height: 219rpx;
        width: 100%;
        padding: 38rpx 0 54rpx 29rpx;
        .cpp-title {
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          font-size: 27rpx;
          color: #1f1f1f;
          margin-bottom: 27rpx;
        }
      }
    }

    &__box {
      height: calc(173rpx + 38rpx);
      width: 100%;
      background-color: transparent;
    }
  }

  .preserve-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 173rpx;
    background-color: #fff;
    padding: 23rpx 38rpx 0;

    .done {
      height: 85rpx;
      background: #FEE900;
      border-radius: 42rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 500;
      font-size: 31rpx;
      color: #1F1F1F;
      @include flex();
    }

  }
}
.op{
  opacity: 0.5;
}
.heg {
  height: 0;
  overflow: hidden;
}
//疫苗隐藏动画
.vaccineInfo-anim {
  overflow: hidden;
  border-radius: 23rpx;
  transition: all 0.1s linear 0s;
  height: 0 !important;
}
//疫苗显示动画
.vaccineInfo-anim-open {
  overflow: hidden;
  border-radius: 23rpx;
  transition: all 0.1s linear 0s;
  height: 115rpx !important;
}
