.address-card {
  box-sizing: border-box;
  padding: 20rpx 20rpx 200rpx;
  min-height: 100vh;
  background: #f5f6f7;
  .list {
    padding: 0 20rpx;
    background: #fff;
    border-radius: 8rpx;
  }
  .add-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 22rpx 38rpx;
    background: #fff;

    .adds-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 673rpx;
      height: 92rpx;
      background: #2dce80;

      border-radius: 46rpx;
      font-size: 31rpx;
      font-weight: bold;
      color: #fff;
    }
  }
  .address-item {
    .info {
      display: flex;
      align-items: center;
      padding: 20rpx 0;
      justify-content: space-between;
      .left {
        width: 596rpx;
      }
      .ads {
        width: 596rpx;
        font-size: 25rpx;
        color: #2a2c33;
        font-weight: 300;
      }
      .base {
        display: flex;
        align-items: center;
        margin-bottom: 17rpx;
        .name {
          font-size: 31rpx;
          color: #2a2c33;
          font-weight: bold;
          .phone {
            padding-left: 19rpx;
            padding-right: 12rpx;
          }
        }
        .isDefault {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 54rpx;
          height: 27rpx;
          background: #2dce80;
          border-radius: 8rpx;
          font-size: 19rpx;
          color: #fff;
        }
      }
      .right {
        width: 42rpx;
        height: 42rpx;
        background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/order/edit-address.png");
        background-size: 100%;
        margin-right: 25rpx;
      }
    }
    .line {
      height: 1rpx;
      background-color: #e6e6e6;
    }
  }
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300rpx;
    .empty-icon {
      width: 346rpx;
      height: 346rpx;
      background: url("https://frontend-cdn.chongpangpang.com/image/newQyk/address-empty.png");
      background-size: 100%;
      margin-bottom: 19rpx;
    }
    .empty-text {
      font-size: 25rpx;
      color: #999999;
      margin-bottom: 30rpx;
    }
    .empty-add {
      width: 242rpx;
      height: 62rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2dce80;

      border-radius: 31rpx;
      font-size: 25rpx;
      font-weight: bold;
      color: #fff;
    }
  }
}
