@import "@/utils/fn.scss";
.desc {
  position: relative;
  height: 100vh;
  background-color: #f7f8fc;
  .storeBox {
    height: 98vh;
    background-color: #f7f8fc;
    padding: 0 15rpx 0rpx 15rpx;
    .itemStore {
      display: flex;
      align-items: center;
      height: 180rpx;
      width: 720rpx;
      padding: 0 10rpx 0 25rpx;
      border-radius: 22rpx;
      background-color: #ffffff;
      margin-top: 20rpx;
      .storLeft {
        width: 480rpx;
        .name {
          width: 480rpx;
          color: #1f1f1f;
          font-size: 32rpx;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* 控制显示的行数 */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .address {
          color: #333333;
          font-size: 24rpx;
          margin: 5rpx 0;
        }
        .distance {
          width: 400rpx;
          display: flex;
          color: #666666;
          font-size: 24rpx;
          .other {
            color: #ff5b05;
            margin-left: 10rpx;
          }
        }
      }
      .storMiddle {
        width: 2rpx;
        height: 130rpx;
        background-color: #f7f8fc;
      }
      .storRight {
        width: 210rpx;
        height: 110rpx;
        display: flex;
        justify-content: space-between;
        padding: 0 30rpx;

        .shop-additional-item {
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          align-items: center;
          .shop-item-back {
            width: 64rpx;
            height: 64rpx;
            border-radius: 32rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-left: 25rpx;
            // background-color: hsla(0, 0%, 77%, 0.32);
            background-color: #f7f8fc;
            image {
              width: 36rpx;
              height: 36rpx;
            }
          }
          text {
            color: #999;
            font-size: 20rpx;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.no-box {
  width: 360rpx;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 25vh auto 0;
  .img {
    image {
      width: 360rpx;
      height: 360rpx;
    }
  }
  .name {
    font-size: 26rpx;
    width: 380rpx;
    text-align: center;
    margin: 20rpx auto 40rpx;
    color: #999999;
  }
}
