.view-wrapper {
  background: linear-gradient(to bottom, #FFFFFF, #F3F3F3);
  border-radius: 23rpx 23rpx 0 0;
  padding-top: 20rpx;

  .new-comer-gift {
    margin: 0 15rpx;

    .img {
      width: 100%;
      border-radius: 8rpx;
      vertical-align: top;
    }
  }
}
