.noData-box {
  // width: 440rpx;
  // height: 430rpx;
  // position: absolute;
  // // top: 30%;
  // left: 50%;
  // transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .noData-img {
    width: 346rpx;
    height: 346rpx;
  }

  text {
    display: inline-block;
    color: #999999;
    font-size: 26rpx;
  }

  .click-button {
    padding: 15rpx 30rpx 15rpx 30rpx ;
    background-color: #FFD41E;
    border-radius: 48rpx;
    margin-top: 25rpx;
    display: flex;
    align-items: center;
    justify-content: center;

    .click-button-text {
      display: contents;
      color: #1F1F1F;
      font-size: 30rpx;
      font-weight: bold;
      text-align: center;
    }
  }


}
