.index-warp {
	background-color: #FFFFFF;
	padding-top: 31rpx;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 0 23rpx;
	display: flex;
	flex-direction: column;
}
.tab {
	padding-top: 29rpx;
	display: flex;
	min-height: 50px;
	width: 100%;
	z-index: 3;
	position: fixed;
	background-color: #fff;
	&_item {
		margin-right: 25rpx;
		text {
			padding: 8rpx 23rpx;
			font-weight: 500;
			color: #333333;
			font-size: 27rpx;
			background: #F6F7FB;
			border-radius: 27rpx;
		}
		.active {
			color: #1F1F1F;
			background: #FEE900;
		}
	}
}
.list-box {
	padding-top: 100rpx;
}