.page-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.right-arrow {
  height: 31rpx;
  width: 31rpx;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/index/arrow-right-tag.png);
}

.pay-wrapper {
  margin-top: 19rpx;

  .pay-item {
    height: 112rpx;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: #ffffff;
    border-radius: 15rpx;
    padding: 0 23rpx;

    .ico {
      height: 48rpx;
      width: 48rpx;
    }

    .name {
      font-size: 29rpx;
      font-weight: bold;
      color: #1f1f1f;
      max-lines: 1;
      overflow: hidden;
      margin-left: 17rpx;
      flex: 1 1 0;
    }

    .check {
      width: 35rpx;
      height: 35rpx;
    }
  }
}

.bottom-submit {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 164rpx;
  padding: 23rpx 25rpx 0 38rpx;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  z-index: 2;

  .price {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 85rpx;
  }

  .submit {
    // width: 250rpx;
    padding: 0 28rpx;
    height: 85rpx;
    background: linear-gradient(90deg, #ffd41e 0%, #ff9c00 100%);
    border-radius: 42rpx;
    font-size: 31rpx;
    font-weight: 500;
    color: #1f1f1f;
    line-height: 84rpx;
    text-align: center;
  }
}
.data-unsettled {
  height: 100vh;
  width: 750rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  image {
    width: 60rpx;
    height: 60rpx;
  }
}
