@import "@/utils/fn.scss";
.page-wrapper-chat {
  width: 100%;
  background-color: #f7f8fc;
  height: calc(100vh - 20rpx); //发现100vh会有点滚动条，加20rpx冗余
  display: flex;
  flex-direction: column;

  position: relative;
  .chatPageNavBar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .leftNavbar {
      flex: 1;
    }
    .iconShare {
      display: flex;
      align-items: center;
      justify-content: center;
      .shareIcon {
        margin-top: 42px;
        margin-left: -22px;
        margin-right: 12px;
        width: 22px;
        height: 22px;
      }
    }
  }
  .chatPageNavBarWx {
    position: sticky;
  }
  .banner-chat {
    width: 750rpx;
    height: 219rpx;
  }

  .time-count-wrapper {
    position: relative;
    .cover {
      position: sticky;
      // top: 10%;
      left: 0;
      // height: 100vh;
      width: 100%;
      z-index: 99;
    }
    .top-drop-down {
      position: absolute;
      bottom: -69rpx;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      height: 69rpx;
      width: 750rpx;
    }
    .nutri-tag {
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/drop-down-nutri.png"
      );
    }
    .desc-tag {
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/drop-down-desc.png"
      );
    }
  }

  .chat-window-wrapper {
    overflow-y: scroll;
    flex: 1;
    position: relative;
  }
}
