@import "@/utils/fn.scss";

.page-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f5f6f7;
  z-index: 1;
  // #ifdef MP-WEIXIN
  padding-top: 196rpx;
  // #endif
  overflow: hidden;
}

.header-top {
  height: 177rpx;
  padding: 21rpx 31rpx 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0rpx;

  .return {
    position: fixed;
    // left: 30;
    // top: 113rpx;
    width: 42rpx;
    height: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
    );
  }
}

.color-bg {
  // @include absNormal($w: 750rpx, $h: 577rpx, $top: 0, $left: 0);
  @include bg(
    "https://image.henhenchina.com/61ee0fe4f58112000178d924/a6ab493edb2c4440b884a5076c5e68c8.png"
  );
  z-index: -1;
  position: fixed;
  top: 0;
  width: 750rpx;
  height: 577rpx;
}

.scroll-wrapper {
  // background: #FFFFFF;
  height: calc(100vh - 180rpx - 0rpx - 196rpx);
  // #ifdef H5
  margin-top: 44rpx;
  // #endif
  .content-bg {
    width: 673rpx;
    // height: 1181rpx;
    background: #ffffff;
    // margin: 0 38rpx;
    margin: 0rpx auto;
    min-height: calc(100vh - 180rpx - 0rpx - 196rpx);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content-layout-up {
      .content-top {
        height: 168rpx;
        width: auto;

        .title-and-icon {
          position: relative;
          height: 108rpx;
          width: auto;

          .tai-title {
            position: absolute;
            width: 100%;
            height: 54rpx;
            font-size: 38rpx;
            font-weight: 600;
            color: #000000;
            line-height: 54rpx;
            text-align: center;
            margin-top: 30rpx;
          }

          .tai-icon {
            position: absolute;
            width: 142rpx;
            height: 88rpx;
            right: 20rpx;
            top: 20rpx;
          }
        }

        .doctor-information {
          width: 100%;
          height: 35rpx;
          font-size: 25rpx;
          font-weight: 400;
          color: #000000;
          line-height: 35rpx;
          text-align: center;
        }
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      margin: 28rpx 19rpx 0 19rpx;

      .petInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        // height: 40rpx;
        margin-bottom: 23rpx;

        .petInfo-type {
          width: 108rpx;
          height: 38rpx;
          font-size: 27rpx;
          font-weight: 400;
          color: #999999;
          line-height: 38rpx;
        }

        .petInfo-msg {
          width: auto;
          max-width: 450rpx;
          // height: 38rpx;
          font-size: 27rpx;
          font-weight: 400;
          color: #000000;
          // line-height: 38rpx;
          text-align: right;
        }
      }
    }

    .no-drugs {
      width: 100%;
      height: 38rpx;
      font-size: 27rpx;
      font-weight: 400;
      color: #000000;
      line-height: 38rpx;
      text-align: center;
      margin-top: 30rpx;
    }

    .drugs {
      display: flex;
      flex-direction: column;
      margin: 28rpx 19rpx 0 19rpx;

      .drugs-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40rpx;
        margin-bottom: 16rpx;

        .drugs-title {
          width: auto;
          height: 38rpx;
          font-size: 27rpx;
          font-weight: bold;
          color: #000000;
          line-height: 38rpx;
        }

        .drugs-btn {
          width: 138rpx;
          height: 46rpx;
          background: #ffffff;
          border-radius: 31rpx;
          border: 1rpx solid #e6e6e6;

          .drugs-btn-str {
            width: 100%;
            height: 46rpx;
            font-size: 23rpx;
            font-weight: 400;
            color: #000000;
            line-height: 46rpx;
            text-align: center;
          }
        }
      }
    }

    .drugs-bg {
      display: flex;
      flex-direction: column;
      margin: 28rpx 19rpx 0rpx 19rpx;

      .drugs-item {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 31rpx;

        .item-name-num {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 23rpx;

          .item-name {
            width: auto;
            // height: 38rpx;
            font-size: 27rpx;
            font-weight: 400;
            color: #000000;
            line-height: 38rpx;
            max-width: 460rpx;
          }

          .item-num {
            width: auto;
            height: 38rpx;
            font-size: 27rpx;
            font-weight: 400;
            color: #000000;
            line-height: 38rpx;
          }
        }

        .item-usage {
          width: 635rpx;
          font-size: 23rpx;
          font-weight: 400;
          color: #999999;
          line-height: 33rpx;
        }
      }
    }

    .content-layout-down {
      .doctor-suggestions {
        display: flex;
        flex-direction: column;
        margin: 28rpx 19rpx 0rpx 19rpx;
        position: relative;

        .offline {
          width: auto;
          // height: 38rpx;
          font-size: 27rpx;
          font-weight: 400;
          color: #000000;
          line-height: 38rpx;
          margin-bottom: 23rpx;
        }

        .other-suggestions {
          width: auto;
          // height: 38rpx;
          font-size: 27rpx;
          font-weight: 400;
          color: #000000;
          line-height: 38rpx;
          margin-bottom: 23rpx;
        }

        .time {
          width: 694rpx;
          height: 38rpx;
          font-size: 27rpx;
          font-weight: 400;
          color: #000000;
          line-height: 38rpx;
          margin-bottom: 23rpx;
        }

        .seal {
          position: absolute;
          top: 30rpx;
          right: 0rpx;
          width: 108rpx;
          height: 108rpx;
        }
      }

      .line2bg {
        width: 673rpx;
        // height: 18rpx;
        // margin: 0rpx auto;
        padding-bottom: 20rpx;
        // background: red;
        background: #f5f6f7;

        .line2 {
          width: 673rpx;
          height: 15rpx;
          display: block;
        }
      }
    }
  }

  .line-buttom {
    width: 100%;
    height: 40rpx;
    background: #f5f6f7;
  }
}
// #ifdef H5
.pingan-scroll-wrapper{
  height: calc(100% - 90px - 55px) !important;
  margin-top: 55px !important;
  // padding-bottom: 180rpx !important;
}
.pingan-content-bg{
  margin-top: 0 !important;
}
// #endif
.up {
  height: calc(100vh - 85rpx - 0rpx - 196rpx);
}

.minup {
  min-height: calc(100vh - 85rpx - 0rpx - 196rpx);
}

.content-head {
  position: fixed;
  top: 183rpx;
  width: 712rpx;
  height: 31rpx;
  left: 50%;
  transform: translate(-50%, -50%);
}
// #ifdef H5
.pingan-content-head{
  position: fixed;
  top: 55px;
  width: 712rpx;
  height: 31rpx;
  left: 50%;
  transform: translate(-50%, -50%);
}
// #endif
.btn-bg {
  width: 100%;
  height: 180rpx;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;

  .buy-drugs-btn {
    width: 673rpx;
    height: 85rpx;
    background: #2dce80;
    border-radius: 46rpx;
    margin: 20rpx 38rpx 15rpx 38rpx;

    .btn-text {
      width: 100%;
      height: 42rpx;
      // font-size: 31rpx;
      font-weight: bold;
      color: #ffffff;
      line-height: 85rpx;
      text-align: center;
    }
  }

  .buy-drugs-btn1 {
    width: 673rpx;
    height: 85rpx;
    border-radius: 46rpx;
    border: 2rpx solid #e6e6e6;
    margin: 20rpx 38rpx 15rpx 38rpx;

    .btn-text {
      width: 100%;
      height: 42rpx;
      // font-size: 31rpx;
      font-weight: bold;
      color: #000000;
      line-height: 85rpx;
      text-align: center;
    }
  }
}

.lineImg {
  width: 669rpx;
  height: 4rpx;
  display: block;
}

//https://image.henhenchina.com/61ee0fe4f58112000178d924/99471e043d924071b672f495755e95fa.png
//https://image.henhenchina.com/61ee0fe4f58112000178d924/13cbf52294744046997307b0491726bb.png
//https://image.henhenchina.com/61ee0fe4f58112000178d924/5ab6769d2bba4779947914422a154045.png
