@import "../../../../utils/fn.scss";
.doc-list-wrapper {
  width: 719rpx;
  /* #ifdef H5 */
  margin: 10px auto;
  /* #endif */
  /* #ifdef MP-WEIXIN */
  // margin: 34% auto;
  /* #endif */
  border-radius: 19rpx;
  background-color: #fff;
  box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
  padding: 30rpx;
  .list-title {
    height: 54rpx;
    line-height: 54rpx;
    @include flex();
    justify-content: space-between;
    .left {
      @include textfclaw(35rpx, #1f1f1f);
      font-weight: bold;
    }
    .right {
      @include textfclaw(23rpx, #1f1f1f);
      font-weight: 400;
      @include flex();
      .arrow {
        height: 28rpx;
        width: 28rpx;
      }
    }
  }

  .list-content-wrapper {
    .list-item {
      display: flex;
      width: 100%;
      padding-top: 44rpx;
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      .avatar {
        height: 88rpx;
        width: 88rpx;
        position: relative;
        border-radius: 50%;
        border: 1px solid #e6e6e6;
        image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        &.online {
          border: 1px solid #2dce80;
        }
        .online-tag {
          @include flex();
          background: #73c928;
          border-radius: 14rpx;
          @include textfclaw(19rpx, #ffffff);
          @include absNormal(65rpx, 29rpx, $bottom: -14rpx, $left: 11rpx);
          font-weight: bold;
        }
      }

      .info {
        margin-left: 23rpx;
        padding-bottom: 46rpx;
        // flex: 1;
        .first-row {
          height: 42rpx;
          line-height: 42rpx;
          display: flex;
          align-items: center;
          margin-bottom: 11rpx;
          .name {
            @include textfclaw(35rpx, #000);
            font-weight: bold;
            margin-right: 11rpx;
            @include ellipsis(154rpx);
          }
          .pro-tag {
            // @include bg(
            //   "https://frontend-cdn.chongpangpang.com/image/medical-mp/index/professional-tag.png"
            // );
            padding: 7rpx;
            background: linear-gradient(to right, #fdf5ee, #eadbcf);
            margin-right: 8rpx;
            border-radius: 7rpx;
            @include flex();
            .icon {
              width: 19rpx;
              height: 19rpx;
              @include bg(
                "https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/protag.png"
              );
            }
            .pro-title {
              margin-left: 3rpx;
              @include textfclaw(19rpx, #362012, $align: left, $lineH: 22rpx);
              font-weight: bold;
            }
          }
        }
        .depart {
          font-weight: 400;
          display: flex;
          margin-bottom: 10rpx;
          .hospitalname {
            @include textfclaw(24rpx, #362012, $align: left, $lineH: 33rpx);
            margin-right: 11rpx;
          }
          @include textfclaw(24rpx, #333, $align: left, $lineH: 33rpx);
        }
        .second-row {
          margin-top: 7rpx;
          height: 38rpx;
          line-height: 38rpx;
          display: flex;
          align-items: center;
          @include textfclaw(24rpx, #666666, left);
          .scoreicon {
            width: 23rpx;
            height: 23rpx;
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/scoretag.png"
            );
            margin-right: 6rpx;
          }
          .name {
            color: #666666;
            margin-right: 5rpx;
          }
          .num {
            font-weight: 400;
            color: #00b852;
          }
          .margin19 {
            margin-right: 19rpx;
          }
        }
        .third-row {
          display: flex;
          align-items: center;
          .tagitem {
            @include textfclaw(20rpx, #333333, $lineH: 20rpx);
            padding: 6rpx;
            background: #f5f6f7;
            border-radius: 4rpx;
            margin-right: 8rpx;
            font-weight: bold;
          }
        }
        .forth-row {
          width: 460rpx;
          // height: 31rpx;
          line-height: 31rpx;
          margin-top: 19rpx;
          @include textfclaw(24rpx, #666, left);
          @include textOverflow(2);
          // @include ellipsis(475rpx);
        }
        .fb {
          height: auto !important;
          line-height: normal !important;
        }
        .fifth-row {
          display: flex;
          align-items: center;
          height: 62rpx;
          line-height: 62rpx;
          margin-top: 15rpx;
          justify-content: space-between;
          .left {
            display: flex;
          }
          .free-tag {
            @include textfclaw(23rpx, #ffb400);
            font-weight: bold;
          }
          .form-tag {
            margin-left: 23rpx;
            @include textfclaw(23rpx, #666);
            font-weight: 400;
          }
          .ask-button {
            @include textfclaw(25rpx, center);
            width: 162rpx;
            border-radius: 31rpx;
          }
          .active {
            background-color: $themeColor;
            color: #fff;
          }
          .unactive {
            background-color: #eee;
            color: #aaaaaa;
          }
        }
      }
      .itembtn {
        // line-height: 52rpx;
        border-radius: 27rpx;
        @include flex();
        @include textfclaw(24rpx, #aaaaaa);
        background-color: #eeeeee;
        @include absNormal(115rpx, 52rpx, $right: 0, $top: 44rpx);
        font-weight: bold;
        &.onlinebtn {
          @include textfclaw(25rpx, #1f1f1f);
          background-color: #ffd41e;
        }
      }
    }
    .list-item:last-child {
      border-bottom: none !important;
    }
  }
  .morebtn {
    width: 173rpx;
    height: 62rpx;
    border-radius: 31rpx;
    border: 1px solid #e6e6e6;
    @include textfclaw(25rpx, #333333, $lineH: 62rpx);
    margin: 0 auto;
    margin-bottom: 20rpx;
  }
}
