.page-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/start.png);
}

.breathing-button {
  width: 496rpx;
  height: 127rpx;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://frontend-cdn.chongpangpang.com/image/medical-mp/activity/mbti/startBtn.png);
  position: absolute;
  left: 127rpx;
  transform: translateX(-50%);
  bottom: 100rpx;

  /* 添加其他样式，比如背景色、字体大小等 */
  transition: transform 2s ease-in-out;
  animation: breathe 1s ease-in-out infinite;
  transform-origin: center center;
}

.scaling-button:hover {
  transform: scale(1.1);
}

@keyframes breathe {
  0% {
    transform: scale(0.88);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.88);
  }
}
