.flex-box {
  padding: 40rpx 30rpx 216rpx 30rpx;
  border-radius: 38rpx 38rpx 0rpx 0rpx;
  margin-top: -28rpx;
  background: #fff;
  position: relative;

  .avatar-border {
    width: 117rpx;
    height: 117rpx;
    border-radius: 50%;
    border: 4rpx solid #fff;
    margin: -65rpx 0 0 190rpx;
    background: #fff;
  }

  .nickname {
    font-size: 27rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 38rpx;
    margin-top: 15rpx;
    text-align: center;
  }

  .description {
    font-size: 38rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 54rpx;
    margin-top: 30rpx;
    text-align: center;
  }

}

.contain {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.contain::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
  display: none;
}

.plr-15 {
  padding: 0 15rpx;
}

.detail-info-out {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.detail-info {
  // display: flex;
  // align-items: center;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;

  // margin-left: 15rpx;
  // margin-left: 16rpx;

  &-badgeName {
    display: inline-block;
    min-width: 72rpx;
    height: 36rpx;
    text-align: center;
    // line-height: 38rpx;
    border-radius: 30rpx;
    background: linear-gradient(90deg, #464646 0%, #0B0B0B 100%);
    color: #EFD485;
    font-size: 19rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    padding-top: 5rpx;
    padding-bottom: 3rpx;
    vertical-align: middle;
    margin-bottom: 10rpx;
    margin-right: 15rpx;
  }

  &-name {
    font-size: 38rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 54rpx;
    margin-left: 15rpx;
    // margin-right: 16rpx;

  }

  &-tagName {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 2rpx 7rpx;
    // height: 35rpx;
    border-radius: 8rpx;
    border: 2rpx solid #333333;
    // margin-left: 15rpx;
    font-size: 19rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    vertical-align: middle;
    margin-bottom: 10rpx;

    .tag-img {
      width: 16rpx;
      height: 16rpx;
      margin-right: 8rpx;
    }
  }



  &-time {
    margin-top: 33rpx;

    &.align-center {
      display: flex;
      align-items: center;
    }

    .align-center {
      display: flex;
      align-items: center;
    }

    .mt-10 {
      margin-top: 10rpx;
    }

    .img {
      width: 28rpx;
      height: 26rpx;
      margin-right: 17rpx;
      margin-top: 4rpx;
    }

    .time-tag {
      width: 35rpx;
      height: 35rpx;
      border-radius: 9rpx;
      font-size: 20rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold;
      color: #333333;
      // line-height: 37rpx;
      // text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &.s {
        background: #FFD41E;
      }

      &.e {
        background: #D0D7DE;
      }
    }

    .time-str {
      margin-left: 4rpx;
      font-size: 27rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 38rpx;
    }

    .line {
      width: 19rpx;
      height: 2rpx;
      background: #BEBEBE;
      border-radius: 2rpx;
      margin: 0 8rpx;
    }
  }

  &-address {
    font-size: 27rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 38rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33rpx;
    border-bottom: 1rpx solid #ECECEC;
    padding-bottom: 25rpx;
    position: relative;

    >div {
      display: flex;
      align-items: center;

    }

    .img {
      width: 28rpx;
      height: 30rpx;
      margin-right: 15rpx;
    }
  }
}

.more {
  width: 44rpx;
  height: 44rpx;
  font-size: 44rpx;
  flex-shrink: 0;
  padding-top: 0rpx;
}

.address-text {
  padding-right: 12rpx;
  width: 620rpx;
}

.detail-price {
  display: flex;
  align-items: flex-end;

  .price1 {
    font-size: 27rpx;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #F4333C;
    line-height: 38rpx;
  }

  .price2 {
    font-size: 38rpx;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #F4333C;
    padding: 0 6rpx
  }

  .price3 {
    font-size: 27rpx;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #F4333C;
    line-height: 38rpx;
  }
}

.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);

  &-img {
    width: 400rpx;
    height: 360rpx;
    // background: url("@/share/delects_404.png") no-repeat center center/100% 100%;
    margin-bottom: 32rpx;
  }

  &-text {
    font-size: 26rpx;
    color: #999999;
  }
}

.activities-cover {
  height: 538rpx;

  &-img {
    width: 100%;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.footer {
  padding: 15rpx 38rpx 45rpx 28rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0rpx -2rpx 2rpx 0rpx rgba(245, 245, 245, 0.5);

  .mt {
    margin-top: 19rpx;

  }

  .mb {
    margin-bottom: 15rpx;
  }

  .btn {
    // width: 446rpx;
    flex: 2;
    height: 85rpx;
    background: #FEE900;
    box-shadow: 0px -2px 2px 0px rgba(245, 245, 245, 0.5);
    border-radius: 46rpx;
    font-size: 35rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: bold;
    color: #1F1F1F;
    line-height: 85rpx;
    text-align: center;
    position: relative;

    &.width-100 {
      width: 100%;
    }
  }

  .gray {
    color: #FFFFFF;
    background: #D0D7DE;
    // text-shadow: 0rpx -2rpx 2rpx rgba(245,245,245,0.5);
  }

  .isSignUp-gray {
    width: 221rpx;
    color: #1F1F1F;
    background: #FEE900;
    opacity: 0.4;
    // text-shadow: 0rpx -2rpx 2rpx rgba(245,245,245,0.5);
  }

  .add-wx-btn {
    width: 271rpx;
      height: 85rpx;
        background: #FEE900;
        border-radius: 46rpx;
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 21rpx;
      
        .icon {
          width: 43rpx;
          height: 43rpx;
          // box-shadow: 0rpx -2rpx 2rpx 0rpx rgba(245, 245, 245, 0.5);
          margin-right: 2rpx;
        }
      
        .text {
          // width: 138rpx;
          height: 48rpx;
          font-size: 35rpx;
          font-weight: 500;
          color: #1F1F1F;
          line-height: 48rpx;
          // text-shadow: 0px -2px 2px rgba(245, 245, 245, 0.5);
        }
  }

  .checkbox {

    font-size: 27rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #666666;
    line-height: 38rpx;
    text-shadow: 0rpx -2rpx 2rpx rgba(245, 245, 245, 0.5);

    >view {
      color: #333
    }
  }

  .ic-checked {
    font-size: 40rpx;
    color: #ccc;

    &.black {
      color: #000;
    }
  }

  .text2 {
    color: #666666;
    font-size: 27rpx;
    margin-left: 8rpx;
  }

  .want {
    text-align: center;
    position: relative;

    &.want1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 27rpx;
    }

    &.flex {
      align-items: center;
      padding-right: 10rpx;
    }

    .img {
      width: 36rpx;
      height: 36rpx;
      display: block;
      margin: 8rpx auto 0;
    }

    .iconfont {
      // background: #bbb;
      font-size: 38rpx;
      // height: 42rpx;
      padding: 8rpx 0;
    }

    .bright {
      color: #FEE900;
    }

    .text {
      font-size: 21rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #999999;
      line-height: 31rpx;
      text-shadow: 0rpx -2rpx 2rpx rgba(245, 245, 245, 0.5);

      &.bold {
        font-weight: 500;
        font-family: PingFangSC-Medium, PingFang SC;
      }
    }
  }

  .share {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 0 50rpx 0 50rpx;

    .wx-img {
      width: 56rpx;
      height: 56rpx;
    }

    .text {
      font-size: 21rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #999999;
      line-height: 31rpx;
      text-shadow: 0px -2rpx 2rpx rgba(245, 245, 245, 0.5);
    }

    button {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
    }
  }
}

.articleDes-title {
  font-size: 31rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 42rpx;
  margin-bottom: 10rpx;
  margin-top: 35rpx;
  padding-top: 13rpx;
}

.articleDes {
  padding-bottom: 100rpx;
  font-size: 27rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #666666;
  line-height: 40rpx;


  word-break: break-all;

  p {
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    margin: 10rpx 0;
  }
}

.articleDes-imgs {
  width: 100%;

  .img {
    width: 100%;
    display: block;
  }
}

.pop-agreement {
  margin-left: 17rpx;
  font-size: 27rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #666666;
  line-height: 38rpx;
  text-shadow: 0rpx -2rpx 2rpx rgba(245, 245, 245, 0.5);
  text-align: center;
  padding: 25rpx 0;
  width: 100%;
  justify-content: center;

  div {
    color: #FFB400
  }
}

.group-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    display: flex;
    justify-content: space-between;
    padding: 30rpx 0;
    position: relative;

    .text {
      font-size: 31rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 42rpx;
    }

    .img {
      width: 28rpx;
      height: 30rpx;
      margin-right: 15rpx;
    }
  }

  &-btn {
    width: 146rpx;
    height: 69rpx;
    line-height: 69rpx;
    text-align: center;
    background: #FFC900;
    border-radius: 35rpx;
    font-size: 27rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    position: relative;
  }

  &-list {
    display: flex;
    width: 100%;
    padding-top: 10rpx;
    overflow-x: scroll;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;

    /* IE 10+ */
    &::-webkit-scrollbar {
      display: none;
      /* Chrome Safari */
    }
  }

  &-item {
    margin-right: 20rpx;
    width: 100rpx;

    &:last-child {
      margin-right: 0;
    }

    .img {
      position: relative;
    }

    .picture-img {
      display: block;
      margin: 0 auto;
      width: 69rpx;
      height: 69rpx;
      border-radius: 50%;
    }

    .img-one {
      position: absolute;
      top: -16rpx;
      left: -53rpx;
      width: 106rpx;
      height: 106rpx;
      margin-left: 50%;
    }

    .p {
      font-size: 24rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 25rpx;
      text-align: center;
      margin-top: 20rpx;
    }
  }
}

.want-box {
  height: 129rpx;
  border-top: 1rpx solid #ECECEC;
  border-bottom: 1rpx solid #ECECEC;
  margin-top: 20rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .prompt {
    width: 531rpx;
    height: 69rpx;
    line-height: 69rpx;
    background: #F6F7FB;
    border-radius: 35rpx;
    font-size: 27rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    padding-left: 30rpx;
  }

  .btn {
    width: 127rpx;
    height: 69rpx;
    border-radius: 35rpx;
    border: 2rpx solid #333333;
    font-size: 27rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 65rpx;
    text-align: center;
    position: relative;
  }

  .list {
    display: flex;
    align-items: center;
    flex: 2;
    overflow: hidden;
  }

  .img {
    overflow: hidden;
    max-width: 63%;

    img {
      width: 46rpx;
      height: 46rpx;
      border-radius: 50%;
      margin-right: 5rpx;
    }
  }
}


.c-modal-content {
  width: 650rpx;
  font-size: 29rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #666666;
  line-height: 38rpx;
  margin: 0 auto
}

.forbid-box {
  // padding-bottom: 10rpx;
  height: 520rpx;
}

.forbid-img {
  width: 200rpx;
  height: 200rpx;
  margin: 0 auto;
  display: block;
}

.forbid-title {
  font-size: 31rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 42rpx;
  text-align: center;
  padding: 30rpx 0;
}

.forbid-content {
  font-size: 27rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #666666;
  line-height: 38rpx;
  text-align: center;
}

.forbid-button {
  width: 274rpx;
  border: 1px solid #E6E6E6;
  font-size: 31rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #666666;
  text-align: center;
  padding: 20rpx 0;
  border-radius: 75rpx;
  margin: 36rpx auto 0;
}

.mask {
  width: 100%;
  height: 217rpx;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1
}

.color-000 {
  color: #000
}

.sku-ticket {
  margin-bottom: 23rpx;
}

.sku-ticket-t {
  height: 38rpx;
  font-size: 27rpx;
  font-weight: 600;
  color: #000000;
  line-height: 38rpx;
  text-shadow: 0px -2px 2px rgba(245, 245, 245, 0.5);
}

.sku-ticket-name {
  height: 38rpx;
  font-size: 27rpx;
  font-weight: 400;
  color: #666666;
  line-height: 38rpx;
  text-shadow: 0px -2px 2px rgba(245, 245, 245, 0.5);
}