*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
image {
    display: block;
}
.order {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    &-content {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #F2F2F2;
        .box {
            flex:1;
            overflow-y: auto;
        }
        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
            background-color: transparent
          }
        &-status {
            background: #FF884D ;
            width: 100%;
            height: 202rpx;
            padding-bottom: 100rpx;
            .flag {
                padding-top: 15rpx;
            }
        }
        &-status>text {
            display: flex;
            justify-content: center;
            color: #ffffff;
            padding-top: 12rpx;
        }
        &-status view {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            // padding-top: 28rpx;
        }
        &-status view image {
            width: 36rpx;
            height: 36rpx;
        }
        &-status view text {
            font-size: 32rpx;
            font-weight: 600;
            color: #fff;
            padding-left: 14rpx;
        }
        &-allDesc {
            padding: 0 16rpx;
            flex: 1;
            margin-top: -120rpx;
        }

        
    }
    &-footer {
        padding: 20rpx 40rpx 68rpx 40rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        &-price {
            display: flex;
        }
        &-price view {
            font-size: 32rpx;
        }
        &-price view:last-child  {
            font-size: 32rpx;
            color: #F4333C;
        }
        &-opt {
            float: right;
            display: flex;
        }
        &-opt view {
            width: 160rpx;
            height: 64rpx;
            // line-height: 64rpx;
            font-size: 28rpx;
            text-align: center;
            border-radius: 32rpx;
        }
        &-opt view:first-child {
            margin-right: 19rpx;
        }
        &-opt view:last-child {
            margin-right: 0;
        }
        .default {
            border: 1rpx solid #CCCCCC;
            color: #333333;
            background-color: #FFFFFF;
        }
        .option {
            border: 1rpx solid #FEE900;
            background-color: #FEE900;
            color: #1F1F1F;
        }
        .orign {
            border: 1rpx solid #FEE900;
            background-color: #FEE900;
            color: #1F1F1F;
        }
        .lin-64 {
            line-height: 62rpx;
        }



    }
}
.marginT {
    margin-top: -80rpx !important;
}
// .marginNew {
//     margin-top: -115rpx;
// }
.address {
    border-radius: 16rpx;
    padding: 24rpx;
    background-color: #ffffff;
    position: relative;
    
    view {
        // padding: 0 0 12rpx 0;
        font-weight: 500;
        font-size: 31rpx;
    }
    text {
        color: #666666;
        font-size: 27rpx;
    }
    .phone {
        display: flex;
        align-items: center;
        color: #666666;
        font-size: 27rpx;
        font-weight: 400;
        image {
            width: 35rpx;
            height: 35rpx;
            margin-left: 5rpx;
        }
    }
    .distance {
        display: flex;
        align-items: center;
        margin-top: 16rpx;
        image {
           width: 17rpx;
           height: 23rpx; 
        }
        text{
           font-size: 23rpx;
           padding-left: 6rpx;
           font-weight: 400;
           color: #666666; 
           margin-right: 20rpx;
        }
        .look_map {
            display: flex;
            align-items: center;
            color: #2492FC;
            // padding-left: 20rpx;
            font-size: 23rpx;
            font-weight: 400;
            image {
                width: 30rpx;
                height: 30rpx;
            }
        }
    }
    .verify-box {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 29rpx;
        right: 23rpx;
        view {
          font-size: 31rpx;
          color: #333333; 
          font-weight: 600; 
        }
        image {
            width: 31rpx;
            height: 31rpx;
        }
    }
    input {
        width: 180rpx;
        border:none;
    }
}


.orderDesc {
    border-radius: 16rpx;
    padding: 24rpx 0;
    background-color: #ffffff;  
    margin-top: 16rpx;
    .goodsTit {
        display: flex;
        align-items: center;
        padding: 0 24rpx;
        image {
            width: 36rpx;
            height: 36rpx;
        }
        &-headImg {
            width: 44rpx!important;
            height: 44rpx!important;
            margin-right: 8rpx;
        }
        text {
            padding-left: 8rpx;
            font-size: 30rpx;
            font-weight: 500;
            color: #333333;
        }
    }
    .goods {
        display: flex;
        padding: 0 24rpx;
        margin-top: 24rpx;
        .img {
            width: 188rpx;
            min-width: 188rpx;
            height: 188rpx; 
            image {
                width: 100%;
                height: 100%;
                border-radius: 10rpx;
                object-fit: cover;
             }
        }

        &-desc {
           width: 100%;
           padding-left: 24rpx; 
           view {
            font-size: 32rpx;
            font-weight: 600;
            color: #333333;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
           }
           >text {
            font-weight: 400;
            color: #999999;
            font-size: 26rpx;
            padding-top: 4rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
           }
        }
        .Unitprice {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 44rpx;
            color: #333;
            &-count {
                font-weight: 400;
                text {
                    font-size: 18rpx;
                }
                font-size: 28rpx;
            }
            &-stock {
                font-weight: 400;
                text {
                    font-size: 24rpx;
                    display: block;
                    padding-top: 16rpx;
                }
            }
            &-sum {
                font-weight: 600;
                font-size: 40rpx; 
                text:first-child{
                    padding-right: 5rpx;
                }
                text {
                    font-size: 24rpx;
                    // padding-left: 10rpx;
                }
            }
        }
    }
    .goods-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24rpx 0 0 0;
        border-top: 1rpx solid #ECECEC;
        margin-top: 24rpx;
        view {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        view image {
            width: 38rpx;
            height: 38rpx;
        }
        view text {
            display: block;
            font-size: 28rpx;
            font-weight: 500;
            color: #333333;
            padding-left: 16rpx;
        }
    }
}

.orderPrice {
    border-radius: 16rpx;
    padding: 24rpx;
    background-color: #ffffff;
    margin-top: 16rpx;
    .remark {
        display: flex;
        justify-content: space-between;
        font-size: 28rpx;
        padding-bottom: 34rpx;
        &-text {
            display: flex;
            align-items: center;
        }
        &-text span {
            font-size: 28rpx;
            color: #333333;
            line-height: 40rpx;
        }
        .title {
            color: #999999;
            min-width: 100rpx;
        }
        image {
            width: 36rpx;
            height: 36rpx;
        }
    }
    .money {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16rpx;
        font-size: 28rpx;
        .title {
            color: #999999;
        }
        text {
            color: #333333; 
        }
    }
    .actualPayment {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 28rpx;
        font-weight: 500;
        .title {
            color: #333333;   
        }
        text {
           color: #FF4D4D; 
           padding-left: 16rpx;
        }
    }
}

.orderInfo {
    border-radius: 16rpx;
    padding: 24rpx;
    background-color: #ffffff;
    margin: 16rpx 0;
    .title {
        font-size: 32rpx;
        font-weight: 600;
        color: #333333;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: 16rpx;
        color: #333333;
        font-size: 28rpx;
        >text {
            color: #999999;
            display: block;
            width: 200rpx;
        }
        .remark{
            width: 240rpx;
        }
        &-text {
            line-height: 40rpx;
            width: 800rpx;
            text-align: right;
            // padding-bottom: 94rpx;
        }
    }
    image {
        width: 22rpx;
        height: 22rpx;
        margin-left:12rpx ;
        display: inline-block;
    }
}


// .payMethod {
//     border-radius: 16rpx;
//     padding: 24rpx;
//     background-color: #ffffff;
//     margin: 16rpx 0;
//     .title {
//         font-size: 28rpx;
//         color: #999999;
//     }
//     .info {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-top: 48rpx;
//         color: #333333;
//         >text {
//             color: #999999;
//             display: block;
//             width: 240rpx;
//         }
//         .pay {
//             display: flex;
//             align-items: center;
//         }
//         .pay image {
//             margin-right: 22rpx;
//             width: 52rpx;
//             height: 52rpx;
//         }
//     }
//     image {
//         width: 46rpx;
//         height: 46rpx;
//     }
// }

.time {
    padding-top: 12rpx;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 23rpx;
}
.time ::v-deep .u-count-down {
    .u-count-down__text {
        color: #FFFFFF;
        font-size: 23rpx;
        font-weight: 400;
    }
}