.infoPop {
  padding: 31rpx;
  width: 100%;

  .header {
    height: 85rpx;
    background: #ffffff;
    border-radius: 38rpx 38rpx 0rpx 0rpx;
    margin-bottom: 38rpx;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    height: 38rpx;
    font-family: PingFangSC, PingFang SC;
    font-weight: 500;
    font-size: 35rpx;
    color: #1f1f1f;
    line-height: 38rpx;
    text-align: center;
    font-style: normal;
  }

  .img {
    width: 50rpx;
    height: 50rpx;
    background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/close.png");
    background-size: cover;
  }
}

.item {
  display: flex;
  justify-content: start;
  margin-bottom: 38rpx;

  .icon {
    width: 115rpx;
    height: 115rpx;
    // background: #FFF6E5;
    // border-radius: 15rpx;
    margin-right: 19rpx;

    &.h_cat1 {
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/h_cat1.png");
      background-size: cover;
    }

    &.h_cat2 {
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/h_cat2.png");
      background-size: cover;
    }

    &.h_dog1 {
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/h_dog1.png");
      background-size: cover;
    }

    &.h_dog2 {
      background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/petMedicalRepport/h_dog2.png");
      background-size: cover;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 115rpx;
    // padding-top: 15rpx;

    .name {
      width: 100%;
      height: 42rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      font-size: 31rpx;
      color: #000000;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
    }

    .tw {
      width: 100%;
      height: 42rpx;
      font-family: PingFangSC, PingFang SC;
      font-weight: 400;
      font-size: 31rpx;
      color: #000000;
      line-height: 42rpx;
      text-align: left;
      font-style: normal;
    }
  }
}

.annotation {
  height: 35rpx;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 25rpx;
  color: #999999;
  line-height: 35rpx;
  text-align: center;
  font-style: normal;
  width: 100%;

  margin: 57rpx 0rpx 118rpx 0rpx;
}
