@import "@/utils/fn.scss";

.page-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #f7f8fc;
  padding-bottom: 60rpx;
  .bar {
    background-color: #fff;
    width: 100vw;
  }
  .bar-c {
    padding: 21rpx 31rpx;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header-top {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #f7f8fc;

    text {
      height: 88rpx;
      font-size: 35rpx;
      font-weight: bold;
      color: #000;
    }
    .status-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      // flex: 1;
      // bottom: 50%;
      font-weight: bold;
      font-size: 35rpx;
      color: #1f1f1f;

      image {
        width: 26rpx;
        height: 26rpx;
        margin-right: 8rpx;
      }
    }
    .return {
      width: 42rpx;
      height: 42rpx;
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
      );
    }
  }
  .block {
    height: 180rpx;
  }
  .scroll-list {
    height: 100%;
  }
  .mx-list {
    padding: 0 29rpx;
    .mx-item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      background: #ffffff;
      border-radius: 23rpx;
      padding: 28rpx 30rpx;
      margin-bottom: 19rpx;
      .ll {
        flex: 1;
        .name {
          font-weight: bold;
          font-size: 31rpx;
          color: #1f1f1f;
          margin-bottom: 12rpx;
        }
        .pet {
          font-size: 25rpx;
          color: #666666;
          margin-bottom: 8rpx;
        }
        .p1 {
          color: #ff5b05;
          margin-right: 15rpx;
        }
        .p2 {
          margin-right: 15rpx;
        }
        .time {
          font-size: 25rpx;
          color: #666666;
        }
      }
      .rr {
        .sign,
        .watch {
          font-size: 29rpx;
          color: #1f1f1f;
          padding: 18rpx 29rpx;
          border-radius: 35rpx;
        }
        .sign {
          background: #fee900;
          font-weight: bold;
        }
        .watch {
          text-align: center;
          border: 2rpx solid #e6e6e6;
        }
      }
      .signed {
        position: absolute;
        right: 0;
        top: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 77rpx;
        height: 29rpx;
        background: #fee900;
        width: 58px;
        font-size: 19rpx;
        color: #1f1f1f;

        border-radius: 0px 12rpx 0rpx 12rpx;
      }
    }
  }
}
