.item-card-warp {
	width: 704rpx;
	border-radius: 15rpx;
	margin: 19rpx auto 0;
	box-shadow: 0px 0px 8rpx 0px rgba(0, 0, 0, 0.04);
	background: #FFFFFF;
}

.item-card {
	.items-center {
		height: 138rpx;
		padding: 19rpx 31rpx;
	}

	.head-picture {
		position: relative;

		.img {
			width: 77rpx;
			height: 77rpx;
			background: #D8D8D8;
			display: block;
			border-radius: 50%;
		}
	}

	.name {
		font-size: 27rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #333333;
		line-height: 38rpx;
		padding-left: 19rpx;
	}

	.sex {
		margin-left: 12rpx;

		.img {
			width: 48rpx;
			height: 32rpx;
		}
	}
}

.img-one {
	position: absolute;
	top: -16rpx;
	left: -53rpx;
	width: 106rpx;
	height: 106rpx;
	margin-left: 50%;
}

.icon-right {
	display: flex;
	flex-direction: column;
}

.icon-right-up {
	display: flex;
}

.icon-right-ticketName {
	height: 33rpx;
	font-size: 23rpx;
	font-weight: 400;
	color: #AAAAAA;
	line-height: 33rpx;
	margin-left: 19rpx;
}