@import "../../utils/fn.scss";
.dad-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f5f6f7
    url("https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/headerbg.png")
    no-repeat fixed top;
  .header {
    padding: 0 31rpx;
    text-align: center;
  }
  .h5-header {
    width: 100%;
    height: 550rpx;
    background: #f5f6f7
      url("https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/h5hbgc1.png")
      no-repeat;
    background-size: 100% 100%;
    .topImage {
      width: 100%;
      height: 170rpx;
    }
  }
  .top-bar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 85rpx;
    display: flex;
    align-items: center;
    .avatar {
      width: 69rpx;
      height: 69rpx;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 11rpx;
      image {
        border-radius: 50%;
      }
    }
    .petname {
      @include textfclaw(26rpx, #666666);
    }
    .tb-title {
      @include textfclaw(34rpx, #000000);
      font-weight: 500;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .notice-msg {
    width: 100%;
    height: 65rpx;
    background: rgba(0, 0, 0, 0.5);
    @include textfclaw(25rpx, #fefffe, $align: left);
    display: flex;
    align-items: center;
    padding-left: 31rpx;
  }
  .indexaddressicon {
    margin-right: 22rpx;
  }
  .notice-close {
    font-size: 38rpx;
    margin-left: auto;
    margin-right: 39rpx;
  }
  .openbtn {
    width: 100rpx;
    height: 38rpx;
    background: #2dce80;
    border-radius: 33rpx;
    margin-left: 151rpx;
    @include flex();
    @include textfclaw(23rpx, #ffffff);
  }
  .scroll-wrap {
    width: 100vw;
    box-sizing: border-box;
    height: calc(100vh - 170rpx);
    // background: linear-gradient(180deg, transparent, #F5F6F7);
    // #ifdef H5
    // margin-top: -396rpx;
    height: 100vh;
    // #endif
    .scroll-body {
      // #ifdef H5
      margin-top: -396rpx;

      // #endif
    }
    .entry-wrap {
      width: 688rpx;
      margin: 0 auto;
      box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
      background-color: #ffffff;
      border-radius: 19rpx 19rpx 23rpx 23rpx;
      // #ifdef H5
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6) 0%,
        #ffffff 100%
      );
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
      // #endif
      .top-entry {
        position: relative;
        height: 318rpx;
        margin: 0 auto;
        margin-top: 19rpx;
        // #ifdef H5
        margin-top: 0;
        padding-bottom: 20rpx;
        // #endif
        .doctor-title {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: flex-start;
          padding: 31rpx 31rpx 0rpx 31rpx;
        }
        .itemwrap {
          display: flex;
          align-items: center;
          // #ifdef H5
          padding-bottom: 32rpx;
          // #endif
          @include absNormal(688rpx, 220rpx, 98rpx, $left: 0);
        }
        .entryitem {
          width: 315rpx;
          height: 220rpx;
          background: #ffffff;
          border-radius: 19rpx;
          position: relative;
          margin-left: 19rpx;
          @include bg(
            "https://frontend-cdn.chongpangpang.com/image/medical-mp/index/entryitem.png"
          );

          .entryicon {
            @include absNormal(96rpx, 96rpx, 71rpx, $left: 17rpx);
          }
          .desccontent {
            @include absNormal(auto, auto, 38rpx, $left: 128rpx);
          }
          .entrytag {
            @include absNormal(auto, 35rpx, 0, $right: 0);
            @include textfclaw(19rpx, #ffffff);
            background-color: #ff5b05cc;
            padding: 3rpx 13rpx;
            border-radius: 0rpx 19rpx 0rpx 19rpx;
            font-weight: bold;
          }
          .entryname {
            @include textfclaw(38rpx, #000, $lineH: 54rpx, $align: left);
            font-weight: 500;
            margin-bottom: 8rpx;
          }
          .des {
            @include textfclaw(21rpx, #666666, $lineH: 31rpx, $align: left);
            margin-bottom: 12rpx;
          }
          .subdesc {
            font-size: 23rpx;
          }
        }
      }
      .bottom-entry {
        height: 165rpx;
        margin: 0 auto;
        display: flex;
        padding: 0 30rpx 5rpx;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        .entryicon {
          // width: 100rpx;
          position: relative;
          text-align: center;
          // margin-top: 23rpx;
          text-align: center;
          .icon {
            width: 96rpx;
            height: 96rpx;
            margin: 0 auto;
          }
          .name {
            @include textfclaw(25rpx, #333333);
            font-weight: 500;
          }
        }
      }
    }
    .banner-wrapper {
      width: 688rpx;
      height: 162rpx;
      border-radius: 19rpx;
      margin: 19rpx 30rpx;
    }
    .record-wrapper {
      padding: 30rpx;
      width: 688rpx;
      box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
      border-radius: 19rpx;
      background: #ffffff;
      margin: 19rpx auto;
      transition: all 0.5s;
      .record-title {
        font-weight: 500;
        @include textfclaw(34rpx, #000000, $lineH: 48rpx, $align: left);
        margin-bottom: 19rpx;
      }
      .my-entrance {
        display: flex;
        justify-content: space-between;
        .entranceitem {
          text-align: center;
          image {
            width: 58rpx;
            height: 58rpx;
            margin: 0 auto;
          }
          .my-text {
            @include textfclaw(25rpx, #333333);
            font-weight: 500;
            margin-top: 7rpx;
          }
        }
      }
      .notice {
        margin-top: 19rpx;
        // width: 627rpx;
        height: 65rpx;
        background: rgba(126, 226, 76, 0.15);
        border-radius: 33rpx;
        display: flex;
        align-items: center;
        padding: 9rpx 19rpx;
        .avatar {
          width: 46rpx;
          height: 46rpx;
          border-radius: 50%;
          margin-right: 11rpx;
          image {
            border-radius: 50%;
          }
        }
        .msg {
          @include textfclaw(25rpx, #000000);
        }
        .go-detailbtn {
          width: 100rpx;
          height: 42rpx;
          background: #2dce80;
          border-radius: 33rpx;
          @include textfclaw(23rpx, #ffffff, $lineH: 42rpx);
          margin-left: auto;
        }
      }
    }
  }
  .topicon {
    position: fixed;
    right: 23rpx;
    bottom: 38rpx;
    width: 77rpx;
    height: 77rpx;
    background: #ffffff;
    box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
    border: 1rpx solid rgba(230, 230, 230, 0.5);
    border-radius: 50%;
    .toparrow {
      @include absNormal(42rpx, 42rpx, 5rpx, $left: 17rpx);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/toparrow.png"
      );
    }
    .text {
      @include absNormal(77rpx, auto, $bottom: 13rpx, $left: 0);
      @include textfclaw(19rpx, #666666);
    }
  }
  .toast-body {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    border-radius: 20rpx;
    padding: 20rpx;
    font-size: 28rpx;
    font-weight: bold;
    width: 60vw;
  }
}
