@import "../../utils/fn.scss";
.dad-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f3f3f4
    url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/newLightBg.png")
    no-repeat fixed top;
  .header {
    padding: 0 31rpx;
    text-align: center;
  }
  .top-bar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 85rpx;
    display: flex;
    align-items: center;
    .pet-box {
      display: flex;
      align-items: center;
      .left-icon {
        width: 22px;
        height: 22px;
        margin-right: 2px;
      }
      .pet-left {
        padding: 5px 11px 5px 6px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 15px;
        .avatar {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          object-fit: contain;
          margin-right: 5px;
          image {
            border-radius: 50%;
          }
        }
        .petname {
          //@include textfclaw(26rpx, #666666);
          font-size: 25rpx;
          font-family: PingFangSC, PingFang SC;
          font-weight: 500;
          color: #1f1f1f;
        }
      }
    }
    .tb-title {
      @include textfclaw(34rpx, #000000);
      font-weight: 500;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .notice-msg {
    width: 100%;
    height: 65rpx;
    background: rgba(0, 0, 0, 0.5);
    @include textfclaw(25rpx, #fefffe, $align: left);
    display: flex;
    align-items: center;
    padding-left: 31rpx;
  }
  .indexaddressicon {
    margin-right: 22rpx;
  }
  .notice-close {
    font-size: 38rpx;
    margin-left: auto;
    margin-right: 39rpx;
  }
  .openbtn {
    width: 100rpx;
    height: 38rpx;
    background: #2dce80;
    border-radius: 33rpx;
    margin-left: 151rpx;
    @include flex();
    @include textfclaw(23rpx, #ffffff);
  }
  .scroll-wrap {
    width: 100vw;
    box-sizing: border-box;
    // height: calc(100vh - 170rpx);
    // padding-top: 23rpx;
    // background: linear-gradient(180deg, transparent, #F5F6F7);
    padding-bottom: 50rpx;
    .entry-wrap {
      position: relative;
      width: 715rpx;
      // height: 558rpx;
      margin: 0 auto;
      // box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
      // background-color: #ffffff;
      border-radius: 19rpx 19rpx 23rpx 23rpx;
      // background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/newLightBg.png");
      .slogan-entry {
        display: flex;
        justify-content: center;
        // height: 412rpx;
        padding-top: 11rpx;
        background-color: rgba(249, 247, 240, 0);
        // background: linear-gradient(
        //   180deg,
        //   rgba(255, 200, 62, 0.37) 0%,
        //   rgba(255, 202, 57, 0.46) 15%,
        //   #ffce00 100%
        // );
        border-radius: 23rpx;
        // backdrop-filter: blur(10px);
        margin-bottom: 38.46rpx;
      }

      .content-entry {
        // position: absolute;
        top: 84rpx;
        left: 0;
        right: 0;
        //height: 504rpx;
        // background: linear-gradient(
        //   180deg,
        //   rgba(255, 255, 255, 0.84) 0%,
        //   #ffffff 100%
        // );
        // background-color: #f3f3f4;
        border-radius: 23rpx;
        // border: 2rpx solid rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        .top-entry {
          position: relative;
          height: 293rpx;
          //margin: 0 auto;
          //margin-top: 19rpx;

          .doctor-title {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            margin-top: 33rpx;
            margin-left: 38rpx;
            &-des {
              margin-left: 12rpx;
              // width: 154rpx;
              // height: 33rpx;
              padding: 0 4rpx;
              background: rgba(255, 255, 255, 0.7);
              border-radius: 17rpx;
              border: 1rpx solid #ff8315;
              font-size: 19rpx;
              font-family: PingFangSC, PingFang SC;
              font-weight: 500;
              color: #ff8315;
              line-height: 33rpx;
              text-align: center;
            }
          }
          .doctor-info {
            margin-top: 12rpx;
            margin-left: 38rpx;
            font-size: 21rpx;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            color: #1f1f1f;
            line-height: 31rpx;
            letter-spacing: 3px;
          }
          .doctor-dog {
            position: absolute;
            top: -64rpx;
            right: 11rpx;
          }
          .itemwrap {
            display: flex;
            align-items: flex-start;
            // margin-top: 20rpx;
            //@include absNormal(688rpx, 220rpx, 98rpx, $left: 0);
          }
          .entryitem-left {
            width: 351rpx;
            height: 361rpx;
            // background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/aiConsultation/aiInlet.png");
            background-size: contain;
            background-repeat: no-repeat;
            padding: 38rpx 0 0 28rpx;
            .ai-entryitem-title {
              font-size: 42rpx;
              font-weight: bold;
              color: #490101;
              margin-bottom: 3.85rpx;
            }
            .ai-entryitem-time {
              font-size: 27rpx;
              font-weight: 400;
              color: #490101;
              margin-bottom: 34rpx;
            }
            .ai-entryitem-content {
              display: flex;
              align-items: center;
              margin-bottom: 25rpx;
              .ai-content {
                margin-left: 9rpx;
                font-size: 23rpx;
                font-weight: 400;
                color: #7a3e00;
              }
            }
          }
          .entryitem-right {
            .entryitem {
              margin-bottom: 15rpx;
              width: 351rpx;
              height: 173rpx;
              background: rgba(243, 243, 244, 1);
              background-size: contain;
              background-repeat: no-repeat;
              border-radius: 23rpx;
              position: relative;
              margin-left: 19rpx;

              .entryicon {
                //@include absNormal(auto, auto, 38rpx, $left: 128rpx);
                @include absNormal(120rpx, 120rpx, 59rpx, $right: 5rpx);
              }
              .desccontent {
                @include absNormal(auto, auto, 36rpx, $left: 28rpx);
              }
              .entrytag {
                @include absNormal(auto, 35rpx, 0, $right: 0);
                @include textfclaw(19rpx, #ffffff);
                background-color: #ff5b05cc;
                padding: 3rpx 13rpx;
                border-radius: 0rpx 19rpx 0rpx 19rpx;
                font-weight: 600;
                line-height: 30rpx;
              }
              .entryname {
                @include textfclaw(42rpx, #af5f0c, $lineH: 58rpx, $align: left);
                font-weight: bold;
                margin-bottom: 3.85rpx;
              }
              .des {
                @include textfclaw(27rpx, #b96c1b, $lineH: 33rpx, $align: left);
              }
            }
          }
        }
        .bottom-entry {
          background-color: #fff;
          border-radius: 23rpx;
          // height: 178rpx;

          margin-top: 82rpx;
          display: flex;
          padding: 28rpx 50rpx 36rpx 50rpx;
          align-items: center;
          justify-content: space-between;
          align-items: center;
          .entryicon {
            // width: 100rpx;
            position: relative;
            text-align: center;
            // margin-top: 23rpx;
            text-align: center;
            .icon {
              width: 76rpx;
              height: 76rpx;
              margin: 0 auto;
            }
            .name {
              margin-top: 9rpx;
              @include textfclaw(25rpx, #333333);
              font-weight: 400;
            }
          }
        }
      }
    }
    .banner-wrapper {
      //width: 715rpx;
      height: 162rpx;
      border-radius: 19rpx;
      margin: 15rpx 17rpx;
    }
    .doc-list-wrapper {
      margin: 15rpx auto 0 !important;
    }
    .newSkinContent {
      margin-top: 115px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: #fff;
      border-radius: 10px;
      padding: 16px;
      .newSkinTitle {
        font-size: 18px;
        font-weight: 500;
        color: #000;
      }
      .newSkinBodyContent {
        padding: 0 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .newSkin {
          text-align: center;
          .newSkinIcon {
            width: 24px;
            height: 24px;
            margin-bottom: 8px;
          }
          .newSkinName {
            font-size: 13px;
            font-weight: 400;
            color: #333;
          }
        }
      }
    }
  }
  .topicon {
    position: fixed;
    right: 23rpx;
    bottom: 200rpx;
    width: 77rpx;
    height: 77rpx;
    background: #ffffff;
    box-shadow: 0rpx 4rpx 8rpx 0rpx rgba(237, 237, 237, 0.5);
    border: 1rpx solid rgba(230, 230, 230, 0.5);
    border-radius: 50%;
    .toparrow {
      @include absNormal(42rpx, 42rpx, 5rpx, $left: 17rpx);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/index2/toparrow.png"
      );
    }
    .text {
      @include absNormal(77rpx, auto, $bottom: 13rpx, $left: 0);
      @include textfclaw(19rpx, #666666);
    }
  }

  .test-topicon {
    position: fixed;
    right: 23rpx;
    bottom: 129rpx;
    width: 177rpx;
    height: 177rpx;
    background: red;

    &-box {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .text {
        //@include absNormal(77rpx, auto, $bottom: 13rpx, $left: 0);
        @include textfclaw(23rpx, #000000);
        line-height: 60rpx;
      }
    }
  }

  .toast-body {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    border-radius: 20rpx;
    padding: 20rpx;
    font-size: 28rpx;
    font-weight: bold;
    width: 60vw;
  }
}
