.page-wrapper {
  height: 100vh;
  position: relative;

  .top {

    .filter-wrapper {
      height: 70rpx;
    }

  }

  .scroll-wrapper {

    .item-warter {
      width: 100%;
      height: auto;
      border-radius: 10rpx;
      overflow: hidden;
      margin-bottom: 30rpx;
    }

    .item-warter image {
      width: 100%;
    }
  }

  .no-data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
