.view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .top-view {
    .img {
      width: 597rpx;
      height: 720rpx;
      vertical-align: bottom;
    }
  }
  .bottom-view {
    .img {
      width: 62rpx;
      height: 62rpx;
      vertical-align: bottom;
    }
  }
}
