@import "../../utils/fn.scss";

.sheet-lists {
}

.upper-con {
  text-align: center;
}

.no-data-con {
  padding-top: 180rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .go-sheet {
    margin-top: 30rpx;
    width: 169rpx;
    height: 62rpx;
    background: #ffc900;
    border-radius: 31rpx;
    text-align: center;
    line-height: 62rpx;
    font-size: 26rpx;
    font-weight: bold;
    color: #000000;
  }
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #ffffff;
  z-index: 1;
  padding-top: 196rpx;
  overflow: hidden;
}

.header-top {
  height: 177rpx;
  padding: 21rpx 31rpx 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0rpx;

  display: flex;

  .return {
    position: fixed;
    // left: 30;
    top: 113rpx;
    width: 42rpx;
    height: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
    );
  }

  .tabs-container {
    display: flex;
    position: fixed;
    left: 204rpx;
    top: 100rpx;
    border-radius: 38rpx;
    background-color: #F8F8F8;
    .item {
      font-size: 29rpx;
      color: #1F1F1F;
      line-height: 46rpx;
      padding: 6rpx 40rpx;
      margin: 6rpx;
    }
    .active {
      font-weight: 500;
      background-color: #FEE900;
      border-radius: 38rpx;
    }
    @media screen and (max-device-width: 375px) {
      ::v-deep .u-tabs__wrapper__nav__item {
        padding: 0;
      }

      ::v-deep .u-tabs__wrapper__nav__line {
        position: absolute;
        top: 43rpx;
        border-radius: 0;
      }
    }

    // }
  }
}
