@import "@/utils/fn.scss";

.pannel {
  background-color: #fff;
  position: relative;
  //   height: calc(100vh - 92rpx - 172rpx);
  padding: 0 38rpx;
  max-height: 673rpx;
  overflow-y: scroll;
  padding-top: 32rpx;
  padding-bottom: 31rpx;
}
.item {
  max-width: 750rpx;
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  .title {
    @include textfclaw(27rpx, #333);
    font-weight: bold;
    min-width: 135rpx;
    text-align: left;
  }
  .content {
    @include textfclaw(27rpx, #333);
    text-align: left;
  }

  &:first-child {
    margin-top: 0;
  }
}
.item-img {
  display: flex;
  align-items: flex-start;
  margin-top: 15rpx;
  .title {
    @include textfclaw(27rpx, #333);
    font-weight: bold;
    min-width: 135rpx;
    text-align: left;
  }
  .content {
    @include textfclaw(27rpx, #333);
    text-align: left;
  }
  .img-wrapper {
    display: flex;
    max-width: 511rpx;
    flex-wrap: wrap;
    align-items: flex-start;
    image {
      height: 88rpx;
      width: 88rpx;
      border-radius: 10rpx;
      margin-right: 15rpx;
    }
  }
}
.drop-up {
  height: 69rpx;
  width: 750rpx;
  margin-top: -2rpx;
  @include bg(
    "https://frontend-cdn.chongpangpang.com/image/medical-mp/chat/drop-up.png"
  );
}
