.ry-content-warp {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tip {
    padding-top: 500rpx;
    text-align: center;
    color: #333333;
  }
  .connnect-btn {
    margin-top: 50rpx;
    width: 300rpx;
    height: 80rpx;
    background: #ffc900;
    border-radius: 25px;
    text-align: center;
    line-height: 80rpx;
    font-size: 32rpx;
    font-weight: bold;
    color: #333;
  }
}
