@import "../../utils/fn.scss";
@import "../../utils/membertheme.scss";

.membercenter-page {
  transition: all 0.2s;
  height: 100vh;
  overflow-y: scroll;

  .header {
    .top-bar {
      display: flex;
      align-items: center;
      height: 62rpx;
      position: relative;
      .click {
        position: absolute;
        left: 0;
        top: 0;
        width: 120rpx;
        height: 90rpx;
      }

      .icon-back {
        font-size: 42rpx;
        margin-left: 19rpx;
        font-size: 48rpx;
        // margin-right: 10rpx;
      }

      .iconfont {
        font-size: 42rpx;
      }
      .icon-a-huiyuanzhongxin3x {
        font-size: 42rpx;
      }

      .splitline {
        width: 2rpx;
        height: 23rpx;
        margin-left: 17rpx;
        margin-right: 15rpx;
        opacity: 0.4;
      }

      .titledesc {
        font-size: 25rpx;
        line-height: 35rpx;
        width: 100rpx;
      }
    }
  }
  .bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #f7f8fc !important; // #f2f2f2;
  }
  .vippage {
    width: 750rpx;
    // height: 100vh;
    .benefitList {
      width: 100%;
      background-color: #f7f8fc; // #f2f2f2;
      border-radius: 31rpx;
      transition: all 0.5s;
      .benefitItem {
        width: 750rpx;
        background: #ffffff;
        border-radius: 31rpx;
        padding: 43rpx 29rpx 31rpx 29rpx;
        margin-bottom: 20rpx;
        .item-top {
          display: flex;
          align-items: center;
          margin-bottom: 45rpx;
          .benefitnme {
            @include textfclaw(35rpx, #333333, $align: left, $lineH: 48rpx);
            font-weight: bold;
          }
          .couponcount {
            margin-left: auto;
            @include flex();
            @include textfclaw(27rpx, #666666, $align: left, $lineH: 38rpx);
          }
        }
        .carditem {
          display: flex;
          align-items: center;
          margin-bottom: 19rpx;
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
          &.couponcard {
            width: 693rpx;
            height: 154rpx;
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV2/couponbg.png"
            );
            .leftwrap {
              width: 192rpx;
              height: 154rpx;
              text-align: center;
              @include flex();
              .couponface {
                @include textfclaw(
                  54rpx,
                  #ff5b05,
                  $align: center,
                  $lineH: 54rpx
                );
                font-weight: bold;
                display: flex;
                align-items: baseline;
                justify-content: center;
                &.free {
                  font-size: 38rpx;
                }

                .unit {
                  font-size: 24rpx;
                  font-weight: normal;
                  margin-left: 4rpx;
                }
              }
              .threshold {
                @include textfclaw(
                  25rpx,
                  #ff5b05,
                  $align: center,
                  $lineH: 35rpx
                );
              }
            }
            .centerwrap {
              margin-left: 37rpx;
              display: flex;
              align-items: center;

              .couponname {
                @include ellipsis(260rpx);
                @include textfclaw(29rpx, #ff5b05, $align: left, $lineH: 60rpx);
                font-weight: bold;
                margin-bottom: 6rpx;
              }
              .validate {
                @include textfclaw(25rpx, #ff5b05, $align: left, $lineH: 35rpx);
              }
            }
            .rightbtn {
              width: 142rpx;
              height: 54rpx;
              background: #ff5b05;
              border-radius: 27rpx;
              @include flex();
              @include textfclaw(25rpx, #ffffff, $align: center, $lineH: 35rpx);
              font-weight: bold;
              margin-right: 31rpx;
              margin-left: auto;
            }
          }
        }
        .normalpic,
        .giftpic {
          width: 693rpx;
          height: 100%;
        }
      }
    }
  }

  .equityList {
    width: 100%;
    padding-left: 40rpx;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 42rpx;
    animation: show 0.3s linear;
    .equity-item {
      width: 100rpx;
      margin-right: 46rpx;
      position: relative;
      // margin-bottom: 47rpx;

      &:nth-child(5n) {
        margin-right: 0rpx;
      }

      .iconwrap {
        width: 85rpx;
        height: 85rpx;
        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV2/circlebg.png"
        );
        @include flex();
        margin: 0 auto;
        &.locked {
          position: relative;

          .iconwrap {
            opacity: 0.5;
          }

          &::after {
            content: "";
            @include bg(
              "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV2/locked.png"
            );
            display: block;
            @include absNormal(27rpx, 31rpx, $top: 54rpx, $right: 0);
          }
        }
      }

      .itemicon {
        width: 43rpx;
        height: 43rpx;
      }

      .iconname {
        @include textfclaw(25rpx, #ffffff, $align: center, $lineH: 35rpx);
        margin-top: 10rpx;
      }

      .nextonline {
        @include textfclaw(
          21rpx,
          rgba(255, 255, 255, 0.8),
          $align: center,
          $lineH: 31rpx
        );
      }
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  &.level0_page {
    width: 750rpx;
    height: 100vh;
    position: relative;
    .bg {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(
        150deg,
        #ffdc83 0%,
        #ffe27f 13%,
        #f4b24b 33%,
        #ffac28 100%
      );
    }
    .splitline {
      border: 1rpx solid getNormalColor(0);
    }
  }

  &.level1_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx; // 1035rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #89D9F7, #039DF1);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_1.png"
      );
    }

    .splitline {
      border: 1rpx solid getNormalColor(1);
    }
  }

  &.level2_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #FFDCCD, #C1856C);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_2.png"
      );
    }

    .splitline {
      border: 1rpx solid getNormalColor(2);
    }
  }

  &.level3_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #E4F1F9, #5A95C4);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_3.png"
      );
    }
    .splitline {
      border: 1rpx solid getNormalColor(3);
    }
  }

  &.level4_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #FFE8AC, #D18F21);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_4.png"
      );
    }
    .splitline {
      border: 1rpx solid getNormalColor(4);
    }
  }

  &.level5_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #A8ACF4, #7F72DB);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_4.png"
      );
    }
    .splitline {
      border: 1rpx solid getNormalColor(5);
    }
  }

  &.level6_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #40477A, #0C0D25);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_4.png"
      );
    }
    .splitline {
      border: 1rpx solid getNormalColor(6);
    }
  }

  &.level7_page {
    position: relative;
    .subbg {
      width: 100%;
      height: 1065rpx;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      // background: linear-gradient(to right bottom, #716768, #000000);
      @include bg(
        "https://frontend-cdn.chongpangpang.com/image/medical-mp/memberV5/memberCenterBg_4.png"
      );
    }

    .splitline {
      border: 1rpx solid getNormalColor(7);
    }
  }
}
