@import "@/utils/fn.scss";

.page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-top {
  height: 177rpx;
  padding: 21rpx 31rpx 0;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  text {
    display: inline-block;
    height: 88rpx;
    font-size: 35rpx;
    font-weight: bold;
    color: #000;
  }
  .return {
    position: absolute;
    width: 42rpx;
    height: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
    );
  }
}
.scroll-state {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
  height: 177rpx;
  padding: 21rpx 31rpx 0;
  text-align: center;
  text {
    display: inline-block;
    height: 88rpx;
    font-size: 35rpx;
    font-weight: bold;
    color: #000;
  }
  .return {
    position: absolute;
    // left: 0;
    width: 42rpx;
    height: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
    );
  }
}
.swiper-box {
  width: 100%;
  // height: 375rpx;
  margin-top: 181rpx;
  position: relative;
  margin-bottom: 21rpx;
  // #ifdef  H5
  margin-top: 20rpx;

  //  #endif
  .swiper-item {
    width: 692rpx;
    height: 375rpx;
    margin: 0 auto;
    position: relative;
    .green-bg {
      width: 100%;
      height: 56rpx;
      background-color: rgba(45, 206, 128, 0.09);
      position: absolute;
      bottom: 0;
      border-radius: 0 0 31rpx 31rpx;
      .change-pet {
        @include textfclaw(23rpx, #000);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38rpx;
        width: 142rpx;
        border-radius: 19rpx;
        border: 2rpx solid #000000;
        position: absolute;
        right: 52rpx;
        top: 6rpx;
        .icon {
          @include bg(
            "https://frontend-cdn.chongpangpang.com/image/medical-mp/casehistory/change-tag.png"
          );
          height: 22rpx;
          width: 22rpx;
          margin-right: 4rpx;
        }
      }
    }
  }
  .empty {
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/zhichong/petlist/empty-petinfo-bg.png"
    );
  }
  .normal {
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/casehistory/new-petinfo-bg.png"
    );
  }
  .content {
    @include absNormal($w: 631rpx, $h: 237rpx, $top: 121rpx, $left: 38rpx);

    .title {
      @include textfclaw(25rpx, #999);
      font-weight: 400;
    }
    .options {
      height: 33rpx;
      line-height: 33rpx;
      display: flex;
      align-items: center;
      margin-top: 15rpx;
      .options-content {
        margin-left: 15rpx;
        @include textfclaw(23rpx, #000);
        font-weight: bold;
      }
    }
    .id-num {
      @include textfclaw(23rpx, #008773, $lineH: 33rpx);
      font-weight: 400;
      height: 33rpx;
      position: absolute;
      bottom: -6rpx;
      display: flex;
      align-items: center;
    }
    .avatar-zone {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      @include absNormal($w: 204rpx, $h: 158rpx, $top: 12rpx, $right: 0rpx);
      .avatar {
        border: 5rpx solid #fff;
        height: 108rpx;
        width: 108rpx;
        box-shadow: 0px 4rpx 8rpx 0px rgba(0, 0, 0, 0.08);
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        image {
          object-fit: contain;
        }
      }
      .edit {
        position: relative;
        z-index: 2;
        margin-top: -20rpx;
        width: 60rpx;
        height: 25rpx;
        background: #ffffff;
        box-shadow: 0rpx 4rpx 6rpx 0rpx rgba(0, 0, 0, 0.08);
        border-radius: 12rpx;
        border: 1rpx solid #52dac5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17rpx;
        color: #555555;
        margin-bottom: 3rpx;
      }
      .name {
        height: 38rpx;
        line-height: 38rpx;
        display: flex;
        align-items: center;
        @include textfclaw(27rpx, #333);
        font-weight: bold;
        // margin-top: 15rpx;
      }
      .name-long {
        height: 27rpx;
        line-height: 27rpx;
        display: flex;
        align-items: center;
        @include textfclaw(19rpx, #333);
        font-weight: bold;
        margin-top: 23rpx;
      }
    }

    .empty-info {
      height: 137rpx;
      width: 596rpx;
      // margin: 0 auto;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 17%;
      .right {
        height: 137rpx;
        width: 135rpx;
        @include bg(
          "https://frontend-cdn.chongpangpang.com/image/medical-mp/zhichong/index/pet-add-avatar.png"
        );
      }
      .left {
        width: 415rpx;
        .fitst-row {
          display: flex;
          align-items: center;
          @include textfclaw(31rpx, #000);
          font-weight: bold;
          .img {
            height: 42rpx;
            width: 42rpx;
          }
        }
        .second-row {
          margin-top: 15rpx;
          @include textfclaw(23rpx, #999);
          font-weight: 400;
          text-align: left;
        }
      }
    }
  }
}
.scroll-wrapper {
  height: calc(100vh - 50rpx);
  .color-bg {
    @include absNormal($w: 750rpx, $h: 729rpx, $top: 0, $left: 0);
    background: linear-gradient(
      180deg,
      #ebfff4 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: -1;
  }
  .pet_emp {
    width: 692rpx;
    height: 375rpx;
    margin-top: 181rpx;
    position: relative;
    margin-bottom: 21rpx;
    margin-left: 28rpx;
    // #ifdef  H5
    margin-top: 20rpx;

    //  #endif
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/zhichong/my/add_pet.png"
    );
  }
}
.list-wrapper {
  position: relative;
  padding-left: 60rpx;
  padding-top: 31rpx;
  width: 100%;
  // background: #f5f6f7;
  .no-more {
    @include textfclaw(27rpx, #999);
    text-align: left;
    .dot {
      display: inline-block;
      width: 19rpx;
      height: 19rpx;
      background: #2dce80;
      border-radius: 50%;
      margin-left: -9rpx;
      margin-right: 46rpx;
    }
  }
}
.list-title {
  // padding-left: 38rpx;
  margin-bottom: 23rpx;
}
.medical-record-item {
  display: flex;
  flex-direction: column;
  // margin-bottom: 30rpx;
  border-left: 2rpx dashed rgba(204, 204, 204, 1);
  padding-bottom: 46rpx;
  .item-title {
    display: flex;
    align-items: center;
    margin-bottom: 46rpx;
    margin-left: -29rpx;
    margin-top: -6rpx;
    .time-con {
      flex: 0;
      width: 338rpx;
      height: 50rpx;
      display: flex;
      align-items: center;
      background: linear-gradient(
        270deg,
        rgba(45, 206, 128, 0) 0%,
        rgba(45, 206, 128, 0.3) 100%
      );
      border-radius: 25rpx 0px 0px 25rpx;
      // opacity: 0.3;
      .time-icon-con {
        margin-left: 6rpx;
        height: 42rpx;
        width: 42rpx;
        border-radius: 50%;
        background: #2dce80;
        display: flex;
        justify-content: center;
        align-items: center;
        .time-icon {
          width: 35rpx;
          height: 35rpx;
          // margin: 0 8rpx;
        }
      }

      .time-text {
        flex: 1;
        margin-left: 10rpx;
        font-size: 27rpx;
        font-weight: bold;
        color: #000000;
        line-height: 38rpx;
        white-space: nowrap;
      }
    }

    .last-time-icon {
      margin-left: 15rpx;
      flex: 0 123rpx;
      height: 38rpx;
      // width: 123rpx;
    }
  }
  .item-header {
    width: 600rpx;
    height: 77rpx;
    margin-left: 50rpx;
    .item-header-img {
      display: block;
      width: 600rpx;
      height: 77rpx;
    }
  }

  .item-body {
    margin-top: -2rpx;
    padding: 31rpx 23rpx;
    border-radius: 0px 0 15rpx 15rpx;
    border: 1rpx solid #eeeeee;
    border-top: none;
    width: 600rpx;
    margin-left: 50rpx;
    background: #fff;

    .result {
      display: flex;
      align-items: flex-start;
      // margin-bottom: 12rpx;
      overflow: hidden;
      .result-title {
        flex: 0 108rpx;
        height: 38rpx;
        font-size: 27rpx;
        font-weight: 400;
        color: #999999;
        line-height: 38rpx;
      }
      .result-text {
        flex: 1;
        margin-left: 46rpx;
        font-size: 27rpx;
        font-weight: 400;
        color: #000000;
        line-height: 38rpx;
        overflow: hidden;
        .result-diagnosis {
          margin-bottom: 23rpx;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .text-line-two {
          text-overflow: ellipsis;
          display: -webkit-box; //作为弹性伸缩盒子模型显示。
          -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
          -webkit-line-clamp: 2; //显示的行
        }
      }
      .Remarks {
        margin-bottom: 12rpx;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .btn-con {
      .btn {
        padding: 17rpx;
        font-size: 31rpx;
        line-height: 42rpx;
        color: #2dce80;
        text-align: center;
        background: #ffffff;
        border-radius: 46rpx;
        border: 1rpx solid #2dce80;
        font-weight: bold;
      }
    }
  }
}
.tab-card {
  display: flex;
  width: 100vw;
  padding: 30rpx 20rpx 15rpx;
  font-weight: 500;
  font-size: 29rpx;
  color: #1f1f1f;
  // background-color: #f5f6f7;
  .list-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60rpx 0 0;

    .text {
      margin: 0 0 10rpx 0;
    }
    .line {
      width: 60rpx;
      height: 6rpx;
      background: #ffb400;
      border-radius: 3rpx;
    }
  }
}
