@import "@/utils/fn.scss";
.page-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(245, 246, 247, 1);
  padding-top: 19rpx;
  padding-bottom: 19rpx;
  position: relative;
  overflow: hidden;
  .title {
    @include textfclaw(29rpx, #666);
    font-weight: bold;
    margin-bottom: 31rpx;
  }
  .scroll {
    height: calc(100vh - 177rpx - 60rpx - 40rpx);
  }
  .bottom-zone {
    width: 750rpx;
    height: 177rpx;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 19rpx 31rpx;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 77rpx;
      width: 192rpx;
      margin-left: 19rpx;
      @include textfclaw(31rpx, #000);
      font-weight: bold;
      border-radius: 40rpx;
      border: 2rpx solid #e6e6e6;
    }
    .green {
      background-color: #2DCE80;
      color: #fff;
      border: none;
    }
  }
}
