@import "utils/fn.scss";

.page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .color-bg {
    @include absNormal($w: 750rpx, $h: 1842rpx, $top: 0, $left: 0);
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/share-bg.png"
    );
  }
  .rule-button {
    @include absNormal($w: 44rpx, $h: 87rpx, $top: 225rpx, $right: 0);
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/rule-tag.png"
    );
  }
}

.header-top {
  height: 110rpx;
  padding: 21rpx 31rpx 0;
  text-align: center;
  position: relative;
  text {
    display: inline-block;
    height: 88rpx;
    font-size: 35rpx;
    font-weight: bold;
    color: #000;
  }
  .return {
    position: absolute;
    // left: 0;
    width: 42rpx;
    height: 42rpx;
    @include bg(
      "https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/return-tag.png"
    );
  }
}
.card-step {
  padding: 35rpx 54rpx 0 54rpx;
  width: 673rpx;
  height: 296rpx;
  background: #ffffff;
  border-radius: 19rpx;
  position: absolute;
  top: 808rpx;
  left: 38rpx;
  box-sizing: border-box;
  .title-con {
    display: flex;
    align-items: center;
    justify-content: center;
    .title-line {
      width: 67rpx;
      height: 2rpx;
      background: #333333;
    }
    .title-text {
      padding: 0 20rpx;
      height: 42rpx;
      font-size: 31rpx;
      font-weight: 400;
      color: #000000;
      line-height: 42rpx;
    }
  }

  .step-con {
    margin-top: 30rpx;
    display: flex;
    justify-content: space-between;
    .step-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon {
        width: 69rpx;
        height: 69rpx;
        background-repeat: no-repeat;
        background-size: cover;
        &.icon1 {
          background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/share-icon1.png");
        }
        &.icon2 {
          background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/share-icon2.png");
        }
        &.icon3 {
          background-image: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/share-icon3.png");
        }
      }
      .text-con {
        margin-top: 19rpx;
        font-size: 23rpx;
        font-weight: 400;
        color: #333333;
        line-height: 33rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .step-right-con {
      padding-top: 24rpx;
      .step-right {
        width: 12rpx;
        height: 21rpx;
        background: url("https://frontend-cdn.chongpangpang.com/image/medical-mp/coupon/share-righticon.png")
          no-repeat;
        background-size: cover;
      }
    }
  }
}
.invite-list {
  padding: 35rpx 54rpx 0 54rpx;
  width: 673rpx;
  max-height: 525rpx;
  background: #ffffff;
  border-radius: 19rpx;
  position: absolute;
  top: 1117rpx;
  left: 38rpx;
  box-sizing: border-box;
  overflow: hidden;
  .title-con {
    display: flex;
    align-items: center;
    justify-content: center;
    .title-line {
      width: 67rpx;
      height: 2rpx;
      background: #333333;
    }
    .title-text {
      padding: 0 20rpx;
      height: 42rpx;
      font-size: 31rpx;
      font-weight: 400;
      color: #000000;
      line-height: 42rpx;
    }
  }
  .invite-num {
    @include textfclaw(23rpx, #999);
    font-weight: 400;
  }
  .list-wrapper {
    // margin-top: 35px;
    height: 410rpx;
    overflow-y: auto;
    .item {
      padding: 35rpx 0;
      display: flex;
      align-items: center;
      border-bottom: 1rpx dotted #979797;
      height: 146rpx;
      .img-con {
        flex: 0 69rpx;
        height: 69rpx;
        border-radius: 50%;
        overflow: hidden;
        image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .item-content {
        margin-left: 19rpx;
        flex: 1;
        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .phone {
            height: 23rpx;
            font-size: 29rpx;
            font-weight: 400;
            color: #333333;
            line-height: 23rpx;
          }
          .state {
            // padding-top: 3px;
            width: 76rpx;
            height: 29rpx;
            border-radius: 22rpx;
            border: 1rpx solid #00b87d;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text {
              font-size: 18rpx;
              font-weight: 500;
              color: #00b87d;
              text-align: center;
              line-height: 29rpx;
            }
          }
        }
        .bottom {
          margin-top: 16rpx;
          .time {
            height: 19rpx;
            font-size: 21rpx;
            font-weight: 300;
            color: #9b9b9b;
            line-height: 19rpx;
          }
        }
      }
    }
  }
}

.share-zone {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 181rpx;
  width: 100%;
  padding-top: 15rpx;
  .btn {
    margin: 0 auto;
    background-color: rgba(255, 201, 0, 1);
    font-size: 31rpx;
    font-weight: bold;
    color: #000;
    height: 85rpx;
    width: 673rpx;
    line-height: 85rpx;
    border-radius: 40rpx;
  }
}
