.pay-card {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background: #ffe257;
  display: flex;
  flex-direction: column;
}

.main {
  // flex: 1;
  // overflow-y: scroll;
  padding: 0 33rpx 0 29rpx;
  margin-top: -20rpx;
}

.form-bgc {
  background: url("https://frontend-cdn.chongpangpang.com/image/activity-miniapp/index/a_form_bg_1.png")
    no-repeat;
  background-size: 100%;
  width: 100%;
  height: 400rpx;
}

.form {
  background: url("https://frontend-cdn.chongpangpang.com/image/activity-miniapp/index/a_form_bg_2.png")
    no-repeat;
  background-size: 100%;
  background-position: left bottom;
  height: 994rpx;
  padding: 0 31rpx;
}

.bg-white {
  overflow-y: scroll;
  // background-color: #fff;
  // padding: 0 31rpx;
  height: 98%;
}

.form-item {
  margin-bottom: 46rpx;

  .lable {
    display: flex;
    align-items: center;
    margin-bottom: 24rpx;

    .text {
      font-size: 27rpx;
      font-weight: bold;
      color: #333333;
      margin-right: 8rpx;
    }

    .required {
      color: #f4333c;
    }
  }

  .formInput {
    width: 627rpx;
    height: 85rpx;
    background: #f6f7fb;
    border-radius: 15rpx;
    border: 0;
    padding-left: 31rpx;
  }

  .formText {
    width: 627rpx;
    height: 120rpx;
    background: #f6f7fb;
    border-radius: 15rpx;
    border: 0;
    padding-left: 31rpx;
    padding-top: 10rpx;
    resize: none;
  }
  .subtitle {
    font-size: 25rpx;
    color: #666666;
    line-height: 35rpx;
    margin-top: -14rpx;
    margin-bottom: 19rpx;
  }
  .imagewrap {
    display: flex;
    align-items: flex-end;
    .tips {
      font-size: 25rpx;
      color: #999999;
      line-height: 35rpx;
      margin-left: 19rpx;
    }
  }
  .imageicon {
    background: url("https://frontend-cdn.chongpangpang.com/image/activity-miniapp/index/imageicon.png")
      no-repeat;
    background-size: 100% 100%;
    width: 212rpx;
    height: 212rpx;
    flex-shrink: 0;
  }
  .avatarurl {
    width: 212rpx;
    height: 212rpx;
    flex-shrink: 0;
  }
  .radioitem,
  .checkitem {
    display: inline-flex;
    min-width: 196rpx;
    max-width: 627rpx;
    // height: 85rpx;
    background: #f6f7fb;
    border-radius: 15rpx;
    border: 2rpx solid #e1e1e1;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: 27rpx;
    line-height: 38rpx;
    margin-right: 19rpx;
    margin-bottom: 19rpx;
    padding: 23rpx;
    word-break: break-all;
    &:last-of-type {
      margin-right: 0rpx;
    }
    &.selected {
      border: 2px solid #1f1f1f;
      color: #1f1f1f;
      font-weight: bold;
    }
  }
  .checkitem {
    &.selected {
      position: relative;
      &::after {
        content: "";
        background: url("https://frontend-cdn.chongpangpang.com/image/activity-miniapp/index/selectedicon.png")
          no-repeat;
        background-size: 100% 100%;
        width: 31rpx;
        height: 31rpx;
        position: absolute;
        bottom: -2rpx;
        right: -2rpx;
      }
    }
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85rpx;
  background: #1f1f1f;
  border-radius: 40rpx;
  margin: auto 0;
  font-size: 29rpx;
  font-weight: bold;
  color: #ffffff;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 15rpx 38rpx;
  margin-top: 46rpx;
}

.tips-txt {
  width: 620rpx;
  // height: 42px;
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 36rpx;
}
