@import "utils/fn.scss";
.page-wrapper {
  background-color: rgba(245, 246, 247, 1);
  height: 100vh;
  padding-top: 30rpx;
}
.my-contact-list {
  margin: 0 auto;
  width: 688rpx;
  background: #ffffff;
  border-radius: 31rpx;
  font-size: 31rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: bold;
  color: #003b32;
  .my-contact-item {
    height: 123rpx;
    @include flex();
    padding: 31rpx 38rpx;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .left {
      @include flex();
      align-items: center;
      .my-contact-icon {
        width: 48rpx;
        height: 48rpx;
        margin-right: 31rpx;
      }
    }
    .my-contact-router {
      width: 31rpx;
      height: 31rpx;
    }
  }
}
